<tr>
    <td>  <%= guest.email %> </td>
    <td>  <%= guest.source %>          </td>
    <td>  <%= guest.status %>          </td>
    <% if guest.user_id %>
        <td>  <%= guest.user.created_at.strftime( '%m/%d/%y' ) %>
        <td>  <%= ( guest.user.active ? 'Active' : 'Inactive' )%> </td>
        <td>  <%= link_to h(guest.user.username), guest.user %> </td>
    <%end%>
</tr>