<tr class="line_item">
  <td>
    <% locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>

    <% if line_item.photo %>
        <%=  image_tag line_item.photo.thumb_url   %>
    <% else %>
        <% if variant.images.length == 0 %>
            <%= small_image(variant.product) %>
        <% else %>
            <%=  image_tag variant.images.first.attachment.url(:small)   %>
        <% end %>
    <%end%>

  </td>
  <td>
          <div class="product">
            <h4><%= link_to variant.product.name,  product_path(variant.product) %></h4>
          </div>
          <div class="variant">
            <%= variant_options variant %>
          </div>
          <div class="description">
            <%= truncate(variant.product.description, :length => 100, :omission => "...") %>
          </div>
          <div>
             <%= link_to t('delete').downcase, '#', :class => 'delete' %>
          </div>
  </td>
  <td class="price">
      <%=  product_price(line_item) %>
  </td>
  <td>
    <div class="quantity">
     <%= item_form.text_field :quantity, { :class => "item_quantity"} %>
    </div>
  </td>

  <%#
  <td>
       format_price(product_price(line_item, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil?
  </td>
    %>

</tr>

<% content_for :page_javascript do %>
<script type="text/javascript" >
   $(document).ready( function(){
        $('.item_quantity').numeric({ emptyValue: false,
                                      minValue: 1,
                                      maxValue: 500,
                                      increment: 1 });
    });
</script>
<%end%>