<tr>
  <td style="text-align: center;">
    <% locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>

    <% if line_item.photo %>
        <%= framed_photo_tag( line_item.photo, 185, 145 )%>
  <% else %>
        <% if variant.images.length == 0 %>
            <%= small_image(variant.product) %>
        <% else %>
            <%=  image_tag variant.images.first.attachment.url(:small)   %>
        <% end %>
    <%end%>

  </td>
  <td>
    <table>
      <tr>
        <td class="price no-border">
          <div class="product_name"> <%= variant.product.name %></div>
          <div class="variant_description"> <%= variant_options variant %>   </div>
          <div class="variant_description"><%= truncate(variant.product.description, :length => 100, :omission => "...") %> </div>
          <div class="variant_description"> <%= link_to t('delete').downcase, '#', :class => 'delete' %></div>
        </td>
        <td class="price no-border"><%=  product_price(line_item) %></td>
        <td class="price no-border"><%= item_form.text_field :quantity, { :class => "item_quantity"} %></td>
        <td class="price no-border"><%=format_price(product_price(line_item, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil?%></td>
      </tr>
    </table>
  </td>

</tr>