<%# locals = {:order => order} %>
<%  line_items         = @order.line_items.visible_by_variant( variant )
   unless line_items.empty? %>
    <%
     printset_quantity  = line_items.first.quantity
     printset_price     = line_items.map{|li| li.price}.reduce(:+)
     variant_count      = line_items.count
     product            = variant.product
     item_form         = nil unless defined?(item_form)
     change            = nil unless defined?(change)
    %>
    <tr>
      <td style="text-align: center; position: relative;">
        <div class="clearfix">
        <div style="position: relative; min-width: 152px; min-height:80px;" class="clearfix">
            <%= stacked_photo_tag( line_items.first.photo, 100, 100 )%>
        </div>
        </div>
      </td>
      <td>
        <table>
          <tr>
            <td class="product no-border">

              <% if item_form.present?  %>
                  <div class="product_name"><%= "Set of #{product.name}" %></div>
              <%else%>
                  <div class="product_name"> <%= pluralize  printset_quantity, 'Set' %><%=" of #{product.name}"%></div>
              <%end%>

              <div class="variant_description"><%=pluralize variant_count, variant.custom_description %></div>


              <% if item_form.present? %>
                  <div class="variant_description">
                    <%= link_to t('delete').titleize, 'javascript:void(0);', :class => 'delete' %>&nbsp&nbsp
                    <%= link_to t('details').titleize, 'javascript:void(0);', :class => 'details', :data_variant => variant.id %>
                  </div>
              <%elsif change.present?%>
                  <div class="variant_description">
                    <%= link_to t('change').titleize, cart_path,  :class => 'change' %>
                    &nbsp&nbsp
                    <%= link_to t('details').titleize, 'javascript:void(0);', :class => 'details', :data_variant => variant.id %>
                  </div>
              <%else%>
                 <div class="variant_description">
                    <%= link_to t('details').titleize, 'javascript:void(0);', :class => 'details', :data_variant => variant.id %>
                 </div>
              <%end%>
            </td>

            <% if item_form.present? %>
                <td class="price no-border"><%= format_price( printset_price) %></td>
                <td class="price no-border"><%= text_field_tag "order[printset_quantity][#{variant.id}]",printset_quantity,{ :class => "item_quantity"} %></td>
            <%end%>
            <td class="price no-border"><%=format_price( printset_price * printset_quantity) unless printset_quantity <= 0%></td>
          </tr>
        </table>
      </td>
    </tr>
    <% line_items.each do |line_item|%>
    <tr class="<%=variant.id%>" style="display:none;">
      <td>
      </td>
      <td style="text-align: left; ">
        <div style="text-align: center; width: 110px;">
            <%= framed_photo_tag( line_item.photo, 100, 100 )%>
        </div>
      </td>
    </tr>
    <%end%>
<% end %>