
<%content_for :page_title do
    if @order.line_items.empty?
        t('your_cart_is_empty')
    else
        t("items_in_your_cart")
    end
end %>

<%content_for :nav_bar_center do
 end%>

<div class="checkout-content" id="cart">
  <% if @order.line_items.empty? %>
      <a href="/" class="newgreen-button" id="continue-shopping-greenbutton"><span><%= "#{t('continue_shopping')}"%></span></a>
  <%else%>
      <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
          <%= render :partial => 'form', :locals => {:order_form => order_form} %>
      <% end %>
  <% end %>

  <% unless @order.line_items.empty? %>
      <div id="subtotal" class="clearfix">

        <div id="spin_here">&nbsp</div>
        <div id="amount">

        <h3>
          <a id="update-cart" href="javascript:void(0);" class="gray-button"><span><%= "#{t('update').titleize}"%></span></a>
          &nbsp &nbsp
          <%= "#{t("subtotal")}  #{order_price(@order)}" %>
        </h3>
        </div>

      </div>
  <%end%>
</div>

<%unless @order.line_items.empty? %>

    <%content_for :next_button do %>
        <a  href="javascript:void(0);" class="next-button checkout-cart"><span><%= "#{t('checkout')}"%></span></a>
    <%end%>

    <%content_for :back_button do %>
        <a href="<%=back_to_shopping_url%>" class="back-button"><span><%= "#{t('buy_more')}"%></span></a>
    <%end%>

<%end%>

<%content_for :page_javascript  do%>
<script type="text/javascript">
 $(document).ready( function(){
     var spin = function(){
              new Spinner({ lines: 8,
                  length: 4,
                  width: 3,
                  radius: 3,
                  color: '#333',
                  speed: 1,
                  trail: 50, // Afterglow percentage
                  shadow: false
              }).spin( document.getElementById('spin_here'));
          };

     $('form#updatecart a.delete').click( function(e){
        e.preventDefault();
        if( confirm('<%=t('are_you_sure_delete')%>') ){
            spin();
            $('form#updatecart a.delete').css('color', '#666666' );
            subject = $(this).parents('tr');
            subject.fadeOut(1000);
            subject.find('input.item_quantity').val(0);
            $('form#updatecart').submit();
        }
        return false;
     });

     $('#update-cart').click( function(){
         $(this).unbind('click');
         $('a.checkout-cart').unbind('click');
         $('a.delete').unbind('click');
         $(this).attr('disabled', 'disabled');
         $(this).unbind('click');
         spin();
         $('form#updatecart').submit();
     });

     $('a.checkout-cart').click( function(){
        $(this).unbind('click');
        $('#update-cart').unbind('click');
        $('a.delete').unbind('click');
        $(this).unbind('click');
        spin();
        $('form#updatecart').attr('action', '<%=checkout_cart_path%>');
        $('form#updatecart').submit();
     });


     $('a.details').click( function(e){
            var variant_id = $(this).attr('data_variant');
            $('.'+variant_id).toggle();
     });
 });
</script>
<%end%>