<h1><%=t("orders") %></h1>

<div id="order">

  <table>
    <tr>
      <th>Date</th>
      <th>Number</th>
      <th>Payment Status</th>
      <th>Shipping Status</th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
      <td><%=link_to order.completed_at.strftime("%d %b %Y"), order_path( order) %></td>
      <td><%=link_to order.number,  order_path( order) %></td>
      <td><%=order.payment_state%></td>
      <td><%=order.shipment_state%></td>
    </tr>
    <%end%>
  </table>


  <p>
    <%= link_to t('back_to_store'), root_path %>
    <% unless params.has_key? :checkout_complete %>
    	| <%= link_to t('my_account'), account_path if current_user%>
    <% end %>
  </p>
</div>