<%content_for :page_title do%>
    <%= accurate_title %>
<% end %>

<%content_for :back_button do %>
    <% if current_user %>
    <a href="<%=user_pretty_url(current_user)+'/settings#orders'%>" class="back-button"><span><%= "#{t('back')}"%></span></a>
    <%end%>
<%end%>


<div class="checkout-content">
  <div id="show" class="clearfix">
    <div>
    <div id="right_side" class="clearfix">
      <div id="order_summary" >
      <h3 class="center-block summary-bold" style="text-align:center; "><%= t('order_status') %></h3>
          <table>
            <tbody>
            <tr class="summary-lines">
              <td colspan="2"> Your order is <%= t(@order.state, :scope => :customer_order_state) %> </td>
            </tr>
            <tr class="summary-lines">
              <td colspan="2"> <a href="javascript:void(0);" onclick="Zenbox.show();"> Report a problem </a></td>
            </tr>
            <tr class="summary-lines">
               <td colspan="2"> <a href="javascript:void(0);" onclick="Zenbox.show();"> Return an Item </a></td>
            </tr>
            <tr class="order-total summary-bold">
              <td colspan="2"> &nbsp</td>
            </tr>
            </tbody>
            </table>
            <div class="center-block order-total summary-bold" style="text-align:center; ">
               <%= t('order')+' '+t('order_total') %>  <%= number_to_currency @order.total %>
            </div>
            <div class="summary-centered-lines" >Placed <%= @order.completed_at.strftime( "%B %d, %Y" ) %></div>
            </br>
            <table>
            <tbody>
            <tr>

            </tr>
            <tr class="summary-lines">
              <td><%= t('item_total') %></td>
              <td style="text-align: right;"><%= number_to_currency @order.item_total %></td>
            </tr>
            <tbody class="summary-lines">
<%
   @order.adjustments.each do |adjustment|
       # remove any without an ammount. most likely, these will be
       # extra shipping adjustments when the order is split
       if(adjustment.amount != 0)
%>
                <tr>
                  <td><%= adjustment.label %></td>
                  <td style="text-align: right;"><%= number_to_currency adjustment.amount %></td>
                </tr>
<%
       end
   end
%>
            </tbody>
            <tr class="order-total summary-bold">
                <td colspan="2"> &nbsp</td>
            </tr>
          </table>
           <div class="summary-centered-lines">100% Satisfaction Guarantee</div>
      </div>
    </div>
      </div>


    <div id="left_side">
      <div id="order_info" class="clearfix">
        <div id="ship_address" >

          <%= render :partial =>'checkout/address_display', :locals => { :address => @order.ship_address,:label =>t("shipping_address") } %>
          <p>&nbsp</p>
          <div id="tracking">
            <% if @order.shipments.shipped.count > 0 %>
                <div class="address_label">
                  <%=t('shipping').titleize%>
                  <a id="shipping_question"
                     class="field_question"
                     tabindex="-1"
                     data-controls-modal="phone-question-modal"
                     data-backdrop="true"
                     data-keyboard="true">
                    <%= image_tag 'store/question.png' %>
                  </a>
                </div>

                <% @order.shipments.shipped.each_with_index do |shp,index| %>
                    <div>
                      <%carrier = shp.tracking.split('::')[0].titleize%>
                      <% if carrier.upcase == 'USPS' %>
                          <%if @order.shipments.shipped.count > 1 %>
                              <%="US Postal Service Shipment ##{index+1} on #{shp.updated_at.strftime( "%b %d, %Y" )}"%></br>
                          <%else%>
                              <%="US Postal Service Shipment on #{shp.updated_at.strftime( "%b %d, %Y" )}"%></br>
                          <%end%>

                      <% else %>
                          <%if @order.shipments.shipped.count > 1 %>
                              <%=link_to "Track #{carrier} Shipment ##{index+1}",tracking_url( shp.tracking )%>
                          <%else%>
                              <%=link_to "Track #{carrier} Shipment ",tracking_url( shp.tracking )%>
                          <%end%>
                      <%end%>
                    </div>
                <%end%>

                <br/>
            <%end%>
          </div>
        </div>

        <div id="bill_address">
          <%= render :partial =>'checkout/address_display', :locals => { :address => @order.bill_address,:label =>t('billing_address') } %>
          <p>&nbsp</p>

          <div id="cclogo" style="vertical-align: middle">
            <%= creditcard_logo( @order.payments.first.source ) %>
          </div>
          <div>
            <%="#{t('ends_in')} #{@order.payments.first.source.last_digits} #{t('expires')} #{@order.payments.first.source.month}/#{@order.payments.first.source.year}" %>
          </div>

        </div>
      </div>

      <div id="order_items">
        <table class="index">
          <tbody id="line_items">
          <% @order.visible_line_items.each do |li|%>
              <% if li.variant.print? %>
                  <%=render 'orders/prints_line_item',  :variant => li.variant%>
              <%else%>
                  <%= render 'orders/line_item', :line_item => li%>
              <% end %>
          <%end%>
          </tbody>
        </table>
      </div>
    </div>


  </div>

  <%content_for :small_print do %>
      By placing your order you agreed to ZangZing's <a class="hyperlink-button" target="_blank" href="http://www.zangzing.com/terms">terms of service</a> and <a class="hyperlink-button" target="_blank" href="http://www.zangzing.com/privacy">privacy policy</a>.
  <%end%>

<!--------------- This is the content of the modal phone_question dialog -->
  <div style="display: none;" id="phone-question-modal" class="modal hide">
    <div class="modal-body">
      <p>
        <strong>How long will it take to get my photos?</strong>
        </p>
        High quality prints usually take 2 working days to produce. Gallery Wrapped Canvas and
        framed products are crafted by hand and they usually take 5 days to assemble.
        When your order is ready we will ship it to you using the service of your choice.</p>
        If your order contains framed products and prints, we may
        ship them separately so you get them as soon as possible.</p>
        When choosing to ship via US Postal Service please be aware that print orders
        with sizes up to 8x10 will usually spend 3-5 days in transport while large prints, canvas, and
        framed products may spend up to 2 weeks in the mail. Your US Postal service waiting time may
        seem long because the USPS does not provide tracking information. Please be patient your photos
        will be delivered.
      </p>
      <strong>Why is there "No Information Available" for my tracking number?</strong></P>
      We email you your tracking number when we print your shipping label. It sometimes takes a day
      to see your package scanned into the carrier's tracking system. Before that, your number
      may show as "Billing Info Received, No Tracking Information available yet"
       </p>
    </div>
    <div class="modal-footer">
      <a href="#" onclick="$('#phone-question-modal').modal('hide');" class="green-button" style="float: right; width: 75px;"><span>OK</span></a>
    </div>
  </div>

  <%content_for :page_javascript do %>
      <script type="text/javascript">
          if (typeof(Zenbox) !== "undefined") {
              Zenbox.init({
                  hide_tab: true,
                  dropboxID:   "20023482",
                  url:         "https://zangzing.zendesk.com",
                  request_subject: "<%= escape_javascript "[#{@order.number}] Order Request" %>",
                  requester_name:  "<%= escape_javascript @order.bill_address.full_name %>",
                  requester_email: "<%= escape_javascript @order.email %>",
                  request_description: "<%= escape_javascript "[Order #{@order.number}]. Please describe your request in detail below this line." %>",
                  tabID:       "support",
                  tabColor:    "black",
                  tabPosition: "Left"
              });
          }
          $('a.details').click( function(e){
              var variant_id = $(this).attr('data_variant');
              $('.'+variant_id).toggle();
          });
      </script>
  <%end%>
