<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->
    <meta http-equiv="Content-Language" Content="en">
    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2011, ZangZing, LLC. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />
    <title>Password Reset | Photo Sharing - ZangZing</title>
  <%= include_javascripts :css %>
  <%= include_stylesheets :common %>
</head>
<body class="signin">
  <img src="/images/background_signin.jpg" class="bg" />


    <div class="new-dialog user-session-dialog">
      <div class="background"></div>
      <div class="frame"></div>
      <div class="body">

      <a class="logo" href="/service"><img src="/error/img/logo.png" alt="logo" /></a>

      <div class="content">
        <h1>New Password</h1>
        <a id= "back-to-signin-button" href="/signin" class="gray-button"><span>Sign In</span></a>
        <div id="header-hairline"></div>

<%if @password_changed %>
    You password has been changed.
<% else %>
        <%= form_for @user, :url => update_password_reset_url, :method => :put, :html => {:id =>"password_edit_form"} do |f| %>
              <div id="flash-error"><%=@user.errors.full_messages if @user.errors%></div>

              <table>
                <tr><td class="label">New Password </td><td class="field"><%= f.password_field :password %></td></tr>
                <tr><td class="label">Confirm Password </td><td class="field"><%= f.password_field :password_confirmation %></td></tr>
              </table>
            <% end %>
         <a id="submit-button" class="newgreen-button"><span>Submit</span></a>
<%end%>



      </div>
    </div>
   </div>

  <%= render :partial => 'layouts/zza'  %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <%= include_javascripts :lib %>
  <%= include_javascripts :zz %>

  <script>
    $(document).ready(function(){
        $('#submit-button').click(function(){
            $('form').submit();
        });


       $('form').bind('keypress', function(e){
             if ( e.keyCode == 13 ) {
                 $("form").submit();
             }
       });

        $('.logo').center_y();

    });

  </script>

</body>
</html>





