<div  class="follow-info">
  <a class="follow-piclink" href="<%=user_path(user)%>">
    <div class="follow-picture" >
      <%= render :partial => 'users/profile_photo', :locals => { :user => user }    %>
    </div>
  </a>
  <div class="follow-name">
    <a  href="<%=user_path(user)%>" <%=( current_user && current_user.id==user.id ? 'class=no-follow' : 'class=with-follow' )%>>
      <span class="user-name"><%=user.username%></span>
      <span class="full-name"><%=user.name%></span>
    </a>

    <div class="follow-button">
      <%if !current_user || current_user!=user # do not show like for self%>
        <%
        #SUNSET
        #  <div class="zzlike zzlike-follow" data-zzid="<%=user.id
        #" data-zztype="user" data-zzstyle="toolbar" ></div>
        %>
      <%end%>
    </div>
  </div>
</div>
