<% content_for :meta_tags do %>
    <%= render :partial => "facebook/album_opengraph_tags" %>
<% end %>


<ul id="album-timeline">
  <li class="clearfix">
    <a name="<%=@album.user_id%>"></a>

    <div class="timeline-badge">
        <%= render :partial => 'users/stacked_badge', :locals => { :user => @album.user }    %>
    </div>

    <div class="timeline-action">
      <ul class="timeline-grid" data-user-id="<%=@album.user_id%>">
      </ul>
      <%if  @album_user_photos.length > 4  %><a href="javascript:void(0);"  class="more-less-btn">more...</a><%end%>
    </div>
</li>


  <% @contributors.each do | contributor | %>
         <%= render :partial => 'contributor', :locals => {:contributor => contributor } %>
  <%end%>
  <% if @inactive_names.length > 0 %>
    <li>
      <div class="inactive-contributors">
          <%=@inactive_names %>
      </div>
    </li>
  <%end%>
</ul>


