<% content_for :meta_tags do %>
    <%= render :partial => "facebook/album_opengraph_tags" %>
<% end %>


<div class="viewlist">
  <ul>


    <% @header_added = false %>
    <%@contributors.each do | user | %>
        <%if (photo_count = @album.photos.find_all_by_user_id(user.id).length) > 0%>
            <%unless @header_added %>
                <li class="item tab add">
                  <div class="bartabheader">Contributors</div>
                </li>
                <% @header_added = true %>
            <%end%>
            <%=render :partial => 'contributor', :locals => { :user => user, :photo_count => photo_count }%>
  <%else
               @inactive_contributors << user
        end%>
    <%end%>
    
    <% if @likers.length > 0 %>
        <li class="item tab like">
                  <div class="bartabheader">People Who Like This Album</div>
        </li>
        <li class="item">
            <%@likers.each do | user | %>
                <div class="title">
                    <%= render :partial => 'users/stacked_badge', :locals => { :user => user }    %>
                </div>
            <%end%>
        </li>
    <%end%>

    <% if @photo_likers.length > 0 %>
        <li class="item tab like">
                  <div class="bartabheader">People Who Like Photos in This Album</div>
        </li>
        <li class="item">
          <%@photo_likers.each do | user | %>
              <div class="title">
                <%= render :partial => 'users/stacked_badge', :locals => { :user => user }    %>
              </div>
          <%end%>
        </li>
    <%end%>
    
    <% if @inactive_contributors.length > 0%>
        <li class="item tab share">
                  <div class="bartabheader">Invited Contributors</div>
        </li>
        <li class="item tab">
            <%@inactive_contributors.each do | user | %>
                <div class="title">
                    <%= render :partial => 'users/stacked_badge', :locals => { :user => user }    %>
                </div>
            <%end%>
        </li>
      <%end%>
  </ul>

</div>

<% content_for :page_javascript do %>
    <script type="text/javascript">

        // todo: this code is copied for the 3 album views; need to pull into partial

        zz.album_id = '<%= @album.id %>';
        zz.album_type = '<%=escape_javascript @album.type %>';
        zz.album_lastmod = '<%= @album.cache_version %>';
        zz.album_type = zz.album_type.split('Album')[0].toLowerCase();
        zz.current_user_can_download = <%=( @album.can_user_download?( current_user )? 'true':'false')%>;
        zz.displayed_user_id   = '<%= @album.user.id %>';
        zz.album_base_url = '/<%=escape_javascript @album.user.username%>/<%=escape_javascript @album.friendly_id%>';
        zz.user_base_url = '/<%=escape_javascript @album.user.username%>';
        zz.album_name = '<%=escape_javascript @album.name %>';
        zz.back_to_home_page_url = '<%= back_to_home_page_url @album %>';
        zz.back_to_home_page_caption = '<%= escape_javascript back_to_home_page_caption @album %>';
        zz.current_photo_index = 0;
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            zz.album.init_people_view();
        });
    </script>

<% end %>







