<ul id="album-timeline">
  <li class="clearfix">
    <a name="<%=@album.user_id%>"></a>

    <div class="timeline-badge">
        <%= render :partial => 'users/stacked_badge', :locals => { :user => @album.user }    %>
    </div>

    <div class="timeline-action">
      <ul class="timeline-grid" data-user-id="<%=@album.user_id%>">
      </ul>
      <%if  @album_user_photos.length > 4  %><a href="javascript:void(0);"  class="more-less-btn">more...</a><%end%>
    </div>
</li>


  <% @contributors.each do | contributor | %>
         <%= render :partial => 'contributor', :locals => {:contributor => contributor } %>
  <%end%>
  <% if @inactive_names.length > 0 %>
    <li>
      <div class="inactive-contributors">
          <%=@inactive_names %>
      </div>
    </li>
  <%end%>
</ul>


<div class="offset"
<h3 class="people">People that Like &ldquo;New Zealand&rdquo;</h3>

<ul id="liked-it" class="clearfix">
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
</ul>
</div>