<% content_for :page_title do %><%= @user.posessive_short_name %> People<% end %>

<% content_for :canonical_url do %><%=user_people_pretty_url(@user)%><% end %>



<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>

<% if @user %>
    <div id= "you" class="viewlist">
      <ul>
        <li class="item">
          <div class="content">
            <%= render :partial => 'follow', :locals => { :user => @user} %>
          </div>
        </li>
      </ul>
    </div>
<%end%>


<div class="viewlist two-col ">
  <ul>
    <% if @user.liked_users.count > 0 %>
        <li class="item">
          <div class="header bar">
            Following <%=pluralize @user.liked_users.count, 'Person'%>
          </div>
        </li>
        <%@user.liked_users.each do | user | %>
            <li class="item bar">
              <%= render :partial => 'follow', :locals => { :user => user }    %>
            </li>
        <%end%>
    <%end%>
  </ul>
</div>

<%if @user_is_auto_follow == false %>
<div class="viewlist two-col relative">
<% if @user == current_user %>
  <div class='invite-friends-box'>
    <div class='message'>Invite friends and get extra space free.</div>
    <a class="green-button invite-friends-button"><span>Invite Friends</span></a>
  </div>
<% end %>
  <ul>
    <% if @user.followers.count > 0 %>
        <li class="item">
          <div class="header bar">
            Followed by <%=pluralize @user.followers.count, 'Person'%>
          </div>
        </li>
        <%@user.followers.each do | user | %>
            <li class="item bar">
              <%= render :partial => 'follow', :locals => { :user => user}    %>
            </li>
        <%end%>
    <%end%>
  </ul>
</div>
<%end%>


<% content_for :page_javascript do %>

    <%= render :partial => "albums/homepage_view_javascript" %>

<% end %>

<% content_for :zz_js_document_ready do %>
    $('.people .invite-friends-button').click(function(){
        zz.routes.users.goto_invite_friends_screen();
        ZZAt.track('people-view.invite-friends-button.click');
    });
<% end %>