<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>

<% if current_user %>
<div id= "you" class="viewlist">
  <ul>
    <li class="item">
      <div class="header bar">
            You!
      </div>
    <div class="content">
      <%= render :partial => 'follow', :locals => { :user => current_user} %>
    </div>
    </li>
</ul>
</div>

<%end%>

<div class="viewlist two-col">
  <ul>

    <% if @user.followers.count > 0 %>
        <li class="item">
          <div class="header bar">
            <%=@user.followers.count%> Followers
          </div>
          <div class="content">
            <%@user.followers.each do | user | %>
                <%= render :partial => 'follow', :locals => { :user => user}    %>
            <%end%>
          </div>
        </li>
    <%end%>
    <li>
  </ul>
  </div>

<div class="viewlist two-col">
  <ul>
    </li>

    <% if @user.liked_users.count > 0 %>
        <li class="item">
          <div class="header bar">
            Following <%=@user.liked_users.count%>
          </div>
          <div class="content">
            <%@user.liked_users.each do | user | %>

                <%= render :partial => 'follow', :locals => { :user => user }    %>

            <%end%>
          </div>
        </li>
    <%end%>
    </ul>
</div>
