<h1>Editing share</h1>

<% form_for(@share) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :album_id %><br />
    <%= f.text_field :album_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :email_subject %><br />
    <%= f.text_field :email_subject %>
  </p>
  <p>
    <%= f.label :email_message %><br />
    <%= f.text_field :email_message %>
  </p>
  <p>
    <%= f.label :twitter_message %><br />
    <%= f.text_field :twitter_message %>
  </p>
  <p>
    <%= f.label :facebook_message %><br />
    <%= f.text_field :facebook_message %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @share %> |
<%= link_to 'Back', shares_path %>