<h1>Listing shares</h1>

<table>
  <tr>
    <th>Album</th>
    <th>User</th>
    <th>Email subject</th>
    <th>Email message</th>
    <th>Twitter message</th>
    <th>Facebook message</th>
  </tr>

<% @shares.each do |share| %>
  <tr>
    <td><%=h share.album_id %></td>
    <td><%=h share.user_id %></td>
    <td><%=h share.email_subject %></td>
    <td><%=h share.email_message %></td>
    <td><%=h share.twitter_message %></td>
    <td><%=h share.facebook_message %></td>
    <td><%= link_to 'Show', share %></td>
    <td><%= link_to 'Edit', edit_share_path(share) %></td>
    <td><%= link_to 'Destroy', share, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New share', new_share_path %>