<div class="offset">
<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

<%= link_to "Share this album on Facebook or Twitter", new_album_postshare_url( @album ) %>

<%= link_to "Share this album by email", new_album_emailshare_url( @album ) %>
</div>

<div id="share-body">
  <div id="top-section">
    <div class="album-header">
      <h3>Share Album</h3>
      <h4>Set Privacy Settings and Share this Album with Your Friends</h4>
    </div>
  
  </div>
    <%form_for @album, :url => update_album_url(@album)  do |f| %>
      <%=select :album, :privacy, Album::PRIVACIES, {:selected =>@album.privacy },  {:class => "album_privacy rounded"}%> &nbsp; <span class="h4">Allows everyone to see this album</span>
    <%end%>
    <hr>
  
  <div id="scroll-body">  
    
    <ul id="share-pick">
      <li class="social-share link">
        <p><img src="/images/social-btns.png" /></p>
        <p><a href="javascript:void(0);">Share this album on Facebook or Twitter</a></p>
      </li>
      <li class="email-share link">
        <p><img src="/images/email-btn.png" /></p>
        <p><a href="javascript:void(0);">Share this album by Email</a></p>
      </li>
    </ul> 
  
  </div>
</div>