<h2 class="album">New share</h2>

<% form_for(@share) do |f| %>
  <%= f.error_messages %>

 <p>
   <%= f.label :email_to %><br />
   <%= f.text_field :email_to, :size => 100%>
   <a href="" onclick="addGmailContacts();return true">add Gmail contacts</a>
 </p>
  <p>
    <%= f.label :email_subject %><br />
    <%= f.text_field :email_subject, :size => 100 %>
  </p>
  <p>
    <%= f.label :email_message %><br />
    <%= f.text_field :email_message, :size => 100 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', shares_path %>

<script>
    function addGmailContacts()
    {
        window.open("/google_connect/index", "google contacts","location=1,status=0,scrollbars=0, width=800,height=650");
    }

    function addContacts(contacts)
    {
        $("#share_email_to")[0].value = $("#share_email_to")[0].value + contacts 
    }


</script>