<div class="album-header">
  <h3>Share Your Album</h3>
  <h4>Email a link to your album to selected friends.</h4>
</div>

<div id="scroll-body">
  <div id="form-container-2" class="clearfix">
    <ul id="email-sync" class="clearfix">
      <li class="title">Import contacts from</li>
      <li><img src="/images/btn-outlook-off.png" id="outlook-sync" class="link" /></li>
      <li><img src="/images/btn-gmail-off.png" id="gmail-sync" class="link" /></li>
      <li><img src="/images/btn-yahoo-off.png" id="yahoo-sync" class="link" /></li>
    </ul>
    <div class="clear-fix"></div>
    
    <%form_for [@share], :url => create_album_share_path(@album)  do |f| %>
      <%= f.error_messages %>  
      <dl id="email-share-form">
        <dt>To</dt>
        <dd>
          <input type="hidden" name="email_share[to]" id="email_share_recipients" />
          <ul id="the-recipients" class="clearfix">
            <li id="clone-added"></li>
            <li>Wil Everts,</li>
            <li>Jeremy Hermann,</li>
            <li>Alexander Massario,</li>
            <li id="autocomplete"><input type="text" id="you-complete-me" /></li>
          </ul>
        </dd>
        <div class="clear-fix"></div>
        <dt>Subject</dt>
        <dd><input type="text" name="email_share[subject]" id="email_share_subject" /></dd>
        <div class="clear-fix"></div>
        <dt>Message</dt>
        <dd class="textarea"><textarea rows="6" name="email_share[message]" id="email_share_message"></textarea></dd>
      </dl>
      <div class="clear-fix"></div>
      
      <input type="image" src="/images/btn-send.png" name="submit" id="mail-submit" />
  
    <% end %>
  </div>
</div>

<div class="offset">
 <table>
   <tr>
     <td> Gmail:</td>
     <% unless @google_id.credentials_valid? %>
         <td> <%= button_to_function "Import", "call_new_google_session();return false;", :id => "google_import_button" %></td>
         <td> <div id="last_google_import" ></div></td>
     <% else %>
        <td> <%= button_to_function "Refresh", "call_google_import();return false;", :id => "google_import_button" %></td>
        <td> <div id="last_google_import" >Last imported on: <%= @google_id.last_contact_refresh %></div></td>
     <% end %>    
   </tr>
   <td> Yahoo:</td>
     <% unless @yahoo_id.credentials_valid? %>
         <td> <%= button_to_function "Import", "call_new_yahoo_session();return false;", :id => "yahoo_import_button" %></td>
         <td> <div id="last_yahoo_import" ></div></td>
     <% else %>
        <td> <%= button_to_function "Refresh", "call_yahoo_import();return false;", :id => "yahoo_import_button" %></td>
        <td> <div id="last_yahoo_import" >Last imported on: <%= @yahoo_id.last_contact_refresh %></div></td>
     <% end %>
   </tr>
 </table>
<%form_for [@share], :url => create_album_share_path(@album)  do |f| %>
   <%= f.error_messages %>
   <table>     
   <tr><td>To: <%= f.text_field(  :to, :size=>40, :id => "ToField") %></td></tr>
   <tr><td>Subject: <%= f.text_field(  :subject, :size=>40) %></td></tr>
   <tr><td>Message: <%= f.text_area(   :message, :cols=>40,  :rows=>10) %></td><td><%= f.submit "Send"%></td></tr>
   </table>
<% end %>

<form action="" onsubmit="return false;">
	<p>
		Local Contact Autocomplete:
		<input type="text" id="CityLocal" value="" />
		<input type="button" value="Get Value" onclick="lookupLocal();" />
		(Shows a max of 10 entries)
	</p>
</form>

<script type="text/javascript">

$(document).ready(  setup_contacts );
//----------------- CONTACTS --------------------------
function setup_contacts(){
    if( <%=( @google_id.credentials_valid? ? 1 : 0 ) %> == 1 ){
        $("#gmail-sync").click(call_google_import);
        $("#gmail-sync").attr({title: 'Last import on: <%= @google_id.last_contact_refresh %>', src: '/images/btn-gmail-on.png'});
    }else{
        $("#gmail-sync").click(call_new_google_session);
        $("#gmail-sync").attr('title','Authorize access to your gmail account and import contacts');
   }

   if( <%=( @yahoo_id.credentials_valid? ? 1 : 0 ) %> == 1 ){
        $("#yahoo-sync").click(call_yahoo_import);
        $("#yahoo-sync").attr({title: 'Last import on: <%= @yahoo_id.last_contact_refresh %>', src: '/images/btn-yahoo-on.png'});
    }else{
        $("#yahoo-sync").click(call_new_yahoo_session);
        $("#yahoo-sync").attr('title','Authorize access to your yahoo account and import contacts');
   }
   reloadAutocompleter()
}

// ------ GOOGLE CONTACTS ---------
function call_new_google_session(){
    $("#gmail-sync").attr('disabled', 'disabled');
    oauthmanager.login( '<%=new_google_session_url%>', google_login_success);
}
function google_login_success(){
    $("#gmail-sync").click(call_google_import);
    call_google_import();
}
function call_google_import() {
    $("#gmail-sync").attr('title','Refreshing...');
    $("#gmail-sync").attr('disabled', 'disabled');
    $.ajax({
      dataType: 'json',
      url: '<%=google_contacts_url(:import)%>',
      success: import_google_success,
      error: import_google_failure
    });
}
function import_google_success( contacts ){
    //console.log('inside google import succes');
    var full_address;
    google_contacts = [];
    for each ( var c in contacts) {
        full_address = '<' +c.name+ '> '+c.address
        google_contacts.push( [ c.name, full_address] );
        google_contacts.push( [ c.address, full_address] );
    }
    reloadAutocompleter();
    $("#gmail-sync").attr('disabled','');
    $("#gmail-sync").attr('title','Last imported a second ago.');
}
function import_google_failure( errors ){
   alert("Unable to refresh google contacts at the moment. Please try later");
   $("#gmail-sync").attr('disabled','');
   $("#gmail-sync").attr('title','Unable to refresh google contacts at the moment. Please try later');
}
var google_contacts = [
        <% @google_id.contacts.each do|contact| %>
        ["<%=contact.name%>","<%=contact.name.to_s%> <<%=contact.address%>>"],
        ["<%=contact.address%>","<%=contact.name.to_s%> <<%=contact.address%>>"],
        <% end %>
        "ZZangZZing"
    ];

// ------ YAHOO CONTACTS ---------
function call_new_yahoo_session(){
    $("#yahoo-sync").attr('disabled', 'disabled');
    oauthmanager.login( '<%=new_yahoo_session_url%>', yahoo_login_success);
}
function yahoo_login_success(){
    call_yahoo_import();
    $("#yahoo-sync").click(call_yahoo_import);
}
function call_yahoo_import() {
    $("#yahoo-sync").attr('title','Refreshing...');
    $("#yahoo-sync").attr('disabled', 'disabled');    
    $.ajax({
      dataType: 'json',
      url: '<%=yahoo_contacts_url(:import)%>',
      success: import_yahoo_success,
      error: import_yahoo_failure
    });
}
function import_yahoo_success( contacts ){
    var full_address;
    yahoo_contacts = [];
    for each ( var c in contacts) {
        full_address = '<' +c.name+ '> '+c.address;
        yahoo_contacts.push( [ c.name, full_address] );
        yahoo_contacts.push( [ c.address, full_address] );
    }
    reloadAutocompleter()
    $("#yahoo-sync").attr('disabled','');
    $("#yahoo-sync").attr('title','Last imported a second ago.');
}
function import_yahoo_failure( errors ){
   alert('Unable to refresh yahoo contacts at the moment. Please try later');
   $("#yahoo-sync").attr('title','Unable to refresh yahoo contacts at the moment. Please try later');
   $("#yahoo-sync").attr('disabled','');
}

var yahoo_contacts = [
    <% @yahoo_id.contacts.each do|contact| %>
    ["<%=contact.name%>","<%=contact.name.to_s%> <<%=contact.address%>>"],
    ["<%=contact.address%>","<%=contact.name.to_s%> <<%=contact.address%>>"],
    <% end %>
    "ZZZangZZZing"
];

// -------------------- AUTOCOMPLETE -----------------------------
function findValue(li) {
	if( li == null ) return alert("No match!");

	// if coming from an AJAX call, let's use the CityId as the value
	if( !!li.extra ) var sValue = li.extra[0];

	// otherwise, let's just display the value in the text box
	else var sValue = li.selectValue;

    var recipients = $("#ToField").val()
    if( recipients.length > 0 ) recipients+=(";")
    recipients +=  sValue
    $("#ToField").val( recipients )
}
function selectItem(li) {
	findValue(li);
}
function formatItem(row) {
	return row[0] + " (id: " + row[1] + ")";
}
function lookupLocal(){
	var oSuggest = $("#CityLocal")[0].autocompleter;
	oSuggest.findValue();
	return false;
}
function reloadAutocompleter () {
	$("#CityLocal").autocompleteArray(
            google_contacts.concat( yahoo_contacts ),
                {
                    delay:10,
                    minChars:1,
                    matchSubset:1,
                    onItemSelect:selectItem,
                    onFindValue:findValue,
                    autoFill:true,
                    maxItemsToShow:10,
                    selectFirst:true,
                    selectOnly:true,


                }
            );
}
</script>
</div>
