<div class="album-header" style="margin-bottom: 25px;">
  <h3>Share Your Album</h3>
  <h4>Email a link to your album to selected friends.</h4>
</div>

<div id="scroll-body">
  <div id="form-container-2" class="clearfix">
    <ul id="email-sync" class="clearfix">
      <li class="title">Import contacts from</li>
      <li><img src="/images/btn-gmail-off.png" id="gmail-sync" class="link" /></li>
      <li><img src="/images/btn-outlook-off.png" id="outlook-sync" class="link" /></li>
      <li><img src="/images/btn-yahoo-off.png" id="yahoo-sync" class="link" /></li>
    </ul>
    <div class="clear-fix"></div>
    
    <%form_for [@share], :url => create_album_share_path(@album)  do |f| %>
      <%= f.error_messages %>  
      <dl id="email-share-form">
        <dt>To</dt>
        <dd><input type="text" name="email_share[to]" id="email_share_to" /></dd>
        <div class="clear-fix"></div>
        <dt>Subject</dt>
        <dd><input type="text" name="email_share[subject]" id="email_share_subject" /></dd>
        <div class="clear-fix"></div>
        <dt>Message</dt>
        <dd class="textarea"><textarea rows="5" name="email_share[message]" id="email_share_message"></textarea></dd>
      </dl>
      <div class="clear-fix"></div>
      
      <div id="form-actions">
        <a href="javascript:void(0);" id="cancel-share">Cancel</a> <input type="image" src="/images/btn-send.png" name="submit" id="mail-submit" />
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">

$(document).ready( function(){
sharecontacts.setup( <%=( @google_id.credentials_valid? ? 1 : 0 ) %> == 1,
                 "<%= @google_id.last_contact_refresh%>",
                 <%=( @yahoo_id.credentials_valid? ? 1 : 0 ) %> == 1,
                 "<%= @yahoo_id.last_contact_refresh%>")
});
yahoo_contacts = [
    <% @yahoo_id.contacts.each do|contact| %>
    '<%=contact.name.to_s%> &LT;<%=contact.address%>&GT;',
    '<%=contact.address%>',
    <% end %>
    ""
];

var google_contacts = {items: [
    <% @google_id.contacts.each_with_index do |contact, index| %>
    {value: '<%= index %>', name: '<%=contact.name.to_s%> &gt;<%=contact.address%>&lt;'},
    <% end %>
    {value: '11111111', name: 'ZangZing'}
]}; //as found: http://code.drewwilson.com/entry/autosuggest-jquery-plugin

// -------------------- AUTOCOMPLETE -----------------------------
function findValue(li) {
	if( li == null ) return alert("No match!");

	// if coming from an AJAX call, let's use the CityId as the value
	if( !!li.extra ) var sValue = li.extra[0];

	// otherwise, let's just display the value in the text box
	else var sValue = li.selectValue;

    var recipients = $("#ToField").val()
    if( recipients.length > 0 ) recipients+=(";")
    recipients +=  sValue
    $("#ToField").val( recipients )
}
function selectItem(li) {
	findValue(li);
}
function formatItem(row) {
	return row[0] + " (id: " + row[1] + ")";
}
function lookupLocal(){
	var oSuggest = $("#CityLocal")[0].autocompleter;
	oSuggest.findValue();
	return false;
}
function reloadAutocompleter () {
	$("#CityLocal").autocompleteArray(
            google_contacts.concat( yahoo_contacts ),
                {
                    delay:10,
                    minChars:1,
                    matchSubset:1,
                    onItemSelect:selectItem,
                    onFindValue:findValue,
                    autoFill:true,
                    maxItemsToShow:10,
                    selectFirst:true,
                    selectOnly:true,


                }
            );
}
</script>
