<%# Caller must provide address and label%>
<table>
      <tr><td style="font-weight: bold;"><%=label%></td></tr>
      <tr><td style="font-weight: bold;"><%= address.full_name%></td></tr>
      <tr><td><%= address.address1%></td></tr>
      <% if address.address2 && address.address2.length > 0 %>
            <tr><td><%= address.address2%></td></tr>
      <%end%>
      <tr><td><%= "#{address.city} #{address.state_text} #{address.zipcode}"%></td></tr>
      <tr><td><%= number_to_phone address.phone%></td></tr>
</table>