<%#  Displays one address form, must pass
  #  form in :f,
  #  address in address
%>
<%= f.hidden_field :user_id if address.user %>
<p id="sfname" class="field">
  <%= f.label :firstname, t(:first_name) %>
  <%= f.text_field :firstname, :class => 'required' %><span class="req">*</span>
</p>

<p id="slname" class="field">
  <%= f.label :lastname, t(:last_name) %>
  <%= f.text_field :lastname, :class => 'required' %><span class="req">*</span>
</p>

<p id="saddress" class="field">
  <%= f.label :address1, t(:street_address) %>
  <%= f.text_field :address1, :class => 'required' %><span class="req">*</span>
</p>

<p id="saddress2" class="field">
  <%= f.label :address2, t(:street_address_2) %>
  <%= f.text_field :address2 %>
</p>

<p id="scity" class="field">
  <%= f.label :city, t(:city) %>
  <%= f.text_field :city, :class => 'required' %><span class="req">*</span>
</p>

<% if Spree::Config[:address_requires_state] %>
  <p class="field">
  <%= address_state f, address.country%>
  </p>
<% end %>

<p id="szip" class="field">
  <%= f.label :zipcode, t(:zip) %>
  <%= f.text_field :zipcode, :class => 'required' %><span class="req">*</span>
</p>

<p id="scountry" class="field">
  <%= f.label :country_id, t(:country) %>
  <span id="scountry"><%= f.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %></span>
  <span class="req">*</span>
</p>

<p id="sphone" class="field">
  <%= f.label :phone, t(:phone) %>
  <%= f.text_field :phone, :class => 'required' %><span class="req">*</span>
</p>

<% if Spree::Config[:alternative_shipping_phone] %>
      <p id="saltphone">
        <%= f.label :alternative_phone, t(:alternative_phone) %>
        <%= f.text_field :alternative_phone %>
      </p>
<% end %>




