<%content_for :page_title do
    t('place_your_order')
end %>



<div id="confirm" class="clearfix">
<div id="right_side" class="clearfix">
  <div id="order_summary" class="clearfix">
    <%= render :partial => 'summary', :locals =>{:order => @order, :form => form} %>
  </div>


  
  <div id="order_message" class="clearfix">

    </div>
    <div id="order_smallprint">
     
    </div>
</div>


<div id="left_side">
  <div id="order_info" class="clearfix">
    <div id="ship_address" >

      <%= render :partial =>'address_display', :locals => { :address => @order.ship_address,:label =>t("shipping_address") } %>
      <a href="javascript:void(0)" id="change-ship-address"><%= t('change').titleize%></a>
      <p>&nbsp</p>

      <%= select( :order,
                  :shipping_method_id,
                  @order.rate_hash.collect{|smethod|[ "#{smethod[:name]} #{number_to_currency smethod[:cost]}", smethod[:id] ]},
                  {},
                  { :onchange => "ZZAt.track('buy.checkout.confirm.change-shipping-method.click'); $('#checkout_form_confirm').attr('action','#{update_checkout_path('delivery')}').submit();"})%>
       <a id="shipping_question"
             href="javascript:void(0);"
             class="field_question"
             tabindex="-1"
             data-controls-modal="phone-question-modal"
             data-backdrop="true"
             data-keyboard="true">
              <%= image_tag 'store/question.png' %>
          </a>
    </div>

    <div id="bill_address">
      <%= render :partial =>'address_display', :locals => { :address => @order.bill_address,:label =>t('billing_address') } %>
      <a href="javascript:void(0)" id="change-bill-address"><%= t('change').titleize%></a>
      <p>&nbsp</p>
      
      <div id="cclogo">
        <%= creditcard_logo( @order.payments.first.source ) %>
      </div>
      <div>
        <%="#{t('ends_in')} #{@order.payments.first.source.last_digits} #{t('expires')} #{@order.payments.first.source.month}/#{@order.payments.first.source.year}" %><br/>
        <a href="javascript:void(0)" id="change-payment"><%= t('change').titleize%></a>
      </div>
      
    </div>
  </div>

  <div id="order_items">
    <table class="index">
       <tbody id="line_items">
       <% @order.visible_line_items.each do |li|%>
        <% if li.variant.print? %>
            <%=render 'orders/prints_line_item',  :variant => li.variant, :change => 1 %>
        <%else%>
            <%= render 'orders/line_item', :line_item => li, :change => 1 %>
        <% end %>
       <%end%>
      </tbody>
    </table>
  </div>
</div>
</div>


<%content_for :small_print do %>
By placing your order you agree to ZangZing's <a class="hyperlink-button" target="_blank" href="http://www.zangzing.com/terms">terms of service</a> and <a class="hyperlink-button" target="_blank" href="http://www.zangzing.com/privacy">privacy policy</a>.
<%end%>

<%= render 'shared/shipping_question' %>

<%content_for :page_javascript do %>
    <script type="text/javascript">
        $(document).ready(function(){
            $('form p.field label').inFieldLabels();

        $('a#change-ship-address').click(function(){
            ZZAt.track('buy.checkout.confirm.change-ship-address.click');
            $('#checkout_form_confirm').attr('action','<%=checkout_state_path('ship_address')%>').submit();
        });

        $('a#change-bill-address').click(function(){
            ZZAt.track('buy.checkout.confirm.change-bill-address.click');
           $('#checkout_form_confirm').attr('action','<%=checkout_state_path('payment')%>').submit();
        });

        $('a#change-payment').click(function(){
            ZZAt.track('buy.checkout.confirm.change-payment.click');
           $('#checkout_form_confirm').attr('action','<%=checkout_state_path('payment')%>').submit();
        });

        $('a.details').click( function(e){
            var variant_id = $(this).attr('data_variant');
            $('.'+variant_id).toggle();
        });

        ZZAt.track('buy.checkout.confirm.open');
        });
    </script>
<% end %>


