
<%content_for :page_title do
    t(@order.state, :scope => :order_state).titleize
end %>

<div class="row">
  <div class="span8 columns">
    <%= render :partial =>'creditcard_wallet', :locals => { :order => @order }%>
    <% method = @order.default_payment_method %>
    <%=hidden_field_tag "order[payments_attributes][][payment_method_id]",  method.id%>

      <%= render "checkout/payment/#{method.method_type}", :payment_method => method %>
      <%unless current_user %>
          <% clean_guest_checkout_email( @order ) %>
            <%= form.label :email, t("email") %>
            <%= form.text_field :email, :class => 'required' %><span class="req">*</span>
          <div>( <%=t("email_needed")%> )</div>
          </p>
      <%end%>
  </div>

  <div class="span6 columns">
    <h4><%= t("billing_contact") %></h4>
    <%= render :partial =>'addressbook', :locals => { :form => form,
                                                      :order => @order,
                                                      :address_kind => 'bill_address',
                                                      :button_text => "Use This Address" } %>
    <%= form.fields_for :bill_address do |bill_form| %>
        <%= render :partial =>'address_fields', :locals => { :f => bill_form,
                                                             :address => @order.bill_address } %>
    <% end %>
  </div>
</div>

<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
</div>

<script type="text/javascript">
    $("input[name='order[creditcard_id]']").click(function(){

        $('#creditcard :input').attr('disabled', true);
        $('#creditcard').css('opacity',0.5);
    });
    $('#order_bill_address_id').change(function(){
        if( $(this).val() == '' ){
            $('#billing :input').attr('disabled', false);
            $('#billing').removeClass("lightgray");
        }else{
            $('#billing :input').attr('disabled', true);
            $('#billing').addClass("lightgray");
        }
    })

</script>