<%content_for :page_title do
    t('shipping')
end %>

<div class="row">
<div class="span6 columns offset5">
<fieldset>
      <h4><%=t('shipping_contact')%></h4>
      <p id="addressbook" class="field">
      <%= render :partial =>'addressbook', :locals => { :form => form,
                                                        :order => @order,
                                                        :address_kind => 'ship_address'} %>
      </p>
      <p id="ship_as_bill" class="field">
            <label for="order_use_shipping_as_billing"><%= t("use_shipping_as_billing") %></label>
            <%= check_box_tag 'order[use_shipping_as_billing]', '1', (!( (@order.bill_address && @order.bill_address.empty?) && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)) %>
      </p>
      <%= form.fields_for :ship_address do |ship_form| %>
              <%= render :partial =>'address_fields', :locals => { :f => ship_form,
                                                                   :legend => t('shipping_address'),
                                                                   :address => @order.ship_address } %>
      <% end %>

</fieldset>
</div>
</div>
<%content_for :next_button do %>
      <input type="submit" class="continue button primary" value="<%="#{t('next')}:#{t('payment')}"%>"  onclick="checkout_form_ship_address.submit();"/>
<%end%>



<%content_for :page_javascript do %>
    <script type="text/javascript">
        $(document).ready(function(){
            $('form p.field label').inFieldLabels();
        });
    </script>
<% end %>
