<style>
div.inner input[type=text], div.inner select { width: 80%; }
.hidden { display: none; }
</style>


<%= render :partial =>'addressbook', :locals => { :order => @order, :address_id_field_name => 'order[ship_address_id]' } %>


<fieldset id='shipping'>
  <%= form.fields_for :ship_address do |ship_form| %>
     <%= render :partial =>'address_fields', :locals => { :f => ship_form,
                                                      :form_label =>t("shipping_address"),
                                                      :states => @order.ship_address.country.states} %>
    <p class="field checkbox">
      <label for="order_use_billing" id="use_billing">
        <%= check_box_tag 'order[use_shipping_as_billing]', '1', (!( (@order.bill_address && @order.bill_address.empty?) && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)) %> <%= t("use_shipping_as_billing") %>
      </label>
    </p>
  <% end %>
</fieldset>

<hr class="space" />
<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
</div>
