<div class="checkout-summary clearfix">
  <h3 class="center-block summary-bold" style="text-align:center; "><%= t(:order_summary) %></h3>
  <table>
    <tbody>
    <tr class="summary-lines">
      <td><%= t('item_total') %></td>
      <td style="text-align: right;"><%= number_to_currency order.item_total %></td>
    </tr>
    <tbody class="summary-lines">
    <% order.adjustments.each do |adjustment| %>
        <tr>
          <td><%= adjustment.label %></td>
          <td style="text-align: right;"><%= number_to_currency adjustment.amount %></td>
        </tr>
    <% end %>
    </tbody>
    <tr class="order-total summary-bold">
      <td><%= t('order_total') %></td>
      <td style="text-align: right;"><%= number_to_currency @order.total %></td>
    </tr>
    </tbody>

  </table>
  <div id="place_order">

<%if Rails.env.photos_production? %>
     <input type="hidden" name="order[test_mode]" value="false" />
<%else%>
    <% content_for :page_stylesheet  do %>
        <style type="text/css">
          .on_off{margin: 10px auto; width: 200px;}
          .on_off .iPhoneCheckLabelOn{ text-align: center;}
          .on_off label.iPhoneCheckLabelOff{
              color: #444444;
              background-image: url("/images/iphone-style-checkboxes/off_red.png");
          }
        </style>
    <%end%>
  <div id="order_promo" class="on_off">
    <div class="centered">
        <%= form.check_box :test_mode %>
    </div>
  </div>
<%end%>


    <a href="javascript:void(0);" class="green-button" id="place-order-button"><span><%=t('place_order')%></span></a>
    <div id="logo_secure_lock">
        <%= image_tag 'store/secure-lock.png'%>
        <%=t('secure_checkout')%>
    </div>
  </div>

</div>




<%content_for :page_javascript do %>
    <script type="text/javascript">
        $(document).ready(function(){
            $('form p.field label').inFieldLabels();
            <% unless Rails.env.photos_production? %>
            $('.on_off :checkbox').iphoneStyle({ checkedLabel: 'Loopbk', uncheckedLabel: 'ezP' });
            <%end%>

            $('#place-order-button').click(function(){
                zz.dialog.show_spinner_progress_dialog("Submitting order...");
                ZZAt.track('buy.checkout.confirm.place-order.click');
                $('#checkout_form_confirm').attr('action','<%=update_checkout_path('confirm')%>').submit();
            });
        });
    </script>
<% end %>

