<% content_for :head do %>
    <script type="text/javascript" src="/store/states.js"></script>
    <%= javascript_include_tag  'checkout'%>
<% end %>

<div class="checkout-content">

        <%= render "shared/error_messages", :target => @order %>

        <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
            <%= render @order.state, :form => form %>
            <input id="post-final" type="submit" style="display:none"/>
        <% end %>
        <%= yield :outside_edit_form %>
</div>
