

<%content_for :page_title do
    t('please_sign_in')
end %>

<div class="checkout-content">
  <div id="registration">
    <div id="user" class="half  right-border">
      <div class="centered">
        <img id="logo"   src="/images/zz-logo-inline.png" alt="ZangZing" />
      </div>

      <%= form_tag create_user_session_url,  :id => "signin-form" do %>
          <div id="flash-error" class="centered">
                      <% if @user_session.errors.length > 0 %>
                          Invalid user or password
                      <% end %>
                      <span style="color: red;"> <%= flash[:error] %></span>
                      <span style="color: green;"><%= flash[:notice] %></span>
            &nbsp
          </div>

          <fieldset id="user-signin">

            <%= hidden_field_tag :store_signin, checkout_registration_url %>
            <p class="field">
              <label for="email">Username or Email</label>
              <%= text_field_tag :email, @user_session.email %>
            </p>
            <p class="field">
              <label for="password">Password</label>
              <%= password_field_tag :password %>
            </p>

            <div class="buttons" >
              <a id="forgot-password-link" class="hyperlink-button" href="<%=new_password_reset_url%>"><%=t('forgot_password')%></a>
              <a id="submit-button" href="javascript: $('#signin-form').submit();" class="newgreen-button"><span>Sign In</span></a>
            </div>
          </fieldset>
      <% end %>

    </div>
  <div id="guest" class="half">
    <div class="centered">
        <h3><%=t('checkout_as_guest')%></h3>
        <div id="guest-blurb" class="centered">
          &nbsp</p>
          <%=t('account_later')%>
          <%= form_tag guest_checkout_url, :id => "guest-form" do %>
                <%end%>
          <a id="guest-checkout-button" class="newgreen-button" href="javascript:$('#guest-form').submit();"><span><%=t('checkout_as_guest')%></span></a>
                      
        </div>
    </div>
  </div>

</div>
</div>



<%content_for :page_javascript do%>
    <script>
        $(document).ready(function(){
            $('form p.field label').inFieldLabels();
            $('#signin-form').bind('keypress', function(e){
                if ( e.keyCode == 13 ) {
                    $('#signin-form').submit();
                }
            });
            $('#email').focus();
        });
    </script>
<%end %>
