<% content_for :page_title, "Upload Batches list per day" %>

<p><%= link_to 'Clean Empty Batches', moderator_upload_batch_clean_empty %></p>

<div class="viewlist">
    <div id="batch-list" style="text-align: left; margin-left: 100px;">
      <ul>
        <% @upload_batches_days.each do | row | %>
          <li style="font-size:14px; margin: 5px 0;">
            <%= link_to "#{row['date']}", moderator_upload_batch_path(row['date'], 'all') %>
            [<%= link_to "unreviewed - #{row['unreviewed'] || 0}", moderator_upload_batch_path(row['date'], 'unreviewed')  %>]
            [<%= link_to "good - #{row['good'] || 0}", moderator_upload_batch_path(row['date'], 'good')  %>]
            [<%= link_to "bad - #{row['bad'] || 0}", moderator_upload_batch_path(row['date'], 'bad')  %>]
          </li>
        <% end %>
      </ul>
    </div>
</div>