<% content_for :page_title, "Upload Batches for #{params[:date]}" %>

<% content_for :page_stylesheet do %>

    <style>

      .photo-from-batch{
          /*float: left;*/
          /*width: 200px;*/
          /*height: 200px;*/
          vertical-align: middle;
          text-align: center;
          margin-left: 10px;
          margin-top: 10px;
          display:inline-block;
      }

      .photo-from-batch img{
          height: 120px;
      }


      .upload-batch-photos{
          margin-bottom: 150px;
      }

      .good { background: green; }
      .bad { background: red; }


    </style>

<% end %>


<div class="viewlist">


<div>
  <%= link_to 'Back to list', moderator_upload_batches_path %>
  <%= will_paginate @upload_batches %>
</div>

<br>
<br>

<script>
  function set_batch_status(batch_id, status){
      $.get('/service/moderator/upload_batches/'+batch_id+'/update', {'status': status}, function(data){
          $("#upload-batch-"+data.id).addClass(data.review_status);
      }, 'json');
  }
</script>

<% @upload_batches.each do |batch| %>
<div class="upload-batch <%= batch.review_status %>" style="clear: both; margin-left: 10px;" id="upload-batch-<%= batch.id %>">
  <div class="batch-inro" style="text-align: left;">
    User: <%= link_to batch.user.username, user_path(batch.user) rescue "<b>USER DOESN'T EXISTS</b>".html_safe %><br/>
    Album: <%= link_to batch.album.name, album_pretty_url(batch.album) rescue "<b>ALBUM DELETED</b>".html_safe %><br/>
    Batch #<%= batch.id %> from <%= batch.created_at.strftime('%H:%M:%S   %b  %d %Y ') %><br>
    Finished at: <%= batch.updated_at.strftime('%H:%M:%S   %b  %d %Y ') %><br/>
    Review status: <%= link_to_function 'Good', "set_batch_status(#{batch.id}, 'good')" %> | <%= link_to_function 'Bad', "set_batch_status(#{batch.id}, 'bad')" %>
  </div>
  <br>
  <div class="upload-batch-photos">
    <%= render :partial => 'photos_from_batch', :locals => {:upload_batch => batch} %>
  </div>
  <br/>
</div>
<% end %>
<br>
<br>
<div><%= will_paginate @upload_batches %></div>
</div>
