
<%= render(:partial => 'zz_email_banner') %>

<h3>Dear <%=h @user.name %>,</h3>
<p>
The photos you added to album  <B><%=link_to (h @album.name), @album_url  %></B> are now ready.
If you shared the album, your messages and posts have been sent.
</p>
<table>
<tr>
<% @photos.each do |photo| %>
 <td> <img src="<%=photo.thumb_url%>"></td>
<%end%>
</tr>
</table>

<%= render(:partial => 'zz_email_signature') %>