<tr>
  <td><%= t("photo_id") %>:</td>
  <td><%= f.text_field :photo_id %></td>
</tr>
<% if @product.has_variants? %>
  <tr>
    <td><%= Variant.model_name.human %>:</td>
    <td><%= f.select :viewable_id, @variants %></td>
  </tr>
<% else %>
  <%= hidden_field_tag :product_id, @product.id %>
<% end %>
<tr>
  <td><%= t("description") %>:</td>
  <td><%= f.text_area :description %></td>
</tr>