<%content_for :page_stylesheet do%>
<style type="text/css">
    td{
        padding: 2px 0;
    }
    .viewlist{
        color: #555555;
    }
    .viewlist .content{
       font-size: 14px;
    }
    .field-label{
        color:  #999999;
    }
</style>
<%end%>

<% [:notice, :error].each do |key| %>
  <% if flash[key] %>
    <div class="flash-<%=key%>" style="position:absolute;top: 3%; left:55%; width: 500px; margin-left: -250px; text-align: center;">
        <%= flash[key] %>
    </div>
  <% end %>
<% end %>
<div id="sidemenu-container">
  <h1 id="sidemenu-title">Admin Pages</h1>
  <ul>
    <li id="status-topic" class="sidemenu-item <%=(@page=='status' ? 'sidemenu-item-selected' : '')%>">
        <a href="<%=admin_path() %>"> Status </a>
    </li>
    <li id="settings-topic"  class="sidemenu-item <%=(@page=='settings' ? 'sidemenu-item-selected' : '')%>">
        <a href="<%=system_settings_path() %>">System Settings</a>
    </li>
    <li id="homepage-topic"  class="sidemenu-item <%=(@page=='homepage' ? 'sidemenu-item-selected' : '')%>">
         <a href="<%=homepage_path() %>">Homepage</a>
    </li>
    <li id="email-topic" class="sidemenu-item  <%=(@page=='email' ? 'sidemenu-item-selected' : '')%>">
        <a href="<%=emails_path() %>"> Email </a>
    </li>
    <li id="logs-topic"   class="sidemenu-item <%=(@page=='logs' ? 'sidemenu-item-selected' : '')%>">
        <a href="<%=logs_path() %>">Logs/Headers</a>
    </li>
    <li id="users-topic"   class="sidemenu-item <%=(@page=='users' ? 'sidemenu-item-selected' : '')%>">
        <a href="<%=users_path() %>">Users</a>
    </li>
    <li id="guests-topic"  class="sidemenu-item <%=(@page=='guests' ? 'sidemenu-item-selected' : '')%>">
        <a href="<%=guests_path() %>">Guest List</a>
    </li>
    <li id="resque-topic"  class="sidemenu-item <%=(@page=='resque' ? 'sidemenu-item-selected' : '')%>">
        <a href="<%=root_url()+'service/admin/resque' %>" target="_blank">Resque</a>
    </li>
  </ul>
</div>

