<%= render :partial => 'adminmenu' %>
<div id="main-container" >
  <ul class="viewlist" style="width: 800px;">
    <li class="item">
      <div class="header bar">
        System Status
        <span style="float: right; color: #cccccc;"><%=Server::Application.config.zangzing_version%></span>
      </div>
      <div class="content">
      <%= raw(@health_check) %>
      </div>
    </li>
    <li class="item">
      <div class="header bar">
        Vital Signs
      </div>
      <div class="content">
        <table  width="500px" >
          <tr>
            <td><%=number_with_delimiter(User.count()) %> Users</td>
            <td><%=number_with_delimiter(@today_usercount)%> Today</td>
            <td><%=number_with_delimiter(@this_week_usercount)%> This Week</td>
            <td><%=number_with_delimiter(@this_month_usercount)%> This Month</td>
          </tr>
          <tr>
            <td></td>
            <td><%=number_with_delimiter(@yesterday_usercount)%> Yesterday</td>
            <td><%=number_with_delimiter(@last_week_usercount)%> Last Week</td>
            <td><%=number_with_delimiter(@last_month_usercount)%> Last Month</td>
          </tr>
          <tr><td><br></td></tr>
          <tr>
            <td><%=number_with_delimiter(Invitation.count(:conditions => ["status <> 'pending'"])) %> By Invite</td>
            <td><%=number_with_delimiter(@today_invited_usercount)%> Today</td>
            <td><%=number_with_delimiter(@this_week_invited_usercount)%> This Week</td>
            <td><%=number_with_delimiter(@this_month_invited_usercount)%> This Month</td>
          </tr>
          <tr>
            <td></td>
            <td><%=number_with_delimiter(@yesterday_invited_usercount)%> Yesterday</td>
            <td><%=number_with_delimiter(@last_week_invited_usercount)%> Last Week</td>
            <td><%=number_with_delimiter(@last_month_invited_usercount)%> Last Month</td>
          </tr>
          <tr><td><br></td></tr>

          <tr>
            <td><%=number_with_delimiter(Album.count())%> Albums</td>
            <td><%=number_with_delimiter(@today_albumcount)%> Today</td>
          </tr>
          <tr>
            <td></td>
            <td><%=number_with_delimiter(@this_week_albumcount)%> This Week</td>
          </tr>
          <tr><td><br></td></tr>
          <tr>
            <td><%=number_with_delimiter(Photo.count())%> Photos</td>
            <td><%=number_with_delimiter(@today_photocount)%> Today</td>
          </tr>
          <tr>
            <td></td>
            <td><%=number_with_delimiter(@this_week_photocount)%> This Week</td>
          </tr>
        </table>
      </div>
    </li>

    <li class="item">
      <div class="header bar">
        Third Party Service Status
      </div>
      <div class="content">
      <table border="0" width="150px">

          <% @status.keys.each do | service | %>
              <tr>
                <td><%=service.capitalize %></td>
                <td><span style="color:<%=( @status[service] ? 'green' : 'red' ) %>;"><%=( @status[service] ? 'UP' : 'DOWN' ) %></span></td>
              </tr>
          <%end%>

      </table>
      </div>
    </li>
  </ul>
</div>
