<%= render :partial => 'adminmenu' %>
<div id="main-container" >
  <ul class="viewlist" style="width: 800px;">
    <li class="item">
      <div class="header bar">
        System Status
        <span style="float: right; color: #cccccc;"><%=Server::Application.config.zangzing_version%></span>
      </div>
      <div class="content">
      <%= raw(@health_check) %>
      </div>
    </li>
    <li class="item">
      <div class="header bar">
        Vital Signs
      </div>
      <div class="content">
        <table  width="500px" >
          <tr>
            <td><%=number_with_delimiter(@stats[:users][:total]) %> Users</td>
            <td><%=number_with_delimiter(@stats[:users][:today])%> Today</td>
            <td><%=number_with_delimiter(@stats[:users][:this_week])%> This Week</td>
            <td><%=number_with_delimiter(@stats[:users][:this_month])%> This Month</td>
          </tr>
          <tr>
            <td></td>
            <td><%=number_with_delimiter(@stats[:users][:yesterday])%> Yesterday</td>
            <td><%=number_with_delimiter(@stats[:users][:last_week])%> Last Week</td>
            <td><%=number_with_delimiter(@stats[:users][:last_month])%> Last Month</td>
          </tr>
          <tr><td><br></td></tr>
          <tr>
            <td><%=number_with_delimiter(@stats[:invited_users][:total]) %> By Invite</td>
            <td><%=number_with_delimiter(@stats[:invited_users][:today])%> Today</td>
            <td><%=number_with_delimiter(@stats[:invited_users][:this_week])%> This Week</td>
            <td><%=number_with_delimiter(@stats[:invited_users][:this_month])%> This Month</td>
          </tr>
          <tr>
            <td></td>
            <td><%=number_with_delimiter(@stats[:invited_users][:yesterday])%> Yesterday</td>
            <td><%=number_with_delimiter(@stats[:invited_users][:last_week])%> Last Week</td>
            <td><%=number_with_delimiter(@stats[:invited_users][:last_month])%> Last Month</td>
          </tr>
          <tr><td><br></td></tr>

          <tr>
            <td><%=number_with_delimiter(@stats[:albums][:total]) %> Albums</td>
            <td><%=number_with_delimiter(@stats[:albums][:today])%> Today</td>
            <td><%=number_with_delimiter(@stats[:albums][:this_week])%> This Week</td>
            <td><%=number_with_delimiter(@stats[:albums][:this_month])%> This Month</td>
          </tr>
          <tr>
            <td></td>
            <td><%=number_with_delimiter(@stats[:albums][:yesterday])%> Yesterday</td>
            <td><%=number_with_delimiter(@stats[:albums][:last_week])%> Last Week</td>
            <td><%=number_with_delimiter(@stats[:albums][:last_month])%> Last Month</td>
          </tr>
          <tr><td><br></td></tr>
          <tr>
            <td><%=number_with_delimiter(@stats[:photos][:total]) %> Photos</td>
            <td><%=number_with_delimiter(@stats[:photos][:today])%> Today</td>
            <td><%=number_with_delimiter(@stats[:photos][:this_week])%> This Week</td>
            <td><%=number_with_delimiter(@stats[:photos][:this_month])%> This Month</td>
          </tr>
          <tr>
            <td></td>
            <td><%=number_with_delimiter(@stats[:photos][:yesterday])%> Yesterday</td>
            <td><%=number_with_delimiter(@stats[:photos][:last_week])%> Last Week</td>
            <td><%=number_with_delimiter(@stats[:photos][:last_month])%> Last Month</td>
          </tr>
        </table>
      </div>
    </li>

    <li class="item">
      <div class="header bar">
        Third Party Service Status
      </div>
      <div class="content">
      <table border="0" width="150px">

          <% @status.keys.each do | service | %>
              <tr>
                <td><%=service.capitalize %></td>
                <td><span style="color:<%=( @status[service] ? 'green' : 'red' ) %>;"><%=( @status[service] ? 'UP' : 'DOWN' ) %></span></td>
              </tr>
          <%end%>

      </table>
      </div>
    </li>
  </ul>
</div>
