<div id="social-like-dialog">
  <div id="ld-inner">
    <form action="/service/likes/<%=@subj_id%>/post" id ="social_like_form_<%=@subj_id%>">
     <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input name="subject_type" value="<%=@subj_type%>" type="hidden">
    <div id="ld-top">
      Post your like on
      <input id="facebook_box" name="facebook" value="true" type='checkbox'   <%=( @is_facebook_linked  ? "authorized='yes' checked='checked'" : "" )%>/>
      <span style='color:#365896; font-weight: 700;'>Facebook</span> and/or
      <input id="twitter_box" name="tweet"  value="true"      type='checkbox' <%=( @is_twitter_linked  ? "authorized='yes' checked='checked'" : "" )%>/>
      <span style='color:#3fc0fd; font-weight: 700;'>Twitter</span> ?
    </div>
    <div id="ld-middle">
      <textarea name="message"><%= @message %></textarea>
    </div>
    <div id="ld-dothis">
      <input name="dothis" type='checkbox'/> Do this everytime I like something
    </div>
    <a id="ld-cancel" class="newblack-button" href="javascript:void(0)"><span>No thanks</span></a>
    <a id="ld-ok" class="newgreen-button" href="javascript:void(0)"><span>Post</span></a>
    </form>
  </div>
</div>
