<tr>
    <td>  <%= link_to h(user.name), user %> </td>
    <td>  <%= user.created_at.strftime( '%m/%d/%y' ) %> </td>
    <td>  <%= user.albums.count %>          </td>
    <td>  <%= user.photos.count %>          </td>
    <td>  <%= user.shares.count %>          </td>
    <td>  <%= button_to ( user.active ? "Deactivate" :  "Activate"), {:action => 'activate',  :id => user.id}, :method => :put %>    </td>
</tr>