
 <!-- % form_for :user, @user, :url => {:action => "update"}, :html => { :method => :put, :multipart => true } do |f| %-->
    <% form_for @user do | f|  %>
	    <%= render :partial => 'fields', :locals =>{:f => f }%>
        <div class="field">
            <%= f.label :style, "Style" %><br />
            <%= f.radio_button  :style, "gray" %>Midnight Breeze
            <%= f.radio_button  :style, "white" %>Pearly White
        </div>
	<div class="actions">
		<%= f.submit "Update"%>
	</div>

     <p>
       <b>Login count:</b>
       <%=h @user.login_count %>
     </p>

     <p>
       <b>Last request at:</b>
       <%=h @user.last_request_at %>
     </p>

     <p>
       <b>Last login at:</b>
       <%=h @user.last_login_at %>
     </p>

     <p>
       <b>Current login at:</b>
       <%=h @user.current_login_at %>
     </p>

     <p>
       <b>Last login ip:</b>
       <%=h @user.last_login_ip %>
     </p>

     <p>
       <b>Current login ip:</b>
       <%=h @user.current_login_ip %>
     </p>

         
<% end %>
