<% content_for :page_title do %>Change Password<% end %>

<div class="viewlist" id="account-settings">
  <ul>
    <li class="item">
      <div class="header bar">
        Change Password
        <a class="green-button done-button" id="pass-done-button"><span>Done</span></a>
      </div>
    </li>
    <li class="item">
      <div class="content">
        <% form_for @user,:url => update_user_password_url(@user)  do |f| %>
            <table>
              <tr>
                <td width="30%"><%= f.label :old_password %></td>
                <td>
                  <%= f.password_field :old_password %>
                  <span class="field-error-message"><%= @user.errors.on(:old_password) unless @user.errors.on(:old_password).nil? %></span>
                </td>
              </tr>
              <tr>
                <td> <%= f.label :password %> </td>
                <td>
                  <%= f.password_field :password %>
                  <span class="field-error-message"><%= @user.errors.on(:password) unless @user.errors.on(:password).nil? %></span>
                </td>
              </tr>
              <tr>
                <td><%= f.label :password_confirmation, :style=>"margin-right: 15px;" %></td>
                <td>
                  <%= f.password_field :password_confirmation %>
                  <span class="field-error-message"><%= @user.errors.on(:password_confirmation) unless @user.errors.on(:password_confirmation).nil? %></span>
                </td>
              </tr>
        <% end %>
        </table>
      </div>
    </li>
  </ul>
</div>


<% content_for :page_javascript do %>
    <script>
        $(document).ready(function(){

            //hide bottom toolbar
            zz.toolbars.hide_bottom_toolbar();


            //done button
            $('#pass-done-button').click(function(){
                $('form.edit_user').submit();
            });
        });
    </script>
<% end %>