<div class="viewlist" id="account-settings">
  <ul>
    <li class="item">
      <div class="header bar">
        Account Settings
        <a class="green-button" id="done-button"><span>Done</span></a>
      </div>
    </li>
  </ul>
  <ul>
    <li class="item tab add">
      <div class="title">
        <div class='section-title'>Change Password</div>
      </div>
<% form_for @user,:url => update_user_password_path(@user)  do |f| %>

      <%= f.label :old_password %>
      <%= f.password_field :old_password %>

      <span class="field-error-message"><%= @user.errors.on(:old_password) unless @user.errors.on(:old_password).nil? %></span>
      <br/>
      <br/>


      <%= f.label :password %>
      <%= f.password_field :password %>
      <span class="field-error-message"><%= @user.errors.on(:password) unless @user.errors.on(:password).nil? %></span>
      <br/>


      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <span class="field-error-message"><%= @user.errors.on(:password_confirmation) unless @user.errors.on(:password_confirmation).nil? %></span>
      <br/>


<% end %>

    </li>
  </ul>
</div>


<% content_for :page_javascript do %>
    <script>
        $(document).ready(function(){

            //done button
            $('#done-button').click(function(){
                $('form.edit_user').submit();
            });
        });
    </script>
<% end %>