<div id="headline">
    <h3>User Account</h3>
</div>
<br/>

  <% form_for @user, {:id=>"update-user-form"} do | f|  %>
	    <%= render :partial => 'fields', :locals =>{:f => f }%>
	<div class="actions">
		<%= f.submit "Update", {:id=>"update-user-button"}%>
	</div>

<% end %>
     <p>
       <b>Last login at:</b>
       <%=h @user.last_login_at %>
     </p>

     <p>
       <b>Current login at:</b>
       <%=h @user.current_login_at %>
     </p>

     <p>
       <b>Last login ip:</b>
       <%=h @user.last_login_ip %>
     </p>

     <p>
       <b>Current login ip:</b>
       <%=h @user.current_login_ip %>
     </p>
