<% content_for :page_title do %>Account Settings<% end %>


<div class="viewlist" id="account-settings">
  <ul>
    <li class="item">
      <div class="header bar">
        Settings
        <a class="green-button done-button"><span>Done</span></a>
      </div>
    </li>
  </ul>
 <%= form_for @user, :url => update_user_path(@user), :html => { :method => :put} do |user_form| %>
  <ul>
    <li class="item tab add">
      <div class="header tab-centered">
        Profile
      </div>
      <div class="indented content">

            <input type="hidden" id="profile-photo-id" name="user[profile_photo_id]" value="<%= @user.profile_photo_id %>">
            <table>
              <tr>
                <td> <%= user_form.label :first_name %> </td>
                <td>
                  <%= user_form.text_field :first_name %>
                  <span class="field-error-message"><%= @user.errors.on(:first_name) unless @user.errors.on(:first_name).nil? %></span>
                </td>
              </tr>
              <tr>
                <td> <%= user_form.label :last_name %> </td>
                <td>
                  <%= user_form.text_field :last_name %>
                  <span class="field-error-message"><%= @user.errors.on(:last_name) unless @user.errors.on(:last_name).nil? %></span>
                </td>
              </tr>

              <tr>
                <td> <%= user_form.label :email %> </td>
                <td>
                  <%= user_form.text_field :email %>
                  <span class="field-error-message"><%= @user.errors.on(:email) unless @user.errors.on(:email).nil? %></span>
                </td>
              </tr>

              <tr>
              <tr>
                <td> <%= user_form.label :user_name %> </td>
                <td>
                  <span id="user_username" class="no-edit-field"> <span class="blue"><%= @user.username %></span> </span>
                </td>
              </tr>

              <tr>
                <td> <%= user_form.label :home_page %> </td>
                <td>
                  <span id="home_page" class="no-edit-field"> http://www.zangzing.com/<span class="blue"><%= @user.username %></span></span>
                </td>
              </tr>

              <tr>
                <td> <%= user_form.label :password %> </td>
                <td>
                    <span id="user_password" class="no-edit-field">
                        <a id="change-password-button" href="<%= edit_user_password_url @user%>">Click here to change password</a>
                    </span>
                </td>
              </tr>
              <tr>
                <td> <%= user_form.label :profile_picture %> </td>
                <td>
                    <span id="user_profile_picture" class="no-edit-field">
                        <%= render :partial => 'users/profile_photo', :locals => { :user => @user }    %>
                    </span>
                  <span id="profile-photo-picker"></span>
                  <a class="black-button" id="upload-button"><span>Upload</span></a>
                </td>
              </tr>
            </table>
      </div>
    </li>

    <li class="item tab add">
      <div class="header tab-centered">
        Account Plan
      </div>

      <div class="description">

        <%
            storage_used_gb = @user.storage_used / 1024.00  # expensive call, so cache
            total_storage_gb = @user.total_storage / 1024.00
            percent_used = (100 * storage_used_gb / total_storage_gb).to_i

        %>

        <div class='bold-text'>ZangZing10</div>
        <p>Premium account billing starts June 30. <a href="">Learn more</a> or <a href="<%=invite_friends_url%>">invite friends</a> and you both get free space.</p>

        <div class='storage-meter'>
            <div class='used' style='width:<%= percent_used <= 100 ? percent_used: 100 %>%'></div>
            <div class='label'><%= percent_used %>% of space used - <%= number_with_precision(storage_used_gb, :precision => 2, :strip_insignificant_zeros => true) %> GB of <%= number_with_precision(total_storage_gb, :precision=> 2, :strip_insignificant_zeros => true)%> GB</div>
        </div>
      </div>

    </li>



    <li class="item tab add">
      <div class="header tab-centered">
        Invite Status
      </div>

      <div class="description">
        <%
           if @user.bonus_storage
               # do a little math to make 0.25GB show as 250MB rather than 256MB
               usable_bonus_storage_mb = number_with_precision((@user.usable_bonus_storage * 1000 / 1024), :precision => 2, :strip_insignificant_zeros => true)

        %>
        <div class='bold-text'>Congrats! You’ve earned <%= usable_bonus_storage_mb %> MB of free space.</div>
        <% end %>

        <p>For every friend who joins ZangZing, you and your friend each get 250MB of free space up to 8GB.</p>
        <br>
        <a href="<%=invite_friends_url%>">Invite friends to ZangZing</a>

      </div>
      <div class="indented content">
          <%
            @user.sent_invitations.each do |invitation|
          %>

              <% if invitation.status == Invitation::STATUS_PENDING %>
                  <div class="invitation">
                    <div class="email-address"><%= "#{invitation.tracked_link.shared_to_address}" %> was invited on <%= invitation.created_at.strftime("%B %d, %Y")%></div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div><a href="#" class='send-reminder' data-invitation-id="<%=invitation.id%>">Send reminder invitation</a></div>
                  </div>

              <% elsif invitation.status == Invitation::STATUS_COMPLETE %>
                <div class="invitation">
                  <div class="email-address"><%= "#{invitation.tracked_link.shared_to_address}" %> joined on <%= invitation.invited_user.created_at.strftime("%B %d, %Y")%></div>
                  <div><strong>Hooray!</strong> You both received 250MB of free space.</div>
                </div>

              <% elsif invitation.status == Invitation::STATUS_COMPLETE_BY_OTHER %>
                <div class="invitation">
                  <div class="email-address"><%= "#{invitation.tracked_link.shared_to_address}" %> accepted an invitation from another user%></div>
                </div>

              <% end %>
          <%
             end
          %>
      </div>
    </li>



    <li class="item tab add">
      <div class="header tab-centered">
        Linked Accounts
      </div>
      <div class="description">
        Linking ZangZing to third party accounts enables you to upload photos from other websites and import contacts.
        By linking to Twitter or Facebook, you can choose to post albums, photos, or comments to these websites.
        We promise to never post or send messages unless you have requested it.
      </div>
      <div class="indented content">
        <table id="linked-accounts-table">
          <%
             Identity::UI_INFO.keys.each_index do |i|
                 service_key = Identity::UI_INFO.keys[i]
                 account_is_linked = @user.has_valid_identity?(service_key)

                 if service_key != :local
          %>
                  <tr data-service-key="<%= service_key %>">
                    <td>
                      <img class='service-icon' src="<%= image_path("/images/logos/#{service_key}-sq.png") %>">
                      <span><%= Identity::UI_INFO[service_key][:name] %></span>
                    </td>
                    <td>
                    <span class='account-linked' style="display: <%=account_is_linked ? 'inline-block':'none' %>" >
                        <img class='account-linked-icon' src="<%= image_path('/images/btn-check-on.png') %>">Linked
                    </span>
                    </td>
                    <td>
                      <a href="#" class="link-button"   style="display: <%=account_is_linked ? 'none':'inline-block'%>">Link</a>
                      <a href="#" class="unlink-button" style="display: <%=account_is_linked ? 'inline-block':'none'%>">Unlink</a>
                    </td>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>
    </li>
    <li class="item tab add">
      <div class="tab-centered header">
        Email Preferences
      </div>
      <div class="indented content">
        <%=user_form.fields_for :subscriptions do |subscriptions_form| %>
        <table>
            <%=render :partial=> 'subscriptions/subscriptions_fields', :locals=> { :f => subscriptions_form, :subs => @user.subscriptions } %>
       </table>
       <%end%>
      </div>
    </li>
    <% if order_count = @user.orders.complete.count > 0 %>
        <li class="item tab add">
          <a name="orders" href="#"></a>
          <div class="header tab-centered">
            Order History
          </div>
          <div class="indented content">
            <table>
              <tr>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Shipped To</th>
                <th>Status</th>
              </tr>
              <%@user.orders.complete.each_index do |i|%>
                  <% order = @user.orders.complete[i] %>
                  <tr>
                    <td><%=link_to order.number,  order_path( order) %></td>
                    <td><%= order.completed_at.strftime("%d %b %Y") %></td>
                    <td><%= "#{order.ship_address.firstname} #{order.ship_address.lastname}"%></td>
                    <td><%= t(order.state, :scope => :customer_order_state ).titleize%></td>
                  </tr>
                  <%
                    #if i >= 9
                    #<tr><td></td><td></td><td></td><td><%= link_to "More", orders_url </td></tr>
                    #break
                    #end
                  %>
              <%end%>
            </table>
          </div>
        </li>
    <%end%>
  </ul>
<% end #user form%>
<ul>
    <li class="item">
      <div class="header bar"></div>
    </li>
    <a class="green-button done-button"><span>Done</span></a>
  </ul>
</div>

<% content_for :page_javascript do %>

    <script>



        $(document).ready(function(){


            //hide buttons on bottom toolbar
            $('#footer #new-album-button').hide();
            $('#footer #like-button').hide();
            $('#footer #buy-button').hide();

            //done button
            $('.done-button').click(function(){
                $('form.edit_user').submit();
            });


            //profile photo picker
            var profile_album_id = '<%= @user.profile_album.id.to_s %>';
            zz.profile_pictures.init_profile_pictures($('.profile-picture'));


            var load_profile_photos = function(callback){
                zz.routes.photos.get_album_photos_json(profile_album_id, 0, function(json){
                    var selectedIndex=-1;
                    var currentId = $('#profile-photo-id').val();
                    var photos = $.map(json, function(element, index){
                        var id = element.id;
                        if(id == currentId){
                            selectedIndex = index;
                        }
                        var src = element.thumb_url;
                        src = zz.agent.checkAddCredentialsToUrl(src);
                        return {id:id, src:src};
                    });
                    callback(photos,selectedIndex);
                });
            };

            var profile_photo_picker;

            var init_profile_photo_picker = function(){
                load_profile_photos(function( photos, selectedIndex ){
                    profile_photo_picker = $("#profile-photo-picker").zz_thumbtray({
                        photos:photos,
                        showSelection:false,
                        selectedIndex:selectedIndex,
                        onSelectPhoto: function(index, photo){
                            if(index!==-1){
                                $('#user_profile_picture img').attr('data-src', photo.src)
                                $('#profile-photo-id').val(photo.id);
                            }
                            zz.profile_pictures.init_profile_pictures($('.profile-picture'));



                        }
                    }).data().zz_thumbtray;
                });
            };

            var reload_profile_photo_picker = function(){
                load_profile_photos( function( photos, selectedIndex ){
                    profile_photo_picker.setPhotos( photos );
                    profile_photo_picker.setSelectedIndex( selectedIndex );
                });
            };


            var upload_photos = function(){
                zz.photochooser.open_in_dialog(profile_album_id, function(){
                    reload_profile_photo_picker();
                });
            };

            init_profile_photo_picker();

            $('#upload-button').click(function(){
                upload_photos();
            });



            // invitations
            $('a.send-reminder').click(function(){
                var element = $(this);
                var invitation_id = element.attr('data-invitation-id');
                var dialog = zz.dialog.show_progress_dialog("Sending reminder...");
                zz.routes.invitations.send_reminder(invitation_id, function(){
                    dialog.close();
                    element.fadeOut('fast');
                });
            });




            //linked accounts
            $('#linked-accounts-table tr').each(function(){
                var service_key = $(this).attr('data-service-key');
                var link_button = $(this).find('.link-button');
                var unlink_button = $(this).find('.unlink-button');
                var account_linked = $(this).find('.account-linked');

                link_button.click(function(){
                    var url = zz.routes.new_identity_path(service_key);

                    zz.oauthmanager.login( url , function(){
                        link_button.hide();
                        unlink_button.show();
                        account_linked.show();
                    });

                });

                unlink_button.click(function(){
                    var url = zz.routes.delete_identity_path(service_key);

                    //todo: should have failure handler here too
                    $.post(url, function(){
                        link_button.show();
                        unlink_button.hide();
                        account_linked.hide();
                    });
                });
            });


            zz.mobile.lock_page_scroll();
            $('#article').touchScrollY();
        });





    </script>

<% end %>










