<% content_for :page_title do %>Finish Profile<% end %>

<%= render :partial => 'layouts/top_nav'  %>


<div class="main">

<h1>Welcome to ZangZing. Let's create your profile.</h1>

<div class="fieldscontainer">
<form class="finish-profile-form">
<input style="visibility:hidden" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
<div class="section">
  <div class="flag-left">
    <div class="flag">1</div>
  </div>
  <div class="right">
      <div class="title">Add your profile photo</div>
      <div class="content">
        <div class="picture-container"><div class="mask"><img src="<%= @user.profile_photo_url %>" id="profile-photo"></div><img class="bottom-shadow" src="/images/photo/bottom-full.png"/></div>

        <span class="simple-uploader-button-wrapper">
            <a id="simple-uploader-button" class="black-button"><span>Upload</span></a>
            <div id="simple-uploader-flash-wrapper"></div>
        </span>

        <div class="progress-block none"></div>

      </div>
  </div>
</div>

  <div class="section">
    <div class="flag-left">
      <div class="flag">2</div>
    </div>
    <div class="right">
        <div class="title">Tell us your name</div>
        <div class="content">
          <label for="user_name" >First &amp; Last Name</label>
          <input type="text" name="user[name]" id="user_name" value="" />

        </div>
    </div>
  </div>

  <div class="section">
    <div class="flag-left">
      <div class="flag">3</div>
    </div>
    <div class="right">
        <div class="title">Pick your username</div>
        <div class="content">
          <label for="user_username">zangzing.com/</label>
          <input type="text" name="user[username]" id="user_username" value="" />
        </div>
    </div>
  </div>

  <div class="clear"></div>
</form>
</div><!--fieldscontainer-->

<div class="donecontainer">
  <input type="button" id="done" value="Done" />
</div>

</div><!--main-->

<% content_for :zz_js_document_ready do %>

    remove_toolbar_buttons();

    var validator = add_profile_validation( $('.finish-profile-form') );

    $('.content label').first().inFieldLabels();

    $('#done').click(function(){
        check_form($('.finish-profile-form'));
    });

    $('.finish-profile-form').bind('keypress', function(e){
        if ( e.keyCode == 13 ) {
            check_form($('.finish-profile-form'));
        }
    });

    load_profile_photo("<%= @user.profile_photo_url %>");

    setup_upload();

<%end%>







<% content_for :page_javascript do %>

<%= include_javascripts :shared %>

<script type="text/javascript">
zz.config = zz.config || {};
zz.config.win_download_url       = '<%= ZangZingConfig.config[:agent_download_url_win] %>';
zz.config.mac_download_url       = '<%= ZangZingConfig.config[:agent_download_url_mac] %>';
zz.config.agent_port             = '<%= ZangZingConfig.config[:agent_port] %>';
zz.config.rails_asset_id         = '<%= ENV["RAILS_ASSET_ID"] %>';
zz.config.rails_asset_host       = '<%= ActionController::Base.asset_host %>';
zz.config.facebook_app_id        = '<%=FACEBOOK_API_KEYS[:app_id]%>';
zz.config.rails_env              = '<%= ENV["RAILS_ENV"] %>';

function check_form(form_element){
    var num_fields_nonempty = 0;

    num_fields_nonempty =
        (form_element.find('#user_name').val().length != 0) +
        (form_element.find('#user_username').val().length != 0);

    if(form_element.valid()){
        submit_data(form_element);
        ZZAt.track("join.finishprofile.click");
        ZZAt.track("join.finishprofile.click.valid");
    } else {
        var num_fields_valid = 0;
        var bit_notation = 0;

        bit_notation =
            1 * form_element.find('#user_name').valid() +
            2 * (form_element.find('#user_name').val().length != 0) +
            4 * form_element.find('#user_username').valid() +
            8 * (form_element.find('#user_username').val().length != 0);

        num_fields_valid =
            form_element.find('#user_name').valid() +
            form_element.find('#user_username').valid();

        ZZAt.track("join.finishprofile.click");
        ZZAt.track("join.finishprofile.invalid", {
            Zjoin_num_fields_nonempty: num_fields_nonempty,
            Zjoin_num_fields_valid: num_fields_valid,
            Zjoin_bit_fields: bit_notation
        });
    }

} // check_form

function submit_data(form_element){
    var finish_api_url = "/zz_api/login_create_finish"; // TODO: try to keep it self-contained
    var next_url = "/";

    var name, username, hash;

    name = form_element.find('#user_name').val();
    username = form_element.find('#user_username').val();
    hash = {name: name, username: username};

    $.ajax({
        url: finish_api_url,
        type: 'POST',
        data: hash,
        success: function(data){
            console.debug(JSON.stringify(data));
            window.location = "/";
        }, // success
        error:function(jqXHR, textStatus, errorThrown){
            var response = null;

            try {
                response = JSON.parse(jqXHR.responseText);
                console.debug('parsing worked');
                console.debug(JSON.stringify(response));
                alert(response.message); // TODO: change this to real message
            } catch (e) {
                // TODO: generic error goes here
                console.debug('error in parsing');
                return false;
            }

        } // error
    });


} // submit_data


function remove_toolbar_buttons(){
    $('#help-button').remove();
    $('#header-right-gradient').remove();
    $('#sign-in-button').remove();
    $("#user-info").remove();
}

function show_processing_photos_dialog() {
    var template = '<span class="processing-photos-dialog-content"><img src="{{src}}">Processing photos...</span>'.replace('{{src}}', zz.routes.image_url('/images/loading.gif'));

    var dialog = zz.dialog.show_dialog(template, { width: 300, height: 100, modal: true, autoOpen: true, cancelButton: false });
    return dialog;

}


// takes a jquery element
function add_profile_validation(element) {
    zz.joinform.add_regex_validator();

    return element.validate( {
        rules : {
            'user[name]' : {
                required : true,
                minlength : 1
            },
            'user[username]' : {
                required : true,
                minlength : 1,
                maxlength : 25,
                regex : "(^[a-zA-Z0-9]+$|^[a-zA-Z0-9]+:.{8}$)",
                remote : zz.routes.path_prefix + '/users/validate_username' // can add async true here to force validation on slow connection
            }
        },
        messages : {
            'user[name]' : {
                required : 'Please enter your name.',
                minlength : 'Please enter your name.'
            },
            'user[username]' : {
                required : 'Please enter a username.',
                regex : 'Only letters and numbers.',
                remote : 'This username is already taken.'
            }
        }
    });
}

function load_profile_photo(url){
    $("#profile-photo").attr('src', url);
    zz.image_utils.pre_load_image(url, function(image) {
        var css = zz.image_utils.scale_center_and_crop(image, {width: 48, height: 48});
        $("#profile-photo").css(css);
    });
}





//*************************************************************************************************************************************/

$('#simple-uploader-button').click(function() {
    alert('The uploader requries the Flash.\nPlease download and install from http://get.adobe.com/flashplayer.');
});

var template =
    $('<div id="simpleuploader-dialog">' +
    '<div class="simpleuploader-container">' +
    '<div class="simpleuploader">' +
    '<div class="queue"></div>' +
    '</div>' +
    '</div>' +
    '</div>');

var queued_file_template =
        $('<div class="queued-file">' +
                '<div class="status"></div>' +
                '<div class="name"></div>' +
                '<div class="progress-container"><div class="progress-bar"></div></div>' +
                '<div class="cancel-button"></div>' +
                '</div>');


function setup_upload(){
    var aid = <%=(@user ? @user.profile_album_id: 'nil')%>;

    call($('#simple-uploader-flash-wrapper'), aid, function(photos_uploaded) {
                var on_finished = function() {
                    zz.routes.call_set_latest_photo_as_cover(aid, function(data){
                        load_profile_photo(data.t_url);
                        console.debug(data);
                        $(".progress-block").addClass("none");

                        $(".swfupload").remove();
                        setup_upload();
                    });
                };

                if (photos_uploaded > 0) {
//                    var dialog = show_processing_photos_dialog();

                    setTimeout(function() {
                        on_finished();
//                        dialog.close();
                    }, 3000);
                }
                else {
                    on_finished();
                }

            },
            $.cookie('user_credentials')
    );
} // setup_upload

function call(wrapper_element, album_id, on_done, user_credentials) {
    wrapper_element.html('<div id="replace-with-swfupload"></div>');

    var upload_started = false;
    var queue_element = template.find('.queue');

    var uploader = new SWFUpload({
        // Backend Settings
        upload_url: '/service/albums/' + album_id + '/upload',
        post_params: {'user_credentials': user_credentials},

// File Upload Settings
        file_size_limit: '102400',    // 100MB
        file_types: '*.jpg;*.jpeg;*.png;*.gif;*.tiff;*.JPG;*.JPEG;*.PNG;*.GIF;*.TIFF',
        file_types_description: 'Image Files',
        file_upload_limit: '0',
        file_queue_limit: '0',
        button_action: SWFUpload.BUTTON_ACTION.SELECT_FILE,


// Button Settings
        button_width: 80,
        button_height: 30,
        button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
        button_cursor: SWFUpload.CURSOR.HAND,
        button_placeholder_id: "replace-with-swfupload",

// Flash Settings
        flash_url: '/static/swf/swfupload.swf',

        file_queued_handler: function(file) {
            start_file_upload_ui();
            uploader.startUpload();
        },

        upload_success_handler: function(file, serverData) {
            on_done(1);
        }

    }); // new SWFUpload
}


/***************************/

// TODO: include linux here
function getPhotoSource(){
    if (navigator.appVersion.indexOf('Mac') != -1) {
        return'simple.osx';
    }

    return 'simple.win';
}

function start_file_upload_ui(){
    //self.queue_element = template.find('.queue');

    // Show blocker
    $(".progress-block").removeClass("none");

    var progui = '<span class="processing-photos-dialog-content"><img src="{{src}}">Processing photos...</span>'.replace('{{src}}', zz.routes.image_url('/images/loading.gif'));

    // Insert progress meter
    $(".progress-block").html(progui);

}

</script>

<% end %>
