<%= render :partial => 'admin/admin_screens/adminmenu' %>
<div id="main-container">
  <div class="viewlist">
    <div class='header bar'>
       <table>
      <tr>
      <td width="50%">All users</td>
      <td>
      <%= form_tag users_path, :method => 'get' do %>
          <%= search_field_tag :search, params[:search], :id=>'search-field'  %>
          <%= submit_tag "Search", :name => nil%>
          <%= submit_tag "Clear", :name => nil, :onclick=>"$('#search-field').val('')" %>
        <% end %>
      </td>
      </tr>
      </table>
    </div>
    <div class="title">
      <%= will_paginate @users%>
    </div>
    <div class="content">
      <table frame="box" width="800px" border="0"  cellspacing="10" align="left" style="text-align: left;">
         <tr>
          <th> User         </th>
          <th> Member Since </th>
          <th> # of Albums  </th>
          <th> # of Photos  </th>
          <th> # of Shares  </th>
          <th> Status       </th>
          <th></th>
        </tr>
        <%= render :partial => 'user', :collection => @users %>
      </table>
      <div class="title">
        <%= will_paginate @users%>
      </div>
    </div>
  </div>
</div>