<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->
  <meta http-equiv="Content-Language" Content="en">
  <meta charset="utf-8">
  <meta name="copyright" content="Copyright 2011, ZangZing, LLC. All Rights Reserved." />
  <meta name="DC.title" content="ZangZing" />
  <meta name="title" content="ZangZing" />
  <meta name="description" content="Join ZangZing - a free photo sharing site for groups to share photos, simply, beautifully, publicly or privately and without any ads.">

  <title>Join | Photo Sharing - ZangZing</title>
  <link rel="canonical" href="<%= join_url %>" />


  <%= include_javascripts :css %>
  <%= include_stylesheets :common %>




</head>
<body class="signin">
<img src="/images/background_signin.jpg" class="bg" />


<div id="join-dialog" class="new-dialog user-session-dialog">
  <div class="background"></div>
  <div class="frame"></div>
  <div class="body">

    <a class="logo" href="/"><img src="/error/img/logo.png" alt="logo" /></a>

    <div class="content">
      <h1>Join</h1>
      <a id= "back-to-signin-button" href="/signin" class="gray-button"><span>Sign In</span></a>
      <div id="header-hairline"></div>

      <form id="join-form" method="post" enctype="multipart/form-data" action=<%=create_user_url%>>
        <input style="visibility:hidden" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
        <% if flash[:error] %>
        <div id="flash-error">
            <%= flash[:error] %>
        </div>
        <% end %>
        <table>
          <tr>
            <td class="label">First and Last Name</td>
            <td class="field">
              <div class="field-wrapper">
                <input type="text" value="<%=(@new_user ? @new_user.name : '')%>" size="30" name="user[name]" id="user_name">
              </div>
            </td>
          </tr>

          <tr>
            <td class="label">User Name</td>
            <td class="field">
              <div class="field-wrapper">
                <input type="text" value="<%=(@new_user ? @new_user.username: '')%>" size="30" maxlength="25" name="user[username]" id="user_username">
              </div>
            </td>
          </tr>

          <tr>
            <td  colspan="2" class="field" style="text-align:right; width: 200px;">
              zangzing.com/<span class="blue" id="username">your_user_name</span>
            </td>
          </tr>

          <tr>
            <td class="label">Email</td>
            <td class="field">
              <div class="field-wrapper">
                <input type="text" value="<%=(@new_user ? @new_user.email: '')%>" size="30" name="user[email]" id="user_email">
              </div>
            </td>
          </tr>

          <tr>
            <td class="label">Password</td>
            <td class="field">
              <div class="field-wrapper">
                <input type="password" size="30" maxlength="40" name="user[password]" id="user_password">
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="2" class="label">
              <div id="tos">By joining you accept and agree to <a class="hyperlink-button" target="_blank" href="http://www.zangzing.com/terms">the terms of service</a>.</div>
            </td>

          </tr>


        </table>
      </form>
      <a id="submit-button" class="newgreen-button" rel="nofollow"><span>Join</span></a>




    </div>
  </div>
</div>

<%= render :partial => 'layouts/zza'  %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<%= include_javascripts :lib %>
<%= include_javascripts :zz %>

<% if Rails.env.development? && browser.ie? %>
    <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
<% end %>

<script>
    $(document).ready(function(){

        zz.local_storage.clear();


        $('#submit-button').click(function(){
            ZZAt.track('button.join.click');
            $('form').submit();
        });


        $('form').bind('keypress', function(e){
            if ( e.keyCode == 13 ) {
                ZZAt.track('button.join.click');
                $("form").submit();
            }
        });

        $('.logo').center_y();

        $('#user_username').keyup(function(event){
            var username = $('#user_username').val();
            //set the value in the homepage url
            $('#username').text(username);
        });


        $('#join-form').validate({
            rules: {
                'user[name]': {
                    required: true,
                    minlength: 1
                },
                'user[username]': {
                    required: true,
                    minlength: 1,
                    maxlength:25,
                    regex: "(^[a-z0-9]+$|^[a-z0-9]+:.{8}$)",
                    remote: zz.routes.path_prefix + '/users/validate_username'
                },
                'user[email]': {
                    required: true,
                    email: true,
                    remote: zz.routes.path_prefix + '/users/validate_email'
                },
                'user[password]': {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                'user[name]': {
                    required: 'please enter your name',
                    minlength: 'please enter your name'
                },
                'user[username]':{
                    required: 'please enter a username',
                    regex: 'only lower case letters and numbers',
                    remote: 'username already taken'
                },
                'user[email]': {
                    required: 'promise we won&rsquo;t spam you',
                    email: 'valid email, please',
                    remote: 'email already taken'
                },
                'user[password]': '6 characters or more, please'
            }
        });
        $('#user_name').focus();

        ZZAt.track('page.join.visit');
    });

</script>

</body>
</html>
