

<% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
<% end %>

<% if @email_template.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@email_template.errors.count, "error") %>
        prohibited this email template from being saved:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
    <% @email_template.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
<%= f.label :name%>
<%= f.text_field :name %>
</div>

<div>
<%= f.label :mc_campaign_id, "MC Campaign" %>
<%= f.select :mc_campaign_id, options_for_select(@campaign_options,f.object.mc_campaign_id), {:prompt => 'Select Campaign', :include_blank => true } %>
</div>

<!--
<div>
<%= f.label :from_name%>
<%= f.text_field :from_name%>
</div>

<div>
<%= f.label :from_address%>
<%= f.text_field :from_address%>
</div>

<div>
<%= f.label :subject%>
<%= f.text_field :subject%>
</div>

-->
