<%= render :partial =>  'admin/admin_screens/adminmenu' %>
<div id="main-container">

  <ul class="viewlist">
    <li class="header bar">Edit <%= 'Outer ' if @email_template.is_outer? %>Email Template</li>
    <li class="item">
      <%=form_for @email_template  do | f |%>
          <%= render :partial => 'fields', :locals =>{ :f => f }%>

          <div style="float:left;">
            <%= f.submit "Save"%>
            <%= button_to_function "Preview", "window.open('#{test_email_template_url( @email_template )}?onscreen=true','_blank','left=20,top=20,width=700,height=900,toolbar=0,resizable=0,scrollbars=1');return false;" unless @email_template.is_outer? %>
            | <%= link_to 'Delete', email_template_url( @email_template ), :method => :delete, :confirm => "Are you sure you want to delete this template?" %>
            | <%= link_to 'Cancel / Return', email_templates_path, :method => :get %>
          </div>
      <%end%>
    </li>
  </ul>
</div>
