<%= render :partial =>  'admin/admin_screens/adminmenu' %>
<div id="main-container">
  <div class="viewlist">
    <li class="item">
      <div class="header bar">
        Email Templates
      </div>

      <div class="title" style="font-size: 90%;">
        This account MUST Have at least 1 Album in addition to your profile album and both must have Photos to test email_templates, otherwise you will see errors
      </div>

      <div class="content">
        <table frame="box" width="800px" border="0"  cellspacing="10">
          <tr>
            <th>   </th>
            <th> MC Campaign </th>
            <th> email         </th>
            <th> Status        </th>
            <th> Last Loaded   </th>
            <th></th>
            <th></th>
          </tr>

          <% @email_templates.each do |et| %>
              <tr>
                <td>
                  <a href="<%=edit_email_template_path( et )%>">
                    <%=et.id%>
                  </a>
                </td>
                <td>
                  <a href="<%=edit_email_template_path( et )%>">
                    <% index = @campaign_options.index{ |co|  co[1] == et.mc_campaign_id} %>
                    <% if index.nil? %>
                        <span style="color: red;" title="<%="You've deleted mailchimp campaign <#{et.mc_campaign_id}> <#{et.name}> Please delete Email Template With ID #{et.id}" %>">
                          <%=et.name%> (MC Campaign Deleted)
                        </span>
                    <% else %>
                       <%= @campaign_options[ index ][0] %>
                    <%end%>
                  </a>
                </td>

                <td>
                  <%= et.email.name %>
                </td>

                <td>
                  <%if et.production_email %>
                      <span style="color: red;">production</span>
                  <%else%>
                      <span style="color: green;">testing</span>
                  <%end%>
                </td>

                <td>
                  <%= et.updated_at.strftime("%B %d#{", %Y" if et.updated_at.year != Date.today.year} %l:%M %p") %>
                </td>

                <td>
                  <%=form_for et, :url => reload_email_template_path( et ) do  | f |%>
                      <input onclick="return confirm('Are you sure you want to reload the template?');"
                             value="Reload" type="submit" />
                  <%end%>
                </td>
                <td>
                  <%=button_to "Send Me A Test",   {:action => :test, :id=> et.id}, {:method => :get}  %>
                </td>
                <td>
                  <button onclick="window.open('<%="#{test_email_template_url( et )}?onscreen=true"%>','_blank','left=20,top=20,width=700,height=900,toolbar=0,resizable=0,scrollbars=1');return false">View</button>
                </td>

              </tr>
          <%end%>

        </table>
      </div>
      <div>
      <table>
      <tr>
      <td><%=button_to "Back to emails", emails_url, :method => 'get'%></td>
       <td><%=button_to "Create new Template", new_email_template_url, :method => 'get'%></td>
        <td width="50%">&nbsp</td>
        <td><%=button_to "Send Me All",   {:action => :test, :id=> 'all'}, {:method => :get}  %></td>
        <td><button onclick="show_all_email_templates();return false">View All</button></td>
       </tr>
      </table>
      </div>
  </div>
</div>


<script type="text/javascript">
  function show_all_email_templates(){
    <%left = 20
      top  = 20
      EmailTemplate.all.each do |et| %>
        window.open('<%="#{test_email_template_url( et )}?onscreen=true"%>','<%=et.name%>','left=<%=left%>,top=<%=top%>,width=700,height=900,toolbar=0,resizable=0,scrollbars=1');
    <% left +=10
       top += 10
      end%>
  }

  function mail_all_email_templates(){

  }
</script>
