<%= render :partial =>  'admin/admin_screens/adminmenu' %>
<div id="main-container">
  <div style="margin-top: 5px; margin-bottom: 10px; font-size: 1em;">
    <% [:notice, :error].each do |key| %>
        <% if flash[key] %>
            <div style="<%=( key == :error ? 'color:red;' : 'color:green;' )%>" id="flash">
              <%= flash[key] %>
            </div>
        <% end %>
    <% end %>
  </div>

  <div class="viewlist">
    <li class="item">
      <div class="header bar">
        Email Templates
      </div>

      <div class="title" style="font-size: 90%;">
        You MUST Have at least 1 Album with Photos in this account to test email_templates, otherwise you will see errors
      </div>

      <div class="content">
        <table frame="box" width="800px" border="0"  cellspacing="10">
          <tr>
            <th>   </th>
            <th> MC Campaign </th>
            <th> email         </th>
            <th> Status        </th>
            <th> Last Loaded   </th>
            <th></th>
            <th></th>
          </tr>

          <% @email_templates.each do |et| %>
              <tr>
                <td>
                  <a href="<%=edit_email_template_path( et )%>">
                    <%=et.id%>
                  </a>
                </td>
                <td>
                  <a href="<%=edit_email_template_path( et )%>">
                    <%= @campaign_options[@campaign_options.index{ |co|  co[1] == et.mc_campaign_id} ][0] %>
                  </a>
                </td>

                <td>
                  <%= et.email.name %>
                </td>

                <td>
                  <%if et.production_email %>
                      <span style="color: red;">production</span>
                  <%else%>
                      <span style="color: green;">testing</span>
                  <%end%>
                </td>

                <td>
                  <%= et.updated_at.strftime("%B %d#{", %Y" if et.updated_at.year != Date.today.year} %l:%M %p") %>
                </td>

                <td>
                  <%=form_for et, :url => reload_email_template_path( et ) do  | f |%>
                      <input onclick="return confirm('Are you sure you want to reload the template?');"
                             value="Reload" type="submit" />
                  <%end%>
                </td>
                <td>
                  <%=button_to "Send Me A Test",   {:action => :test, :id=> et.id}, {:method => :get}  %>
                </td>
                <td>
                  <%= form_for et, :url => test_email_template_url( et ), :html => { :method => :get, :class=>"button-to", :target=> "_blank" } do | f | %>
                      <input type="hidden" name="onscreen" value="true" />
                      <input value="View" type="submit"/>
                  <%end%>
                </td>

              </tr>
          <%end%>

        </table>
      </div>
      <%=button_to "Back to emails", emails_url, :method => 'get'%>
      <%=button_to "Create new Template", new_email_template_url, :method => 'get'%>
  </div>
</div>