<div class="flash"><%= flash[:notice] %></div>
<h1>Agents</h1>
<% unless @agents.empty? %>
<p>The following Agents have been Authorized to access your account</p>
<table>
  <tr><th>Agent Id</th><th>Issued</th><th>&nbsp;</th></tr>
  <% @agents.each do |agent|%>
    <%= content_tag_for :tr, agent do %>
      <td><%= agent.agent_id %></td>
      <td><%= agent.authorized_at %></td>
      <td>
        <%= form_tag :controller => 'oauth', :action => 'revoke' do %>
        <%= hidden_field_tag 'token', agent.token %>
        <%= submit_tag "Revoke!" %>
        <% end %>
      </td>
    <% end %>
  <% end %>

</table>
<% end %>