<!-- Javascript is used by the _photo partial. DO NOT REMOVE -->
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "jquery.ba-bbq" %>
<%= javascript_include_tag "jquery.jsonp" %>
<%= javascript_include_tag "jquery.cookie" %>
<%= javascript_include_tag "agent.js" %>

<H2 class='album'>HELP!</H2>

<script>



  agent.isAgentPresentAsync( function( agentPresent ){
       if(agentPresent){
          serverSessionCookie   = $.cookie("_zangzing_session");
          userCredentialsCookie = $.cookie("user_credentials");
          agent.registerAsync( userCredentialsCookie,
                               function(){ alert("Agent Registered") },
                               function(){alert("Agent NOT Registered!")} );
      }else{
          alert("agent not present");
      }    
    }
   );
</script>

