<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->
  <meta http-equiv="Content-Language" Content="en">
  <meta charset="utf-8">
  <meta name="copyright" content="Copyright 2011, ZangZing, LLC. All Rights Reserved." />
  <meta name="DC.title" content="ZangZing" />
  <meta name="title" content="ZangZing" />
  <meta name="description" content="Join ZangZing - a free photo sharing site for groups to share photos, simply, beautifully, publicly or privately and without any ads.">


  <meta property="og:title" content="Join ZangZing!"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= image_path('zz-logo-facebook.png') %>"/>
  <meta property="og:site_name" content="<%=FACEBOOK_API_KEYS[:og_site_name]%>"/>
  <meta property="fb:app_id" content="<%=FACEBOOK_API_KEYS[:app_id]%>" />
  <meta property="og:description" content="Join ZangZing - a free photo sharing site for groups to share photos, simply, beautifully, publicly or privately and without any ads."/>



  <title>Join | Photo Sharing - ZangZing</title>
  <link rel="canonical" href="<%= invitation_url %>" />


  <%= include_javascripts :css %>
  <%= include_stylesheets :common %>
</head>

<body class='invitation-page'>
<div class='top-section'>
  <div class='centered'>
    <a class='logo' href="http://www.zangzing.com"></a>
    <div class='title'>Congratulations!</div>
    <div class='sub-title'>You’ve been invited to join ZangZing.</div>
    <div class='note'>Join and you and <%= @friends_name %> get 250MB of extra space on top of the 2GB you already get for free!!</div>


    <form class="join-form" method="post" enctype="multipart/form-data" action="<%=create_user_url%>" >
      <input style="visibility:hidden" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
      <ul>
        <li>
          <label for="user_name" style="opacity: 1; ">First &amp; Last Name</label>
          <input type="text" name="user[name]" id="user_name" value="">
        </li>
        <li>
          <label for="user_username">Username</label>
          <input type="text" name="user[username]" id="user_username" value="">
        </li>
        <li>
          <label for="user_email">Email address</label>
          <input type="text" name="user[email]" id="user_email" value="">
        </li>
        <li>
          <label for="user_password">Password</label>
          <input type="password" name="user[password]" id="user_password" value="" maxlength="40">
        </li>
        <li>
          <a class="submit-button newgreen-button"><span>Join for Free</span></a>
        </li>
      </ul>
    </form>

  </div>


</div>

<div class='bottom-section'>

    <div class="slide-container">

      <div class="slide-clip">
        <div class="slide photo_sharing_redesigned"><!-- #1-->
          <div class="hero_image">
            <img src="/images/invitation-landing/photo_sharing_redesigned.png" alt="Photo Sharing Redesigned" width="455px" height="362px">
          </div>
          <div class="hero_content">
            <h1>Photo Sharing</h1>
            <h1>Redesigned</h1>
            <p>Add photos from anywhere. Group photo sharing. <br>Share how you want.</p>
            <p class="last_point">It’s simple.</p>
          </div>
        </div>
        <div class="slide add_from_anywhere" ><!-- #2-->
          <div class="hero_image">
            <img src="/images/invitation-landing/add_from_anywhere.png" alt="Add Photos From Anywhere" width="430px" height="233px">
          </div>
          <div class="hero_content">
            <h2>Add From Anywhere</h2>
            <p>Add from a Mac or PC, Facebook, Flickr, MobileMe, iPhoto, Email and more. Or even import all your photos.</p>
          </div>
        </div>
        <div class="slide group_photo_sharing"><!-- #3-->
          <div class="hero_image">
            <img src="/images/invitation-landing/group_photo_sharing.png" alt="Group Photo Sharing" width="533px" height="353px">
          </div>
          <div class="hero_content">
            <h2>Group Photo Sharing</h2>
            <p>Every album is a group album. You decide who can add, view, and download photos.</p>
          </div>
        </div>
        <div class="slide share_how_you_want" ><!-- #4-->
          <div class="hero_image">
            <img src="/images/invitation-landing/share_how_you_want.png" alt="Share Photos How You Want" width="552px" height="308px">
          </div>
          <div class="hero_content">
            <h2>Share How You Want</h2>
            <p>Public or private album viewing. Share by Email, Facebook or Twitter. Send prints and more.</p>
          </div>
        </div>
        <div class="slide simply_beautiful activeslide"><!-- #5-->
          <div class="hero_image">
            <img src="/images/invitation-landing/simply_beautiful.png" alt="Photo Sharing Redesigned" width="503px" height="305px">
          </div>
          <div class="hero_content">
            <h2>Simply Beautiful</h2>
            <p>You’ve never shared photos quite like this before. Full resolution. Full screen slideshow. No ads.</p>
          </div>
        </div>
      </div>


    </div>



</div>

<%= render :partial => 'layouts/zza'  %>
<%= include_javascripts :jquery %>
<%= include_javascripts :lib %>
<%= include_javascripts :zz %>
<%= include_javascripts :zz_oauthmanager %>

<script>
    $(document).ready(function(){

        zz.local_storage.clear();

        $('.invitation-page .join-form label').inFieldLabels();

        zz.login.add_validation($('.invitation-page .join-form'));


        $('.invitation-page .submit-button').click(function(){
            $('.invitation-page .join-form').submit();
        });


        $('.invitation-page .join-form').bind('keypress', function(e){
            if ( e.keyCode == 13 ) {
                $(".invitation-page .join-form").submit();
            }
        });

    });

</script>

</body>
</html>