<%= render :partial =>  'admin/admin_screens/adminmenu' %>
<div id="main-container" >
  <ul class="viewlist" style="width: 800px;">
    <li class="item">
      <div class="header bar">
        Signup Control
      </div>
      <div class="content">
        <br>
        <table>
        <%= form_tag( system_settings_path, :method => :put) do -%>
               <%=render :partial=>'setting', :locals => { :setting_name => 'signup_control' } %>
               <%=render :partial=>'setting', :locals => { :setting_name => 'new_users_allowed' } %>
               <%=render :partial=>'setting', :locals => { :setting_name => 'allow_sharers' } %>
               <%=render :partial=>'setting', :locals => { :setting_name => 'always_allow_beta_listers' } %>
        </table>
       <%= submit_tag 'Save Signup Control',  :style => "float: right;"%>
        <%- end -%>
      </div>
    </li>
    <li class="item">
      <div class="header bar">
        Facebook Post
      </div>
      <div class="content">
        <br>
        <table>
          <tr><td style="width: 15%;"></td><td ></td></tr>
        <%= form_tag( system_settings_path, :method => :put) do %>
             <%=render :partial=>'setting', :locals => { :setting_name => 'facebook_post_caption' } %>
             <%=render :partial=>'setting', :locals => { :setting_name => 'facebook_post_description' } %>
             <%=render :partial=>'setting', :locals => { :setting_name => 'facebook_post_actions' } %>
        </table>
       <%= submit_tag 'Save Facebook Post', :style => "float: right;"%>
        <% end %>
      </div>
    </li>
  </ul>
</div>    