<ul id="indicator" class="step-1 clearfix">
  <li id="step-add" class="on"><a href="<%= '/albums/'+@album.id+'/add_photos' %>" id="wizard-add">Add Photos</a></li>
  <li id="step-name"><a href="<%= '/albums/'+@album.id+'/name_album' %>" id="wizard-name">Name Album</a></li>
  <li id="step-edit"><a href="<%= '/albums/'+@album.id+'/edit' %>" id="wizard-edit">Edit Album</a></li>
  <li id="step-share"><a href="<%= '/albums/'+@album.id+'/shares/new' %>" id="wizard-share">Share Album</a></li>
  <li id="step-btn"><a href="<%= '/albums/'+@album.id+'/name_album' %>" id="wizard-next" class="wizard-name"><img id="next-step" src="/images/btn-steps-next.png" /></a></li>
</ul>

<div id="top-section" class="clearfix">
  <button src="/images/bg-back-button.png" id="filechooser-back-button">Back</button>
  <div id="choose-header" class="album-header">
    <h3 id="filechooser-title"></h3>
    <h4>Choose Pictures from Folders on Your Computer or Other Photo Sites.</h4>
  </div>
  <div id="equalizer">&nbsp;</div>
</div>

<div id="scroll-body">
  <ul id="filechooser"></ul>
</div>

<ul id="added-pictures-tray">
  <li id="here">&nbsp;</li>
</ul>