step:[<%= @step %>] id:[<%= @album.id %>] <hr>
<table><tr>
<td><%= button_to "Add Photos",  album_wizard_path(@album, :step => @step, :next_step => :add_photos ) %>
<td><%= button_to "Name Album",  album_wizard_path(@album, :step => @step, :next_step => :name_album) %>
<td><%= button_to "Edit Album",  album_wizard_path(@album, :step => @step, :next_step => :edit_album) %>
<td><h4>Contributors</h4>
<td><%= button_to "Share",  album_wizard_path(@album, :step => @step, :next_step => :share) %>
<td><%= button_to "Next",  album_wizard_path(@album, :step => @step) %>
</tr></table><hr>

<H2>Contributors</H2>
<H3>Invite people to add their pictures to the album</H3>
<% form_for @share = Share.new, :url => album_wizard_url( @album ) do |f| %>
    Outlook:<%= f.check_box 'rand' %> Gmail:<%= f.check_box 'rand' %>Yahoo:<%= f.check_box 'rand'  %></br>
    To: <%= f.text_field(  :subject, :size=>40) %> </br>
    Subject: <%= f.text_field(  :subject, :size=>40) %> </br>
    Message: <%= f.text_area(   :message, :cols=>40,  :rows=>10) %> </br>
<% end %>