<% content_for :page_title do %><%= @user.posessive_short_name %> Albums<% end %>

<% content_for :canonical_url do %><%=user_url(@user)%><% end %>



<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>


<div id="view-sort-bar">
    <div id="view">
        <div class="set-title">VIEW</div>
        <div class="zz-buttonset">
            <div data-action="view-all"       class="zz-setbutton default-state left-end"><div>All</div></div>
            <div data-action="view-my"        class="zz-setbutton default-state"><div><%=( current_user?(@user) ? 'My' : truncate( @user.posessive_short_name, :length => 15 ) )%></div></div>
            <% if current_user?( @user ) %>
                <div data-action="view-invited"  class="zz-setbutton default-state"><div>Invited</div></div>
            <%end%>
            <div data-action="view-liked"     class="zz-setbutton default-state"><div>Liked</div></div>
            <div data-action="view-following" class="zz-setbutton default-state right-end"><div>Following</div></div>
        </div>
    </div>
    <div id="sort">
        <div class="set-title">SORT</div>
        <div class="zz-buttonset">
            <div data-action="sort-recent" class="zz-setbutton default-state left-end "><div>Recent</div></div>
            <div data-action="sort-date" class="zz-setbutton default-state arrow-up"><div class="arrow">Date</div></div>
            <div data-action="sort-name" class="zz-setbutton default-state right-end arrow-up"><div class="arrow">Name</div></div>
        </div>
    </div>
</div>



<div id="albums" class="albums-list">
</div>


<% content_for :page_javascript do %>

    <%= render :partial => "albums/homepage_view_javascript" %>

    <script type="text/javascript">
        (function(){
            var my_albums_path = '<%= @my_albums_path %>';
            // this is null unless you are looking at another users albums
            // from this you can determine which of the albums you like should
            // show in the other users view from your perspective
            var session_user_liked_albums_path = '<%= @session_user_liked_albums_path %>';
            var liked_albums_path ='<%= @liked_albums_path %>';
            var liked_users_albums_path = '<%= @liked_users_albums_path %>';
            var invited_albums_path = '<%= @invited_albums_path %>';
            var session_user_invited_albums_path = '<%= @session_user_invited_albums_path %>';
            var is_current_users_homepage = <%= current_user == @user ? 'true' : 'false' %>;
            var current_user_membership = {
                <% if current_user %>
                    <%=j AlbumACL.get_acls_for_user( current_user.id, AlbumACL::VIEWER_ROLE ).map{ |acl| "#{acl.acl_id}:'#{acl.role.name}'"}.join(',') %>
                <%end%>
            };

            zz.homepage.init( is_current_users_homepage,
                                my_albums_path,
                                session_user_liked_albums_path,
                                liked_albums_path,
                                liked_users_albums_path,
                                invited_albums_path,
                                session_user_invited_albums_path,
                                current_user_membership
            );
        })();
            
    </script>
<% end %>
