<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>

<div id="my-albums" class="albums-list">
  <div class="album-section-header">
         My Albums
  </div>
</div>

<div id="liked-albums" class="albums-list">
  <div class="album-section-header">
         Albums I Like
  </div>
</div>



<% content_for :page_javascript do %>
<script>

  var my_albums_path = '<%= @my_albums_path %>';
  var liked_albums_path ='<%= @liked_albums_path %>';
  var liked_users_albums_path = '<%= @liked_users_albums_path %>';
  // this is null unless you are looking at another users albums
  // from this you can determine which of the albums you like should
  // show in the other users view from your perspective
  var session_user_liked_albums_path = '<%= @session_user_liked_albums_path %>';


  $(document).ready(function(){
      var cell = $('<div class="album-cell"></div>');


      var render_albums = function(container, json){

            _.each(json, function(album){

                var clone = cell.clone();
                container.append(clone);

                clone.zz_picon({
                    caption: album.name,
                    coverUrl: album.c_url,
                    onClick: function(){
                      $('#article').css({overflow:'hidden'}).animate({left: -1 * $('#article').width()},500,'easeOutQuart');
                      document.location.href = album.album_path;
                    },
                    onShare: function(){
                        pages.share.share_in_dialog('album', album.id);
                    },
                    onLike: function(){
                        alert('This feature is still under construction. It will allow you to like an album.')
                    },
                    onDelete: function(){
                        if(confirm("Are you sure you want to delete this album?")){
                            clone.find('.picon').hide("scale", {}, 300, function(){
                                clone.remove();
                            });
                            albums.deleteAlbum(album.id);
                        };

                    },
                    allowDelete: !album.profile_album && album.user_id == zz.current_user_id
                });



            });

      }


      //render 'my albums'
      $.get(my_albums_path, {}, function(my_albums){
          render_albums($('#my-albums'), my_albums);
      });




      //load and render 'albums i like'
      var liked_albums = null;
      var liked_users_albums = null;

      var merge_results_and_render = function(){
          var merged = liked_albums.concat(liked_users_albums);


          //remove duplicates
          var unique = [];
          _.each(merged, function(album){
                if(! _.detect(unique, function(test){ return album.id == test.id})){
                    unique.push(album);
                }
          });
          
          //sort
          var sorted = _.sortBy(unique, function(album){
              return -1 * album.updated_at;
          });


           //render
          render_albums($('#liked-albums'), sorted);

      }

      //load the 2 sets in parallel
      $.get(liked_albums_path, {}, function(albums){
          liked_albums = albums;
          if(liked_users_albums != null){
              merge_results_and_render();
          }
      });

      $.get(liked_users_albums_path, {}, function(albums){
          liked_users_albums = albums;
          if(liked_albums != null){
              merge_results_and_render();
          }
      });
  });


</script>
<% end %>
