<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>


<% @albums.each do |album|  %>
    <div class="album-cell">
        <a href="#" onclick="$('#article').animate({left: -1 * $('#article').width()},500,'easeOutQuart'); document.location.href='<%=url_for(album)%>';">
            <div class="picon style_<%=1+rand(3)%>">
                <div class="mask">
                    <img class="wide" src="<%= album.cover ? album.cover.thumb_url : '/images/album-no-cover.png' %>">
                </div>
            </div>
        </a>
        <div class="album-name"><%= truncate(h(album.name), :length => 100) %></div>
    </div>
<% end %>

