<% content_for :page_title do %><%= @user.posessive_short_name %> Albums<% end %>

<% content_for :canonical_url do %><%=user_url(@user)%><% end %>



<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>

<div id="my-albums" class="albums-list">
  <div class="album-section-header">
    <% if current_user == @user %>
        My Albums
    <% else %>
        <%= @user.posessive_short_name%> Albums
    <% end %>
  </div>
  <% if current_user == @user %>
    <a id="inline-new-album-button" class="green-add-button"><span>New Album</span></a>
  <% end %>
</div>

<div id="liked-albums" class="albums-list">
  <div class="album-section-header">
<% if current_user == @user %>
    Albums I Like
<% else %>
    Albums <%= @user.first_name%> Likes
<% end %>
  </div>
</div>



<% content_for :page_javascript do %>

    <%= render :partial => "albums/homepage_view_javascript" %>

    <script type="text/javascript">

        (function(){
            var my_albums_path = '<%= @my_albums_path %>';
            // this is null unless you are looking at another users albums
            // from this you can determine which of the albums you like should
            // show in the other users view from your perspective
            var session_user_liked_albums_path = '<%= @session_user_liked_albums_path %>';


            var liked_albums_path ='<%= @liked_albums_path %>';
            var liked_users_albums_path = '<%= @liked_users_albums_path %>';

            zz.homepage.render(my_albums_path, session_user_liked_albums_path, liked_albums_path, liked_users_albums_path);
        })();
            
    </script>
<% end %>
