<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>


<% content_for :page_javascript do %>
<script>

  $(document).ready(function(){
      var cell = $('<div class="album-cell"></div>');

      <%
    # first grab all the cover photos in one query
    # this populates the albums in place
    Album.fetch_bulk_covers(@albums)

    # we keep a local map of the user_id to name because in most
    # cases the albums will have the same user - avoids lots of
    # Activerecord overhead
    user_id_to_name_map = {}

    @albums.each do |album|
        album_cover = album.cover
        album_id = album.id
        album_name = album.name
        album_user_id = album.user_id.to_s
        album_friendly_id = album.friendly_id
        album_user_name = user_id_to_name_map[album_user_id]
        if album_user_name.nil?
            # don't have it, go to the db and save it
            album_user_name = album.user.username
            user_id_to_name_map[album_user_id] = album_user_name
        end

%>
      (function(clone){

          $('#article').append(clone);

          clone.zz_picon({
                caption: '<%= album.name %>',
                coverUrl: '<%= album.cover ? album.cover.thumb_url : "" %>',
                onClick: function(){
                  $('#article').css({overflow:'hidden'}).animate({left: -1 * $('#article').width()},500,'easeOutQuart');
                  document.location.href='<%= album_pretty_url album %>';
                },
                onShare: function(){
                    pages.share.share_in_dialog('album', <%= album.id%>);
                },
                onLike: function(){
                    alert('This feature is still under construction. It will allow you to like an album.')
                },
                onDelete: function(){
                    if(confirm("Are you sure you want to delete this album?")){
                        clone.hide("scale", {}, 300, function(){
                            clone.remove();
                        });
                        deleteAlbum(<%= album.id %>);
                    };

                }
          });
      })(cell.clone());
          


<% end %>

  });

</script>
<% end %>
