<ul id="indicator" class="step-2 clearfix">
  <li id="step-add"><a href="<%= '/albums/'+@album.id+'/add_photos' %>" id="wizard-add">Add Photos</a></li>
  <li id="step-name" class="on"><a href="<%= '/albums/'+@album.id+'/name_album' %>" id="wizard-name">Name Album</a></li>
  <li id="step-edit"><a href="<%= '/albums/'+@album.id+'/edit' %>" id="wizard-edit">Edit Album</a></li>
  <li id="step-share"><a href="<%= '/albums/'+@album.id+'/shares/new' %>" id="wizard-share">Share Album</a></li>
  <li id="step-btn"><a href="javascript:void(0)" id=""><img id="next-step" src="/images/btn-steps-next.png" /></a></li>
</ul>

<div class="album-header">
  <h3>Name Album</h3>
  <h4>Name the album and choose an album cover photo</h4>
</div>

<div id="scroll-body">
<% form_for @album do | f|  %>
  <%= f.error_messages %>
  <dl class="form clearfix">

    <dt><label for="album_name">Album Name:</label></dt>
    <dd><input type="text" name="album[name]" id="album_name" value="<%=@album.name%>"></dd>
  </dl>
  
  <div class="field">
    Album Cover Selection Should Go Here
    <!-- TODO: Album cover selection code -->
  </div>
<% end %>
</div>
