<div class="album-header">
  <h3>Privacy</h3>
  <h4>Choose who shall be able to see your album</h4>
</div>

<div id="scroll-body">
  <ul id="privacy-menu" class="clearfix">
    <li id="privacy-public"<%= @album.privacy == 'public' ? ' class="current"' : '' %>>
      <div>
        <h4>Public</h4>
        <p>Available for all to see.</p>
      </div>
      <img class="select-button" src="/images/btn-round-selected-<%= @album.privacy == 'public' ? 'on' : 'off' %>.png" />
    </li>
    <li id="privacy-hidden"<%= @album.privacy == 'hidden' ? ' class="current"' : '' %>>
      <div>
        <h4>Hidden</h4>
        <p>No sign in required. Anyone who knows the album web address will be able to see the album.</p>
      </div>
      <img class="select-button" src="/images/btn-round-selected-<%= @album.privacy == 'hidden' ? 'on' : 'off' %>.png" />
    </li>
    <li id="privacy-password"<%= @album.privacy == 'password' ? ' class="current"' : '' %>>
      <div>
        <h4>Password</h4>
        <p>To ensure privacy, anyone invited to this album will be required to sign in to ZangZing to view the photos.</p>
      </div>
      <img class="select-button" src="/images/btn-round-selected-<%= @album.privacy == 'password' ? 'on' : 'off' %>.png" />
    </li>
  </ul>

</div>    