<script src="/uploader/jquery-1.4.2.js"></script>



<h2 class="album"><%= h @album.name %></h2>
<table class="profile">
  <tr>
    <td class="main">
      <% unless @album.photos.empty? %>
        <table class="photos">
	        <%= render @photos %>
        </table>
        <%= will_paginate @photos %>
      <% end %>

      <div id="uploadform">
        <%form_for [@album, @photo], :url => album_photos_path(@album), :html => { :multipart => true } do |f| %>
        <!-- < % form_for [@album, @photo] do |f| % -->
            <%= f.error_messages %>
            <div class="field">
                <%= f.file_field :image %>
                <%= f.submit "Add Photo"%>
            </div>
        <% end %>
      </div>
      <!--%= button_to "Upload Photos", upload_path( @album.id ), :method => :get %--> 

	</td>
    <!--
    <td class="sidebar round">
      <strong>Name</strong> < %= h @user.name %><br />
      <strong>URL</strong> < %= link_to user_path(@user), @user %><br />
      <strong>Albums</strong> < %= @user.albums.count %>
    </td>
    -->
  </tr>
</table>
<script>
    //create script to detect agent...and call onAgentDetected()
    //var urlBase = location.href.substring(0,location.href.lastIndexOf("/"));
    var urlBase = "http://" + location.host;
    var e = document.createElement("script");
    e.src = "http://localhost:9090/proxy/" + urlBase + "/uploader/detect-agent.js";
    e.type="text/javascript";
    document.getElementsByTagName("head")[0].appendChild(e);


    function onAgentDetected()
    {
        $("#uploadform").html('<%= button_to "Upload Photos", upload_path( @album.id ), :method => :get %>');
    }
</script>
