<!-- Copyright ©2010, ZangZing LLC. All rights reserved. -->

<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery.ba-bbq.js" %>
<%= javascript_include_tag "jquery.jsonp.js" %>
<%= javascript_include_tag "agent" %>
<%= javascript_include_tag "album" %>


<script>
    album.initializeForGrid('<%=@album.to_json(:include => {:photos => {:only =>[:id], :methods => [:thumb_url]}})%>');
</script>

<h2 class="album"><%= h @album.name %></h2>
<table class="profile">
  <tr>
    <td class="main">
      <% unless @album.photos.empty? %>
        <table class="photos">
	        <%= render :partial => "photos/photo_thumb", :collection => @photos, :as => :photo %>
        </table>
        <%= will_paginate @photos %>
      <% end %>

       
      <!-- This form is the html photo upload. Its replaced by the uploader button at runtime if agent is present -->
      <div id="uploadform">
        <%if current_user?(@album.user) %>
            <%form_for [@album, @photo], :url => album_photos_path(@album), :html => { :multipart => true } do |f| %>
                <%= f.error_messages %>
                <div class="field">
                    <%= f.file_field :local_image %>
                    <%= f.submit "Add Photo"%>
                </div>
            <% end %>
        <%end%>
      </div>

      <%= link_to "Share", new_album_share_path(@album.id) %>  

    </td>
  </tr>
</table>