<h2 class="album"><%= h @album.name %></h2>
<table class="profile">
  <tr>
    <td class="main">
      <% unless @album.photos.empty? %>
        <table class="photos">
	        <%= render @photos %>
        </table>
        <%= will_paginate @photos %>
      <% end %>
      <%form_for [@album, @photo], :url => album_photos_path(@album), :html => { :multipart => true } do |f| %>
      <!-- < % form_for [@album, @photo] do |f| % -->
        <%= f.error_messages %>
        <div class="field">
            <%= f.file_field :image %>
            <%= f.submit "Add Photo"%>
        </div>
      <% end %>
	</td>
    <td class="sidebar round">
      <strong>Name</strong> <%= h @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Albums</strong> <%= @user.albums.count %>
    </td>
  </tr>
</table>