<div id="headline">
    <h3>Identities</h3>
</div>
<div id="delete-results">
  
</div>
<table width="100%">
  <tr>
    <th>Type</th>
    <th>Date created</th>
    <th>Number of contacts</th>
    <th>Action</th>
  </tr>
  <% current_user.identities.each_index do |i|
     identity = current_user.identities.fetch( i ) %>
    <tr>
      <td><%= identity.name %> </td>
      <td><%= identity.created_at %> </td>
      <td><%= identity.contacts.count %> </td>
      <td><button  class="delete-id-button"
               id="delete-id-button-<%=i%>"
               value="<%= user_identity_path(:id => identity.id, :user_id => params[:user_id])%>">
               [Delete]</button></td>
    </tr>
  <% end %>
</table>