      <tr class="on_off">
        <th>
          <%=f.label :want_invites_email, 'Invitations'%><br>
          <div class="sub-th">e.g.  when someone shares an album with you or invites you to contribute photos into an album</div>
        </th>
        <td>
          <%=f.check_box :want_invites_email%>
        </td>
      </tr>

      <tr class="on_off">
        <th>
          <%=f.label :want_social_email, 'Social'%><br>
          <div class="sub-th">e.g. when new photos have been added or when someone "likes you", "likes your album", or "follows you"</div>
        </th>
        <td>
          <%=f.check_box :want_social_email%>
        </td>
      </tr>

      <tr class="on_off">
        <th>
          <%=f.label :want_status_email, 'Confirmations'%><br>
          <div class="sub-th">e.g. when your photos have been successfully uploaded to an album</div>
        </th>
        <td >
          <%=f.check_box :want_status_email%>
        </td>
      </tr>

      <tr class="on_off">
        <th>
          <%=f.label :want_news_email, 'ZangZing News' %><br>
          <div class="sub-th">e.g. new feature announcements or updates on ZangZing</div>
        </th>
        <td>
          <%=f.check_box :want_news_email%>
        </td>
      </tr>
      <tr class="on_off">
        <th>
          <%=f.label :want_marketing_email, 'Marketing Messages'  %> <br>
          <div class="sub-th">e.g. seasonal sales or offers from partners</div>
        </th>
        <td >
          <%=f.check_box :want_marketing_email%>
        </td>
      </tr>


    <% content_for :page_stylesheet  do %>
        <style type="text/css">
            th {
                width: 400px;
                font-size: 14px;
                color: #888888;
                text-align: left;
                padding: 10px 0px;
                vertical-align: top; }
            .sub-th{
                font-size: 12px;
                color: #888;
                margin:  0 10px;
            }
            #save-button{
                margin: 10px 0;
                width: 100%;
            }
            label.iPhoneCheckLabelOn, label.iPhoneCheckLabelOff{
                color:;
            }
        </style>
    <%end%>

    <% content_for :page_javascript do %>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('.on_off :checkbox').iphoneStyle();
            });
        </script>
    <%end%>