<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta http-equiv="Content-Language" Content="en">
  <meta charset="utf-8">
  <meta name="copyright" content="Copyright 2011, ZangZing, LLC. All Rights Reserved." />
  <meta name="DC.title" content="ZangZing" />
  <meta name="title" content="ZangZing" />
  <meta name="description" content="Group Photo Sharing" />
  <%= meta_data_tags %>
  <%= yield :meta_tags %>

  <link rel="shortcut icon" href="/favicon.ico"/>

  <title><%= title %></title>

  <link rel="stylesheet/less" href="/stylesheets/store/lib/bootstrap.less" media="all">
  <%= include_stylesheets :store_checkout %>
  <%= yield :page_stylesheet %>
  <%= csrf_meta_tag %>
</head>

<body class="checkout-body">

<div class="checkout-header">
  <div class="container">
    <%= render 'shared/nav_bar' %>
  </div>
</div>

<div class="checkout-message container">
  <div class="row">
    <div class="span-one-third column">
      <div class="checkout-back-button">
        <%=yield :back_button%>
        </div>
    </div>
    <div id="page_title" class="span-one-third column">
        <%=yield :page_title%>
    </div>
    <div class="span-one-third column">
      <div class="checkout-next-button">
        <%=yield :next_button%>
        </div>
    </div>
  </div>
</div>

<div class="container">
        <%= yield %>
</div>

<div class="checkout-footer container">
  <div style="text-align: center;">
    <small>
        <%=yield :small_print %>
    </small>
  </div>
  <div class="row">
    <div class="span-one-third column offset-two-thirds">
      <div class="checkout-next-button">
       <%=yield :next_button%>
     </div>
    </div>
  </div>

   <%= render :partial => 'shared/footer'%>
</div>



<%= include_javascripts :jquery, :store %>
<% unless I18n.locale.to_s[0..1] == 'en' %>
    <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end %>

<%= yield :page_javascript %>

</body>
</html>
