<table>
  <tr>
    <td> <label for="camp_title">Title</label> </td>
    <td> <input id="camp_title" name="camp[title]" size="50" type="text" value="<%=campaign['title']%>" /></td>
  </tr>
  <tr>
    <td><label for="camp_subject">Subject</label></td>
    <td><input id="camp_subject" name="camp[subject]" size="50" type="text" value="<%=campaign['subject']%>" /></td>
  </tr>
  <tr>
    <td><label for="camp_from_name">From Name</label></td>
    <td><input id="camp_from_name" name="camp[from_name]" size="50" type="text" value="<%=campaign['from_name']%>" /></td>
  </tr>
  <tr>
    <td><label for="camp_from_email">From Email</label></td>
    <td><input id="camp_from_email" name="camp[from_email]" size="50" type="text" value="<%=campaign['from_email']%>" /></td>
  </tr>
  <tr>
    <td><label for="camp_list_id">List</label></td>
    <td>
        <select id="camp_list_id" name="camp[list_id]">
          <option value="">-BLANK-</option>
            <% lists.each do |l| %>
                <option value="<%= l['id'] %>"
                    <%=(l['id'].to_f == campaign['list_id'].to_f ? 'selected=\"selected\"' :'' )%>>
                    <%=l['name']%>
                </option>
            <%end%>
        </select>
    </td>
  </tr>
  <tr>
    <td><label for="camp_template_id">Template</label></td>
    <td>
        <select id="camp_template_id" name="camp[template_id]">
            <option value="">-BLANK-</option>
            <% templates.each do |t| %>
                <option value="<%= t['id'] %>"
                    <%=(t['id'].to_f == campaign['template_id'].to_f ? 'selected=\"selected\"' :'' )%>>
                    <%=t['name']%>
                </option>
            <%end%>
        </select>
    </td>
  </tr>
  </table>