<style type="text/css">

.chimpscreen{
 font-size: 1.5em;
}

</style>

<div class="chimpscreen">
<div style="margin-top: 5px; margin-bottom: 10px; font-size: 1em;">
<% [:info, :error].each do |key| %>
     <% if flash[key] %>
        <div style="<%=( key == :error ? 'color:red;' : 'color:green;' )%>" id="flash">
          <%= flash[key] %>
        </div>
        <% content_for :page_javascript do %>
          <script type="text/javascript">
            setTimeout( function(){ $('#flash').fadeOut(); }, 4000);
          </script>
        <% end %>
     <% end %>
<% end %>
</div>


<div style="margin-top: 50px; font-size: 1.5em;">

<h1>Transactional Campaign</h1>

<form accept-charset="UTF-8"
      action="/admin/chimpcampaigns"
      class="create_chimpcampaign"
      id="create_chimpcampaign"
      method="post">
   <%= render :partial => 'admin/chimpcampaigns/campaign', :locals => { :campaign => @campaign, :lists => @lists, :templates => @templates }    %>

    <form  method="post" action="<%=delete_chimpcampaign_url( @campaign['id'] )%>" class="button-to">
            <div>
                <input type="hidden" name="_method" value="delete" />
                <input onclick="return confirm('Are you sure you want to delete the campaign?');"
                    value="Delete" type="submit" />
            </div>
    </form>
    <!-- <input  type="submit" name="mysubmit" value="Update" /> -->
    <a  href="<%=chimpcampaigns_url%>">Cancel</a>
</form>
</div>
</div>