<% param_prefix = "payment_source[#{payment_method.id}]" %>

<%= hidden_field_tag "#{param_prefix}[payment_method_id]",  payment_method.id%>
<p id="ccimages">
<%= image_tag   'store/creditcards.png'%>
</p>
<p id="secure_lock">
  <%= image_tag 'store/secure-lock.png'%>
  <%=t('learn_more_security')%>
</p>

<div id="cc">
<p id="ccnumber" class="field">
  <label for="card_number"><%= t("card_number") %></label>
  <% options_hash = Rails.env.production? ? {:autocomplete => "off"} : {} %>
  <%= text_field_tag "#{param_prefix}[number]", '', options_hash.merge(:id => 'card_number', :class => 'required', :size => 16, :maxlength => 16) %>
</p>

<p id="ccv" class="field">
  <label for="card_code"><%= t("card_code") %></label>
  <%= text_field_tag "#{param_prefix}[verification_value]", '', options_hash.merge(:id => 'card_code', :class => 'required', :size => 4) %>
</p>
<a id="cvv_question" href="/static/store/cvv_question.html" target="_blank" onclick="window.open(this.href,'cvv_info','left=20,top=20,width=500,height=500,toolbar=0,resizable=0,scrollbars=1');return false">
    <%= image_tag 'store/question.png' %>
</a>

</div>
<div id="expires">
  <label id="expire_label" class="right"><%= t("expiration_date") %></label>
  <%= select_month(Date.today, {:prefix => param_prefix, :field_name => 'month', :use_month_numbers => true}, {:id => "expire_month", :class => 'required expmonth'}) %>
  <%= select_year(Date.today,  {:prefix => param_prefix, :field_name => 'year', :start_year => Date.today.year, :end_year => Date.today.year + 15}, {:id => "expire_year", :class => 'required expdyear'}) %>
</div>

<%= hidden_field param_prefix, 'first_name', :value => @order.billing_firstname %>
<%= hidden_field param_prefix, 'last_name',  :value => @order.billing_lastname %>
