<li id="photo-<%=photo.id%>-li">
  <div class="relative">
    <a href="<%=album_photos_path(photo.album)%>?size=screenres&photoid=<%=photo.id%>">
      <img src="" id="photo-<%=photo.id%>">
      <figure><%=photo.caption%></figure>
    </a>
  </div>
</li>