<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery.ba-bbq.js" %>
<%= javascript_include_tag "jquery.jsonp.js" %>
<%= javascript_include_tag "jquery.cookie" %>
<%= javascript_include_tag "agent" %>
<%= javascript_include_tag "logging" %>
<%= javascript_include_tag "imageloader" %>

<script>
   //album.initializeForGrid('<%=@album.to_json(:include => {:photos => {:only =>[:id], :methods => [:thumb_url]}})%>');
</script>


<h2 class="album"><%= h @album.name %></h2>
<table class="profile">
  <tr>
    <td class="main">
      <% unless @album.photos.empty? %>
          <table class="photos">
            <%= render :partial => "photo_thumb", :collection => @photos, :as => :photo %>
          </table>
      <% end %>
    </td>
  </tr>
</table>



<script>
    var json = '<%=@album.to_json(:include => {:photos => {:only =>[:id, :source_thumb_url, :state], :methods => [:thumb_url]}})%>';
    var photos = jQuery.parseJSON(json).photos;


    var onStartLoadingImage = function(id, src) {
      $('#' + id).attr('src', '/images/loading.gif');
    };

    var onImageLoaded = function(id, src) {
      $('#' + id).attr('src', src);
    };

    var imageloader = new ImageLoader(onStartLoadingImage, onImageLoaded);


    for(var i in photos){
        var id = 'photo-' + photos[i].id;
        var url = null
        if (photos[i].state == 'ready') {
            url = photos[i].thumb_url;
        } else {
            url = photos[i].source_thumb_url;
        }

        if (url.indexOf('http://localhost') === 0) {
            url += '?session=' + $.cookie('user_credentials')
        }

        imageloader.add(id, url);

    }

    imageloader.start(5)


</script>