<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->


    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2011, ZangZing, LLC. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />



    <%= render :partial => "facebook/album_opengraph_tags" %>

    <title><%=@album.name%> by <%=@album.user.name%> | Photo Sharing - ZangZing</title>



    <style type="text/css">
        html{
            overflow: hidden;
        }

        body {
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #000000;
            position: relative;
        }

        #movie {
            height:100%;
            width:100%;
        }

        #scrim{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background-color: #000000;
            z-index:100000;
        }

        #logo_for_embedded {
            position: absolute;
            right: 10px;
            bottom: 7px;
            background: url('/images/embedded_slideshow/zangzing_logo.png?3');
            width: 99px;
            height: 23px;
            display: none;
            z-index: 10000;
            cursor: pointer;
        }

    </style>


    <%= render :partial => 'layouts/zza'  %>



</head>

<%
   if params[:return_to]
       back_url = CGI::unescape(params[:return_to])
   else
       back_url = "#{album_pretty_url(@album)}"
   end

   if params[:start]
       start_index = params[:start].to_i
   else
       start_index = 0
   end

   back_button_caption = "Back to Album"

   if params[:embed]
       open_back_url_in_new_win = true
       back_button = false
   else
       open_back_url_in_new_win = false
       back_button = true
   end


%>


<body>
    <object id="movie" type="application/x-shockwave-flash" data="/static/swf/movie.swf">
        <param name="movie" value="/static/swf/movie.swf">
        <param name="allowFullScreen" value="true">
        <param name="bgcolor" value="#000000">

        <%
        flash_params =  "autoHideControls=false&" +
                        "autoSlideShow=true&" +
                        "backgroundColor=000000&" +
                        "backgroundImage=&" +
                        "backgroundVisible=true&" +
                        "borderSize=5&" +
                        "borderColor=FFFFFF&" +
                        "controlsHideSpeed=2&" +
                        "backButton=#{back_button}&" +
                        "backButtonLabel=#{back_button_caption}&" +
                        "backButtonURL=#{back_url}&" +
                        "loadOriginalImages=false&" +
                        "overrideFullScreenChange=false&" +
                        "scaleBackground=true&" +
                        "scaleMode=scale&" +
                        "shadowColor=0x000000&" +
                        "slideshowDistance=5&" +
                        "slideShowSpeed=6&" +
                        "transitionSpeed=0.7&" +
                        "transitionType=slide&" +
                        "slideShowControls=true&" +
                        "preloadAfter=3&" +
                        "preloadBefore=1&" +
                        "alwaysUseFullscreenImages=true&" +
                        "startImageIndex=#{start_index}"
        # note the use of %26 instead of &, this is needed to treat the sort_param as part of the photos_json url and not another param
        # due to the way the flash player tacks them all together
        flash_sort_param = @sort_param.nil? ? '' : "%26#{@sort_param}"
        %>

      
        <param name="flashvars" value="source=<%=album_photos_json_url @album%>?ver=<%=@album.cache_version_key%><%=flash_sort_param%>&<%=flash_params%>"/>
    </object>
    <div id="logo_for_embedded"></div>
    <div id="scrim"></div>

    <%= include_javascripts :jquery %>
    <%= include_javascripts :lib %>
    <%= include_javascripts :zz %>
    <%= include_javascripts :movie %>

    <% js_sort_param = @sort_param.nil? ? '' : "&#{@sort_param}" %>

    <script type="text/javascript">

        var force_javascript = <%= params[:js].nil? ? false : params[:js] %>;

        var handle_no_flash = function(){
            $("#movie").replaceWith('<div id="movie" class="javascript-movie"></div>');


            $.CustomSimpleFade.init({

                appendToID:			'movie',
                source:				'<%=album_photos_json_url @album%>?ver=<%=@album.cache_version_key%><%=js_sort_param%>',
                width: $(window).width(),
                height: $(window).height(),

                autoHideControls:	false,
                autoSlideShow:		true,

                backgroundColor:	'#000000',
                backgroundImage:	'',
                backgroundVisible:	true,
                borderColor:		'#ffffff',
                borderSize:			5,

                controlsHideSpeed:	2,

                backButton:			<%=back_button%>,
                backButtonURL:		'<%=escape_javascript back_url%>',
                backUrlInNewWin:    <%=open_back_url_in_new_win%>,

                iconsURL:			'/images/movie/',

                backButtonLabel:     '<%= back_button_caption%>',

                loadOriginalImages: false,

                scaleBackground:	true,
                scaleMode:			'scale',
                shadowColor:		'#000000',
                shadowDistance:		5,
                slideShowSpeed:		6,

                transitionSpeed:	0.5,
                transitionType:		'slide',

                slideShowControls: true,

                preloadAfter:		3,
                preloadBefore:		1,

                startImageIndex:   <%= start_index %>
            });

        };



        $(document).ready(function(){

            zz.mobile.lock_page_scroll();


            if(force_javascript){
                handle_no_flash();
            }
            else if(swfobject.getFlashPlayerVersion().major == 0){
                //this handles the case where IE has flash installed,
                //but it has been 'disabled'
                handle_no_flash();
            }
            else{
                swfobject.registerObject("movie", "9.0.115", "", function(e) {
                    if (e.success == false || force_javascript) {
                        handle_no_flash();
                    }
                });
            }



            var setSize = function(){
                $('#movie').css({
                    height: $(window).height(),
                    width: $(window).width()
                });
            };

            $(window).resize(function(){
                setSize();
            });

            setSize();

            <%= perform_javascript_actions %>

            <% if params[:embed] %>
                ZZAt.track('embedded_slideshow.view');

                $('#logo_for_embedded').show().click(function(){
                    ZZAt.track('embedded_slideshow.link.click');
                    window.open('<%= album_pretty_url(@album) %>');
                });
            <% end %>

        });

        $(window).ready(function(){
            $('#movie').css('visibility', 'visible');
            $('#scrim').fadeOut(1000);
        });



    </script>
</body>
</html>

