<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->


    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2011, ZangZing, LLC. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />



    <%= render :partial => "facebook/album_opengraph_tags" %>
    

    <style type="text/css">
        html{
            overflow: hidden;
        }

        body {
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #000000;
        }

        /*#content {*/
            /*position: relative;*/
            /*margin: auto;*/
            /*text-align: center;*/
        /*}*/

        #movie {
            height:100%;
            width:100%;
        }

        /*.javascript-movie{*/
        /*}*/

        #scrim{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background-color: #000000;
            z-index:100000;
        }

    </style>


    <script>
        var zza_config_GOOGLE_ANALYTICS_TOKEN = '<%=ZZA_CONFIG[:GOOGLE_ANALYTICS_TOKEN]%>';
        var zza_config_MIXPANEL_TOKEN = '<%=ZZA_CONFIG[:MIXPANEL_TOKEN]%>';
        var zza_config_ZZA_ID = '<%=ZZA_CONFIG[:ZZA_ID]%>';
<%    if signed_in?  -%>
        zuserid = '<%= current_user.id %>';
<%	  else %>
        zuserid = null;
<%    end -%>

    </script>

</head>

<%
    if params[:return_to]
        back_url = CGI::unescape(params[:return_to])
    else
        back_url = "#{album_pretty_url( @album )}"
    end

%>


<body>
    <object id="movie" type="application/x-shockwave-flash" data="/static/swf/movie.swf">
        <param name="movie" value="/static/swf/movie.swf">
        <param name="allowFullScreen" value="true">
        <param name="bgcolor" value="#000000">

        <%
        flash_params =  "autoHideControls=false&" +
                        "autoSlideShow=true&" +
                        "backgroundColor=000000&" +
                        "backgroundImage=&" +
                        "backgroundVisible=true&" +
                        "borderSize=5&" +
                        "borderColor=FFFFFF&" +
                        "controlsHideSpeed=2&" +
                        "backButton=true&" +
                        "backButtonURL=#{CGI::escape back_url}&" +
                        "loadOriginalImages=false&" +
                        "overrideFullScreenChange=false&" +
                        "scaleBackground=true&" +
                        "scaleMode=scale&" +
                        "shadowColor=0x000000&" +
                        "slideshowDistance=5&" +
                        "slideShowSpeed=6&" +
                        "transitionSpeed=0.7&" +
                        "transitionType=slide&" +
                        "slideShowControls=true&" +
                        "preloadAfter=3&" +
                        "preloadBefore=1"

        %>

      
        <param name="flashvars" value="source=<%=album_photos_json_url @album%>?<%=@album.photos_last_updated_at.to_i%>&<%=flash_params%>"/>
    </object>
    <div id="scrim"></div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>


    <%= include_javascripts :lib %>
    <%= include_javascripts :zz %>
    <%= include_javascripts :movie %>


    <script type="text/javascript">

        var force_javascript = (document.location.search.indexOf('js=true') !== -1)


        $(document).ready(function(){

            swfobject.registerObject("movie", "9.0.115", "", function(e) {
                if (e.success == false || force_javascript) {
                    var err;

                    $("#movie").replaceWith('<div id="movie" class="javascript-movie"></div>');


                    $.CustomSimpleFade.init({

                        appendToID:			'movie',
                        source:				'<%=album_photos_json_url @album%>?<%=@album.photos_last_updated_at.to_i%>',
                        width: $(window).width(),
                        height: $(window).height(),

                        autoHideControls:	false,
                        autoSlideShow:		true,

                        backgroundColor:	'#000000',
                        backgroundImage:	'',
                        backgroundVisible:	true,
                        borderColor:		'#ffffff',
                        borderSize:			5,

                        controlsHideSpeed:	2,

                        backButton:			true,
                        backButtonURL:		'<%=back_url%>',

                        iconsURL:			'/images/movie/',

                        backButtonText:     'Back to Album',

                        loadOriginalImages: false,

                        scaleBackground:	true,
                        scaleMode:			'scale',
                        shadowColor:		'#000000',
                        shadowDistance:		5,
                        slideShowSpeed:		6,

                        transitionSpeed:	0.5,
                        transitionType:		'slide',

                        slideShowControls: true,

                        preloadAfter:		3,
				        preloadBefore:		1,


                    });
                }
            });


            var setSize = function(){
                $('#movie').css({
                    height: $(window).height(),
                    width: $(window).width()
                });
            }

            $(window).resize(function(){
                setSize();
            })

            setSize();
        });

        $(window).ready(function(){
            $('#movie').css('visibility', 'visible');
            $('#scrim').fadeOut(1000);
        });



    </script>
</body>
</html>

