<% content_for :page_title do %><%= @album.name %> by <%= @album.user.name %><% end %>

<% if @photo %>
    <% content_for :canonical_url do %><%=photo_pretty_url(@photo)%><% end %>
<% else %>
    <% content_for :canonical_url do %><%=album_pretty_url(@album)%><% end %>
<% end %>




<% content_for :meta_tags do %>
    <% if @photo %>
        <%= render :partial => "facebook/photo_opengraph_tags" %>
    <% else %>
        <%= render :partial => "facebook/album_opengraph_tags" %>
    <% end %>    
<% end %>






<%= render :partial => "photos/album_view_javascript" %>
    
<% content_for :zz_js_document_ready do %>
                
            zz.album.sort_bar_template = $(
                    '<div id="view-sort-bar">'+
                    '   <div id="sort">'+
                    '       <div class="set-title">SORT</div>'+
                    '       <div class="zz-buttonset">'+
                    '           <div data-action="sort-date" class="zz-setbutton default-state left-end arrow-up"><div class="arrow">Date</div></div>'+
                    '           <div data-action="sort-name" class="zz-setbutton default-state right-end arrow-up"><div class="arrow">Name</div></div>'+
                    '       </div>'+
                    '   </div>'+
                    '</div>');

            if (document.location.href.indexOf('#!') !== -1) {
                var photo_id = null;

                var hash = jQuery.param.fragment();
                if (hash !== '') {
                    photo_id = hash.slice(1); //remove the '!'
                }

                zz.album.init_picture_view(photo_id);
            }
            else if(zz.page.url_params['_escaped_fragment_']){
                // this is the google crawler (or maybe facebook)
                // get the photo id from escaped param
                // we could also do this with the @photo param from Rails
                zz.album.init_picture_view(zz.page.url_params['_escaped_fragment_']);
            }
            else {
                zz.album.init_grid_view();
            }
<% end %>