
<h1> Please Choose a Photo for Your Profile</h1>
<h3> Photo Id: <%=  @photo.id%></h3>
<%= form_for @photo, :url => upload_photo_url( @photo.id), :method => 'post', :html => { :multipart => true } do |f| %>
                <%= f.error_messages %>
                <div class="field">
                    <%= f.file_field :local_image %>
                    <%= f.submit "Add Photo"%>
                </div>
<% end %>