<%= render :partial =>  'admin/admin_screens/adminmenu' %>
<div id="main-container">
  <div class="viewlist" style="width:800px;">
    <li class="item">
      <div class="header bar">
        Email
      </div>
      <div class="content">
      <table frame="box" width="800px" border="0"  cellspacing="20" >
        <tr style="font-weight: 700; font-size: 110%; margin: 10px;">

          <th> Email     </th>
          <th> Active Template  </th>
          <th> Template Last Loaded   </th>
          <th></th>
        </tr>

        <% @emails.each do |email|
            email_template_options = []
            email.email_templates.each{ |t| email_template_options << [ "#{t.id} #{t.name}", "#{t.id}"] }
        %>
            <tr>
              <td>
                <%= email.name %>
              </td>

              <td>
                <%=form_for email  do | f |%>

                    <%=f.select :production_template_id,
                                options_for_select(email_template_options,email.production_template_id),
                                {:prompt => 'Select Email Template' },
                                {:style => "width: 300px;",
                                 :onchange =>"if( confirm('Are you sure you want change this email template (change is immediate)? ')){ this.form.submit();}else{this.form.reset();}",
                                }
                    %>
                <%end%>
              </td>
              <% if email.production_template %>
                  <td>
                    <%= email.production_template.updated_at.strftime("%B %d#{", %Y" if email.production_template.updated_at.year != Date.today.year} %l:%M %p") %>
                  </td>
              <%end%>
            </tr>
        <%end%>

      </table>
      </div>
    </li>
    <li class="item">
        <a  href="<%=email_templates_url%>">Manage email templates</a>
    </li>
  </div>
</div>