<tr>
    <td>  <%= link_to h(user.name), admin_user_show_path( user ) %> </td>
    <td>  <%= ( (i = user.albums.count-1) > 0 ? i : '') %>        </td>
    <td>  <%= ( (i = user.photos.count) > 0 ? i : '') %>          </td>
    <td>  <%= ( (i = user.shares.count) > 0 ? i : '') %>          </td>    <td>  <%= button_to ( user.active ? "Deactivate" :  "Activate"), admin_activate_user_path( :id => user.id), :method => :put %>    </td>
</tr>