<li class="item tab add">
  <a name="<%=activity.id%>"></a>
  <div class="title">
    <a href="<%=user_path(activity.user)%>">
      <div class="profile-photo">
        <%= render :partial => 'users/profile_photo', :locals => { :user => activity.user }    %>
      </div>
    </a>
    <div class="profile-name">
      <% if current_user && current_user.id == activity.user.id %>
          <a href="<%=user_path(activity.user)%>">You</a>
      <%else%>
          <a href="<%=user_path(activity.user)%>"> <%=activity.user.name%> </a>
      <%end %>
      <%if view == 'album' %>
          created this album
      <%else%>
          created album
          <a href="<%=album_pretty_url(activity.subject)%>"> <%=activity.subject.name%> </a>
      <%end%>
      <div class="tagline"><%=time_ago_in_words(activity.created_at) %> ago</div>
    </div>
  </div>
  <div class="content">
  </div>
</li>
