<li class="item tab share">
  <a name="<%=activity.album_id%>"></a>
  <div class="title">
    <a href="<%=user_path(activity.album.user)%>">
      <div class="profile-photo">
        <%= render :partial => 'users/profile_photo', :locals => { :user => activity.album.user }    %>
      </div>
    </a>
    <div class="profile-name">
    <a href="<%=user_path(activity.album.user)%>">
      <% if current_user && current_user.id == activity.album.user.id %>
          You
      <%else%>
        <%=activity.album.user.name%>
      <%end%>
    </a>
    Invited
    <%if activity.invited_user_id%>
      <a href="<%=user_path(activity.invited_user_id)%>">
      <% if current_user && current_user.id == activity.invited_user_id %>
        You
      <%else%>
        <%=activity.invited_user.name%>
      <%end%>
      </a>
    <%else%>
         <a href="mailto:<%=activity.invited_user_email%>">
        <%=activity.invited_user_email%>
        </a>
    <%end%>
    to
    <%case activity.invite_kind %>
      <%when InviteActivity::VIEW%>
      view
      <%when InviteActivity::CONTRIBUTE%>
      contribute photos into
    <%end%>
    <%if view == 'album' %>
        this album
    <%else%>
        <a href="<%=album_pretty_url(activity.album)%>"> <%=activity.album.name%> </a>
                 
    <%end%>
    <div class="tagline"><%=time_ago_in_words(activity.created_at) %> ago</div>
    </div>
  </div>
</li>
