<li class="item tab share">
  <a name="<%=activity.share.id%>"></a>
  <div class="title">
    <a href="<%=user_path(activity.user)%>">
      <div class="profile-photo">
        <%= render :partial => 'users/profile_photo', :locals => { :user => activity.user }    %>
      </div>
    </a>
    <div class="profile-name">
    <a href="<%=user_path(activity.user)%>">
        <span class="blue"><%=activity.user.name%></span>
    </a>
      <%if view == 'activity' %>
          <% if activity.share.album? %>
              shared this album
          <% elsif activity.share.photo? %>
              shared a photo
          <% end %>

      <%else%>
          <% if activity.share.album? %>
              shared album
              <a href="<%=album_pretty_url(activity.subject)%>">
                <%=activity.subject.name%>
              </a>
              <span class="tagline">
                by <a href="<%=user_pretty_url(activity.subject.user)%>"> <%=activity.subject.user.name%>  </a>
              </span>
          <% elsif activity.share.photo? %>
              shared <a href="<%=photo_pretty_url(activity.subject)%>"> this photo </a> 
              <span class="tagline">
                by <a href="<%=user_pretty_url(activity.subject.user)%>"> <%=activity.subject.user.name%>  </a>
              </span>
          <% end %>
      <%end%>


      <%case activity.share.service%>
        <% when 'email' then%>
          by email
        <% when 'social'  then%>
          on <%= activity.share.recipients.first.capitalize%>
         <%= ( activity.share.recipients.count >1 ? ' and '+activity.share.recipients.last.capitalize : '' )  %>
    <%end%>
     <div class="tagline"><%=time_ago_in_words(activity.created_at) %> ago</div>
    </div>
  </div>
  <div class="content">
    <div class="content">
    <%if activity.share.photo? %>
        <div class="timeline-grid" data-photo-id="<%=activity.subject.id%>"></div>
    <%end%>
  </div>
  </div>
</li>
