<li class="item tab like">
  <a name="<%=activity.upload_batch.id%>"></a>
  <div class="title">
    <a href="<%=user_path(activity.user)%>">
      <div class="profile-photo">
        <%= render :partial => 'users/profile_photo', :locals => { :user => activity.user }    %>
      </div>
    </a>
    <div class="profile-name">
    <a href="<%=user_path(activity.user)%>">
        <span class="blue"><%=activity.user.name%></span>
    </a>
    added <%=( (i = activity.upload_batch.photos.length) > 1 ? "#{i} photos" : "1 photo")%>
    to album &ldquo;<a href="<%=album_path(activity.album)%>" class="blue"><%=activity.album.name%></a>&rdquo;
    <div class="tagline">about <%=time_ago_in_words(activity.upload_batch.created_at) %> ago</div>
    </div>
  </div>
  <div class="content">
      <%if i > 4 %>
            <div class="more"><a href="javascript:void(0);" class="more-less-btn blue" data-upload-batch-id="<%=activity.upload_batch.id%>">Show more photos</a> </div>
       <%end%>
    <div class="timeline-grid" data-upload-batch-id="<%=activity.upload_batch.id%>"></div>
  </div>
</li>


