<li class="item tab add">
  <a name="<%=activity.upload_batch.id%>"></a>
  <div class="title">
    <a href="<%=user_path(activity.user)%>">
      <div class="profile-photo">
        <%= render :partial => 'users/profile_photo', :locals => { :user => activity.user }    %>
      </div>
    </a>
    <div class="profile-name">
    <% if activity.user.automatic? %>
         <%=activity.user.name%>
    <% else %>
         <a href="<%=user_path(activity.user)%>"><%=activity.user.name%> </a>
    <% end %>
    added <%=pluralize( i = activity.upload_batch.photos.length, "photo" )%>
    <% if view != 'album' %>
    <%end %>
    <div class="tagline"><%=time_ago_in_words(activity.created_at) %> ago</div>
    </div>
  </div>
  <div class="content">
      <%if i > 4 %>
            <div class="more"><a href="javascript:void(0);" class="more-less-btn" data-upload-batch-id="<%=activity.upload_batch.id%>"><div class="slit-right"></div><span>Show more photos</span></a> </div>
       <%end%>
    <div class="timeline-grid" data-upload-batch-id="<%=activity.upload_batch.id%>"></div>
  </div>
</li>


