<% content_for :meta_tags do %>
    <%= render :partial => "facebook/album_opengraph_tags" %>
<% end %>



<div class="viewlist">
  <ul>
    <li class="item">
      <div class="header bar">
        Activities
      </div>
    </li>
    <% @activities.each do |activity| %>
        <%next unless activity.payload_valid? && activity.display_for?(current_user, Activity::ALBUM_VIEW) %>
        <%case activity %>
        <%  when UploadActivity then%>
            <%= render :partial => 'upload_activity', :locals => {:activity => activity, :view => Activity::ALBUM_VIEW } %>
        <%  when ShareActivity then%>
            <%= render :partial => 'share_activity', :locals => {:activity => activity, :view => Activity::ALBUM_VIEW } %>
        <%  when CreateAlbumActivity then%>
            <%= render :partial => 'create_album_activity', :locals => {:activity => activity, :view => Activity::ALBUM_VIEW} %>
        <%  when LikeActivity then%>
            <%= render :partial => 'like_activity', :locals => {:activity => activity, :view => Activity::ALBUM_VIEW } %>
        <%  when InviteActivity then%>
            <%= render :partial => 'invite_activity', :locals => {:activity => activity, :view => Activity::ALBUM_VIEW } %>
        <%end%>
    <%end%>
  </ul>

</div>


<% content_for :page_javascript do %>
    <script type="text/javascript">

        // todo: this code is copied for the 3 album views; need to pull into partial

        zz.album_id = '<%= @album.id %>';
        zz.album_type = '<%=escape_javascript @album.type %>';
        zz.album_lastmod = '<%= @album.cache_version %>';
        zz.album_type = zz.album_type.split('Album')[0].toLowerCase();
        zz.current_user_can_download = <%=( @album.can_user_download?( current_user )? 'true':'false')%>;
        zz.displayed_user_id   = '<%= @album.user.id %>';
        zz.album_base_url = '/<%=escape_javascript @album.user.username%>/<%=escape_javascript @album.friendly_id%>';
        zz.user_base_url = '/<%=escape_javascript @album.user.username%>';
        zz.album_name = '<%=escape_javascript @album.name %>';
        zz.back_to_home_page_url = '<%= back_to_home_page_url @album %>';
        zz.back_to_home_page_caption = '<%= escape_javascript back_to_home_page_caption @album %>';
        zz.current_photo_index = 0;
    </script>


    <script type="text/javascript">
        $(document).ready(function(){
            zz.album.init_timeline_view();
        });
    </script>
    

<% end %>