<% content_for :page_title do %><%= @user.posessive_short_name %> Activity<% end %>

<% content_for :canonical_url do %><%=user_activities_pretty_url(@user)%><% end %>


<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>

<div class="viewlist">
  <ul>
    <li class="item">
      <div class="header bar">
        Activities
      </div>
    </li>
    <%if @user_is_auto_follow == false %>
    <% @activities.each do |activity| %>
        <%next unless activity.payload_valid? && activity.display_for?(current_user, Activity::USER_VIEW)%>
        <%case activity %>
        <%  when CreateAlbumActivity then%>
            <%= render :partial => 'create_album_activity', :locals => {:activity => activity, :view => Activity::USER_VIEW } %>
        <%  when LikeActivity then%>
            <%= render :partial => 'like_activity', :locals => {:activity => activity, :view => Activity::USER_VIEW } %>
        <%  when CommentActivity then%>
            <%= render :partial => 'comment_activity', :locals => {:activity => activity, :view => Activity::USER_VIEW } %>
        <%else%>
            <% #do not display any other kind of activity %>
        <%end%>
    <%end%>
    <%end%>
  </ul>
</div>


<% content_for :page_javascript do %>

    <%= render :partial => "albums/homepage_view_javascript" %>

<% end %>