            <div class="flash-box">
<% if(  @user && @user.errors) %>
          <% @user.errors.each do | key, value| %>
         		<p class="error-notice">(<%= key %>) <%= value %></p>
		  <% end %> 
<% else %>
          <p class="error-notice">Please check the highlighted field(s) below...</p>
<% end %> 
          </div>
          <form id="join-form" method="post" enctype="multipart/form-data" action=<%=create_user_path%>>
            <dl class="clearfix">
              <dt><label for="user_name">First and Last Name</label></dt>
              <dd><input type="text" value="<%=(@user ? @user.name : '')%>" size="30" name="user[name]" id="user_name"></dd>
              <dt><label for="user_username">Username</label></dt>
              <dd><input type="text" value="<%=(@user ? @user.username: '')%>" size="30" name="user[username]" id="user_username"></dd>
              <dt class="full-t">zangzing.com/<span id="update-username">your_username</span></dt>
              <dd class="full-t"></dd>
              <dt><label for="user_email">Email Address</label></dt>
              <dd><input type="text" value="<%=(@user ? @user.email: '')%>" size="30" name="user[email]" id="user_email"></dd>
              <dt><label for="user_session_password">Password</label></dt>
              <dd><input type="password" size="30" name="user[password]" id="user_password"></dd>
              <dt class="full-t">By joining you accept and agree to <a target="_blank" href="/tos.html" onClick="window.open('/tos.html','TOC','status=yes,scrollbars=yes,resizable=yes,width=600,height=480'); return false">the terms of service</a></dt>
              <dd class="full-t"></dd>              

              <dt class="dialog-buttons"></dt>
              <dd class="dialog-buttons">
                <div style="float:right;">
                  <a id="join_form_cancel_button" class="black-button"><span>Cancel</span></a>
                  <a id="join_form_submit_button" class="green-button"><span>Join</span></a>
                </div>
                <input type="submit" style="visibility:hidden"/>
              </dd>            
            </dl>
  
          </form>          
