<div class="offset" >
  <H2>START FLASHES </H2>
  <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <H2>END FLASHES </H2> 
  <H2>START NICE ERRORS</H2>
  <%= error_messages_for :user_session, :header_message => "Is it really you?", :message => "We could not sign you in because:"%>
  <H2>END NICE ERRORS</H2>
  <H2>START FORMAT HOWEVER WE WANT ERRORS</H2>
  <% @user_session.errors.each do | key, value| %>
    <%= key %>:  <%=value %>
  <%end %>
  <H2>END FORMAT HOWEVER WE WANT ERRORS</H2>
</div>
<% content_for :page_javascript do  # this places our page-specific js with the rest of the js at the bottom of the html -%>
<script>
  (function($) {
      $('#sign-up').hide();
      $('#sign-in').show();  
      $('#small-drawer').animate({height: '410px', top: '53px'});
      zz.zang.drawer_open = 1 ;  
   })(jQuery);
</script>
<% end %>