<div id="header">
  <div id="header-left"></div>
  <div id="header-middle"></div>
  <div id="header-right"></div>


  <div id="home-button"></div>
  <% if @album %>
      <a id="back-button" class="back-button"><span>All Albums</span></a>
  <% end %>




  <% if @album %>
      <div id="album-info">
<%
    if(!@album.cover)  #no cover photo
%>
        <div id="album-cover-border">
              <img class="album-cover" style="width:60px; height:40px" src="/images/album-no-cover.png"/>
              <img class="bottom-shadow" style="width:64px;" src="/images/photo/bottom-full.png"/>
        </div>


<%
    elsif (@album.cover.state != 'ready') #not finished uploading/processing -- just stretch to fit
%>
        <div id="album-cover-border">
              <img class="album-cover" style="width:60px; height:40px" src="/images/album-no-cover.png"/>
              <img class="bottom-shadow" style="width:64px;"  src="/images/photo/bottom-full.png"/>
        </div>

        <% content_for :page_javascript do %>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('img.album-cover').attr('src', agent.checkAddCredentialsToUrl('<%=@album.cover.thumb_url%>'));
                })
            </script>
        <% end %>


<%
    else #scale to 40px tall
        height = 40
        width = @album.cover.width * (height.to_f / @album.cover.height.to_f)
%>
        <div id="album-cover-border">
              <img class="album-cover" style="width:<%=width%>px; height:<%=height%>px" src="<%= @album.cover.thumb_url%>"/>
              <img class="bottom-shadow" style="width:<%=width+4%>px;" class="bottom-shadow" src="/images/photo/bottom-full.png"/>
        </div>

<%
    end
%>

          <div id='album-name-and-owner'>
                <h2 id="album-header-title"><%= truncate((@album.name), :length => 30) %></h2>
                <h3><%="by #{@album.user.first_name} #{@album.user.last_name}"%></h3>
          </div>
      </div>

<% else #this is for when you create an album from the user's home page %>

     <div id="album-info" style="display:none">
       <div id="album-cover-border">
             <img class="album-cover" style="width:60px; height:40px" src="/images/album-no-cover.png"/>
             <img class="bottom-shadow" style="width:64px;" src="/images/photo/bottom-full.png"/>
       </div>

        <div id='album-name-and-owner'>
              <h2 id="album-header-title"></h2>
              <h3></h3>
        </div>
    </div>
<% end %>

<% if @user %>
  <div id="user-info" style="display:<%= @user && !@user.changed? ? 'inline-block' : 'none' %>">
        <div class="profile-picture" id="user-info-picture" style="background-image:   url('<%=( @user ? @user.profile_photo_url : '' )%>');"></div>
        <h2><%="#{@user.first_name} #{@user.last_name}"%></h2>
  </div>
<% end %>

  <% if @album %>
      <ul id="view-buttons">
          <li id="grid-view-button"></li>
          <li id="picture-view-button"></li>
          <li id="people-view-button"></li>
          <li id="activities-view-button"></li>
      </ul>
  <% end %>

  <div id="help-button"><div class="header-button-label">Help</div></div>


  <% if current_user %>
    <div id="account-badge">
      <div class="profile-picture" id="account-image" style="background-image:   url('<%= current_user.profile_photo_url %>');"></div>
      <img id="arrow-image" src="/images/icon-down-arrow-22px.png" />
      <div class="header-button-label">Account</div>
      <ul class="context_menu dropdown" id="acct-dropdown">
        <li id="acct-settings-btn">Settings</li>
        <li id="acct-signout-btn" href="/signout">Signout</li>
      </ul>

    </div>
  <% else %>
      <div id="sign-in-button"><div class="header-button-label">Sign In</div></div>
  <% end %>


</div>




<div id="drawer">
  <div class="body">
    <div id="drawer-content">
      <div id="drawer-tabs"></div>
      <div id="tab-content"></div>
    </div>
  </div>
  <div id="cancel-drawer-btn" style="display:none;">Cancel New Album</div>
</div>

<div id="small-drawer">
  <div id="sign-up" class="body" style="display:none;">
    <ul id="small-indicator" class="clearfix">
      <li id="step-join-on"></li>
      <li id="step-sign-in-off"></li>
    </ul>
    <%= render :partial => 'user_sessions/sign_up_form' %>
  </div>

  <div id="sign-in" class="body">
    <ul id="small-indicator" class="clearfix">
      <li id="step-join-off"></li>
      <li id="step-sign-in-on"></li>
    </ul>
    <div id="small-top">
      <h2>Sign in</h2>
      <h3>Welcome Back!</h3>
    </div>
    <%= render :partial => 'users/signin_form' %>
  </div>
</div>