<div id="header">
  <div id="header-left"></div>
  <div id="header-middle"></div>
  <div id="header-right"></div>


  <div id="home-button"></div>

  <% if @album %>
      <div id="album-info">
            <div id="album-cover-border">
              <img class="album-cover" style="width:60px; height:40px" src="/images/album-no-cover.png"/>
              <img class="bottom-shadow" style="width:64px;"  src="/images/photo/bottom-full.png"/>
            </div>

            <% if @album.cover %>
                <% content_for :zz_js_document_ready do %>
                            zz.toolbars.load_album_cover('<%= @album.cover.thumb_url%>');
                <% end %>
            <% elsif @album.type == 'ProfileAlbum' %>
                <% content_for :zz_js_document_ready do %>
                            zz.toolbars.load_album_cover('<%= ProfileAlbum.default_profile_small_url %>');
                <% end %>
            <% end %>


        <div id='album-name-and-owner'>
          <h2 id="album-header-title" class="ellipsis"><%= truncate((@album.name), :length => 40) %></h2>
          <h3>by <a href="<%= user_pretty_url @album.user %>"><%=truncate("#{@album.user.first_name} #{@album.user.last_name}", :length=>40 )%></a></h3>
          <%if !current_user || current_user!=@album.user # do not show like for self%>
              <div id="owner-follow" class="zzlike zzlike-follow" data-zzid="<%=@album.user.id%>" data-zztype="user" data-zzstyle="toolbar" ></div>
          <%end%>
        </div>
      </div>

  <%else #this is for when you create an album from the user's home page %>

      <div id="album-info" style="display:none">
        <div id="album-cover-border">
          <img class="album-cover" style="width:60px; height:40px" src="/images/album-no-cover.png"/>
          <img class="bottom-shadow" style="width:64px;" src="/images/photo/bottom-full.png"/>
        </div>

        <div id='album-name-and-owner'>
          <h2 id="album-header-title"></h2>
          <h3></h3>
        </div>
      </div>
  <% end %>

<% if @album #this needs to be after album and user info so that it floats on top%>
  <div id="top-breadcrumb">
    <a id="back-button" class="back-button"><span>Back</span></a>
    <%
        # SUNSET
        # <a id="top-add-photos-button" class="green-add-button"><span>Add Photos</span></a>
    %>
  </div>
<% elsif @show_back_button %>
  <div id="top-breadcrumb">
    <a id="back-button" class="back-button"><span>Back</span></a>
  </div>
<% end %>

<%
# SUNSET
# if @is_homepage_view && current_user == @user
#   <a id="inline-new-album-button" class="green-add-button"><span>New Album</span></a>
# end
%>




<% if @user %>
  <div id="user-info" style="display:<%= @user && !@user.changed? ? 'inline-block' : 'none' %>">
        <div id="user-info-picture" >
         <%= render :partial => 'users/profile_photo', :locals => { :user => @user }    %>
        </div>
        <div id="user-name">
            <h2 <%=( !current_user || current_user!=@user ? 'class=with-follow' : '' )%> ><%=truncate( "#{@user.first_name} #{@user.last_name}", :length=>27)%></h2>
            <%if !current_user || current_user!=@user # do not show like for self%>
                <div id="owner-follow" class="zzlike zzlike-follow" data-zzid="<%=@user.id%>" data-zztype="user" data-zzstyle="toolbar" ></div>
            <%end%>
        </div>
  </div>
<% end %>

  <% if @album || (@user && /albums|people|activities/.match( @controller.controller_name)) %>
      <ul id="view-buttons">
          <li id="grid-view-button"></li>
          <li id="people-view-button" ></li>
          <li id="activities-view-button"></li>
      </ul>
  <% end %>

  <%if current_user && current_user.admin?%>
      <a href="/service/admin">
        <div id="admin-button"><div class="header-button-label">Admin</div></div>
      </a>
  <%else%>
    <div id="help-button"><div class="header-button-label">Help</div></div>
  <%end%>
  <div id="header-right-gradient"></div>

  <% if current_user %>
      <%if current_user.admin?%>
          <div id="account-badge" class="admin-badge">
      <%else%>
           <div id="account-badge">
      <%end%>
       <div id="account-image" >
         <%= render :partial => 'users/profile_photo', :locals => { :user => current_user}    %>
       </div>
      <img id="arrow-image" src="/images/icon-down-arrow-22px.png" />
      <div class="header-button-label">Account</div>
      <ul class="context_menu dropdown" id="acct-dropdown">
        <li id="acct-settings-btn">Settings</li>
        <li id="acct-signout-btn">Signout</li>
        <%
           # SUNSET
           # <li id="acct-get-started-btn" >Getting Started</li>
           # <li id="acct-invite-friends-btn" >Invite Friends</li>
           # <li id="acct-blog-btn">Blog</li>
        %>
      </ul>

    </div>
  <% else %>
      <div id="sign-in-button"><div class="header-button-label">Sign In</div></div>
  <% end %>


</div>




<div id="drawer">
  <div class="body">
    <div id="drawer-content">
      <div id="drawer-tabs"></div>
      <div id="tab-content"></div>
    </div>
  </div>
  <div id="cancel-drawer-btn" style="display:none;">Cancel New Album</div>
</div>


<div id="checkout-banner">
  <div class="close-button"></div>
  <div class="message"></div>
  <a class="green-button checkout-button"><span>Checkout</span></a>
</div>

