  <div id="header" class="round shadow"> 
            <ul class="navigation">
	          <li><%= link_to "Home", root_url %></li>
			  <% if signed_in? %>
			    <li><%= link_to "Users", users_path %></li>
			    <li><%= link_to "Profile", current_user %></li>
			  	<li><%= link_to "Settings", edit_user_path(current_user) %></li>
			  <% end %>
	
	          <li><%= link_to "Help", help_path %></li>
	          <% if signed_in? %>
			        <li><%= link_to "Sign out", signout_url%></li>
			  <% else %>
			        <li><%= link_to "Sign in", signin_path %></li>
			   <% end %>			
	       </ul>
           <%= link_to image_tag("zangzing_bar_logo.jpg", :alt => "ZangZing", :class => "logo"), root_path %>
  </div>
