<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= title %></title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Mauricio Alvarez">
	<!-- Date: 2010-04-19 -->

    <%= render 'layouts/javascript' %>
   	<%= render 'layouts/stylesheets' %>


</head>
<body>
	<div class="container">

	      <div id="content" class="round">
	        <% flash.each do |key, value| %>
	          <div class="flash <%= key %>"><%= value %></div>
	        <% end %>
	        <%= yield %>
	      </div>
		<%= debug(params) if Rails.env.development? %>

	</div>

</body>
</html>
