<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->
    

    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2010, ZangZing, Inc. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />
<%  if @meta_description -%>
    <meta name="description" content="<%= @meta_description %>" />
<%  end %>

    <% if @page_title_override 
       title = @page_title_override
    else
       title = "ZangZing" 
    end
    if ! Rails.env.production?
      title = "#{title} Version: #{Server::Application.config.zangzing_version} Controller: #{controller.controller_name} Action: #{ controller.action_name}"
    end %>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/lib.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/main.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/wizard.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/album.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/add-photos.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/user.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/thumbtray.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/jquery.autocomplete.css" media="all" />

    <!-- TODO: favicon 
    <link rel="shortcut icon" href="images/favicon.png"/> -->
    
    <!-- TODO: iPhone/iPad icon 
    <link rel="apple-touch-icon" href="images/zz_icon.png"/> -->
    
    <!--[if IE 7]>
    <link rel="stylesheet" href="stylesheets/ie7.css" media="all" />
    <![endif]-->
    
    <!--[if lte IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<%  # Add in template based style tags by defining this in the template
    if @content_for_page_stylesheet -%>
    <%= @content_for_page_stylesheet %>
<%  end 
    # Add in template based scripts that need to be in the head by defining this in the template
    if @content_for_page_head -%>
    <%= @content_for_page_head %>
<%  end -%>    
  </head>
  <body id="<%= controller.controller_name + '-' + controller.action_name %>" class="<%= controller.controller_name %>">
    
    <div id="container">
    
      <%= render :partial => 'layouts/bottom_nav' %>


      <%= render :partial => 'layouts/top_nav'  %>




        <article>

          <%= yield :layout %>

        </article>

    </div>

    <div id="clones">
      <ul id="clone-indicator" class="clearfix">
        <li></li>
      </ul>
    </div>
    
    <script type="text/javascript" src="/javascripts/lib/jquery.js" ></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.validate.js" ></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.lazyload.mini.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.client.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery-ui-1.8.6.custom.min.js"></script>

    <script type="text/javascript" src="/javascripts/lib/jquery.ba-bbq.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.jsonp.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/agent.js"></script>
    <script type="text/javascript" src="/javascripts/upload_status.js"></script>
    <script type="text/javascript" src="/javascripts/server.js"></script>
    <script type="text/javascript" src="/javascripts/logging.js"></script>
    <script type="text/javascript" src="/javascripts/imageloader.js"></script>

    <script type="text/javascript" src="/javascripts/zz/zz.core.js" ></script>
    <script type="text/javascript" src="/javascripts/zz/zz.inits.js" ></script>
    <script type="text/javascript" src="/javascripts/zz/zz.validate.js" ></script>
    <script type="text/javascript" src="/javascripts/zz/zz.wizard.js" ></script>
    <script type="text/javascript" src="/javascripts/zz/zz.drawers.js" ></script>
    <script type="text/javascript" src="/javascripts/zz/zz.toolbars.js" ></script>
    <script type="text/javascript" src="/javascripts/zz/pages.js" ></script>

    <script type="text/javascript" src="/javascripts/filechooser.js" ></script>
    <script type="text/javascript" src="/javascripts/oauthmanager.js" ></script>
    <script type="text/javascript" src="/javascripts/sharecontacts.js" ></script>
    <script type="text/javascript" src="/javascripts/thumbtray.js" ></script>

<%  # Add in template based javascript by defining this in the template
    if @content_for_page_javascript -%>
    <%= @content_for_page_javascript %>
<%  end -%>
    <script type="text/javascript">
      /* Vars our js fns need from ruby (calls/conditionals) - NO SECURE DATA
      ----------------------------------------------------------------------- */
<%    if signed_in?  -%>
      zz.current_user_id = '<%= current_user.id %>';
      zz.current_user_name = '<%= current_user.username %>';
<%    end -%>

<%  if @album  -%>
      zz.album_id = '<%= @album.id %>';
      zz.album_type = '<%= @album.type %>';
      zz.album_type = zz.album_type.split('Album')[0].toLowerCase();
<%    end
      # This is where we pass things on to js that we need from ruby.
      # Remember to use the zz.zang namespace.
-%>
      zz.base = '<%= request.env['HTTP_HOST'] %>';

      /* Fire up our inits starting up the entire waxy ball!!
      ----------------------------------------------------------------------- */
      (function($) {

      $(function() {
            zz.init.template();

      <%if controller.controller_name == 'photos' -%>
            zz.init.album();
      <%end%>

      <%if (controller.controller_name == 'activities' ||  controller.controller_name == 'people') && controller.action_name == 'album_index' -%>
            zz.init.album_timeline_view();
      <%end%>
       });
       $(window).bind("load", function() {
<%      # Same here... -%>
          setTimeout('zz.init.loaded()', 64);
        });

        $(window).bind("resize", function() {
<%      # And here... -%>
          zz.init.resized();
        });

      })(jQuery);
    </script>


  </body>
</html>
