<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->
    

    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2010, ZangZing, Inc. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />
<%  if @meta_description -%>
    <meta name="description" content="<%= @meta_description %>" />
<%  end %>
    <%= yield :meta_tags %>



    <% if @page_title_override 
       title = @page_title_override
    else
       title = "ZangZing" 
    end
    if ! Rails.env.production?
      title = "#{title} Version: #{Server::Application.config.zangzing_version} Controller: #{controller.controller_name} Action: #{ controller.action_name}"
    end %>
    <title><%=title%></title>

    <%= include_stylesheets :common %>

    <link href="http://s3.amazonaws.com/getsatisfaction.com/feedback/feedback.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/favico.ico"/>


<%  # Add in template based style tags by defining this in the template -%>
    <% yield :page_stylesheet %>
<%   # Add in template based scripts that need to be in the head by defining this in the template -%>
    <%= yield :page_head %>
  </head>
  <body id="<%= controller.controller_name + '-' + controller.action_name %>" class="<%= controller.controller_name %>">
    

    <div id='article'>

      <%= yield :layout %>

    </div>

    <div id="container">
      <div id="dialog-modal" title="Basic modal dialog"></div>
      
      <%= render :partial => 'layouts/top_nav'  %>
      
      <%= render :partial => 'layouts/bottom_nav' %>

    </div>


    <!--todo:get rid of this. move to wizard.js -->
    <div id="clones">
      <ul id="clone-indicator" class="clearfix">
        <li></li>
      </ul>
    </div>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <%= include_javascripts :jquery_lib %>
    <%= include_javascripts :zz %>
    <%= include_javascripts :zz_oauthmanager %>
    <%= include_javascripts :zza %>

    <script src='http://s3.amazonaws.com/getsatisfaction.com/feedback/feedback.js' type='text/javascript'></script>
    <script type="text/javascript" charset="utf-8">
        var tab_options = {}
        tab_options.placement = "hidden";  // left, right, bottom, hidden
        tab_options.color = "#222"; // hex (#FF0000) or color (red)
        GSFN.feedback('http://getsatisfaction.com/zangzing/feedback/topics/new?display=overlay&style=idea', tab_options);
    </script>


    <%   # Pull in generated javascript for the page -%>
    <%= yield :page_javascript %>
    <script type="text/javascript">
      /* Vars our js fns need from ruby (calls/conditionals) - NO SECURE DATA
      ----------------------------------------------------------------------- */
<%    if signed_in?  -%>
      zz.current_user_id = '<%= current_user.id %>';
      zz.current_user_name = '<%= current_user.username %>';
<%    end -%>

<%  if @album  -%>
      zz.album_id = '<%= @album.id %>';
      zz.album_type = '<%= @album.type %>';
      zz.album_lastmod = '<%= @album.photos_last_updated_at.to_i %>';
      zz.album_type = zz.album_type.split('Album')[0].toLowerCase();
<%    end
      # This is where we pass things on to js that we need from ruby.
      # Remember to use the zz.zang namespace.
-%>
      zz.base = '<%= request.env['HTTP_HOST'] %>';

      /* Fire up our inits starting up the entire waxy ball!!
      ----------------------------------------------------------------------- */
      (function($) {

      $(function() {
            zz.init.template();

      <%if controller.controller_name == 'photos' -%>
            zz.init.album();
      <%end%>

      <%if (controller.controller_name == 'activities')  -%>
            zz.init.album_timeline_view();
      <%end%>

      <%if (controller.controller_name == 'people')  -%>
            zz.init.album_people_view();
      <%end%>

       });
       $(window).bind("load", function() {
<%      # Same here... -%>
          setTimeout('zz.init.loaded()', 64);
        });

        $(window).bind("resize", function() {
<%      # And here... -%>
          zz.init.resized();
        });

      })(jQuery);
    </script>




  </body>
</html>
