<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->
    
    <meta http-equiv="Content-Language" Content="en">

    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2010, ZangZing, Inc. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />
<%  if @meta_description -%>
    <meta name="description" content="<%= @meta_description %>" />
<%  end %>
    <%= yield :meta_tags %>

    <link rel="shortcut icon" href="/images/favicon.ico"/>

    <% if @page_title_override 
       title = @page_title_override
    else
       title = "ZangZing" 
    end
    if ! Rails.env.production?
      title = "#{title} Version: #{Server::Application.config.zangzing_version} Controller: #{controller.controller_name} Action: #{ controller.action_name}"
    end %>
    <title><%=title%></title>

    <%= include_stylesheets :common %>



<%  # Add in template based style tags by defining this in the template -%>
    <% yield :page_stylesheet %>
<%   # Add in template based scripts that need to be in the head by defining this in the template -%>
    <%= yield :page_head %>
  </head>
  <body id="<%= controller.controller_name + '-' + controller.action_name %>" class="<%= controller.controller_name %>">
    

    <div id='article'>

      <%= yield :layout %>

    </div>

    <div id="container">
      <div id="dialog-modal" title="Basic modal dialog"></div>
      
      <%= render :partial => 'layouts/top_nav'  %>
      
      <%= render :partial => 'layouts/bottom_nav' %>

    </div>


    <!--todo:get rid of this. move to wizard.js -->
    <div id="clones">
      <ul id="clone-indicator" class="clearfix">
        <li></li>
      </ul>
    </div>


    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <%= include_javascripts :jquery_lib %>
    <%= include_javascripts :zz %>
    <%= include_javascripts :zz_oauthmanager %>







    <%   # Pull in generated javascript for the page -%>
    <%= yield :page_javascript %>
    <script type="text/javascript">
      /* Vars our js fns need from ruby (calls/conditionals) - NO SECURE DATA
      ----------------------------------------------------------------------- */
<%    if signed_in?  -%>
      zz.current_user_id = '<%= current_user.id %>';
      zz.current_user_name = '<%= current_user.username %>';
<%    end -%>

<%  if @user   %>
      zz.displayed_user_id = '<%= @user.id %>';
<%  end -%>

<%  if @album  -%>
      zz.album_id = '<%= @album.id %>';
      zz.album_type = '<%= @album.type %>';
      zz.album_lastmod = '<%= @album.photos_last_updated_at.to_i %>';
      zz.album_type = zz.album_type.split('Album')[0].toLowerCase();
<<<<<<< HEAD
      zz.displayed_user_id = '<%= @album.user.id %>';
=======
      zz.album_base_url = '/<%=@album.user.username%>/<%=@album.friendly_id%>';
      zz.user_base_url = '/<%=@album.user.username%>';

>>>>>>> d20ff9e03218eae02e7ab724c08fa27eadd6843e
<%    end
      # This is where we pass things on to js that we need from ruby.
      # Remember to use the zz.zang namespace.
-%>

      /* Fire up our inits starting up the entire waxy ball!!
      ----------------------------------------------------------------------- */
      zz.init.template();

      <%if controller.controller_name == 'photos' -%>
            zz.init.album();
      <%end%>

      <%if (controller.controller_name == 'activities')  -%>
            zz.init.album_timeline_view();
      <%end%>

      <%if (controller.controller_name == 'people')  -%>
            zz.init.album_people_view();
      <%end%>

      $(window).bind("load", function() {
          setTimeout('zz.init.loaded()', 64);
      });

      $(window).bind("resize", function() {
          zz.init.resized();
      });

    </script>


    <script type="text/javascript" charset="utf-8">
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript" charset="utf-8">
      var feedback_widget_options = {};
      feedback_widget_options.display = "overlay";
      feedback_widget_options.company = "zangzing";
      feedback_widget_options.placement = "hidden";
      feedback_widget_options.color = "#222";
      feedback_widget_options.style = "question";
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>


  </body>
</html>
