<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    
    <meta http-equiv="Content-Language" Content="en">

    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2011, ZangZing, LLC. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />
<%  if @meta_description -%>
    <meta name="description" content="<%= @meta_description %>" />
<%  end %>
    <%= yield :meta_tags %>

    <link rel="shortcut icon" href="/favicon.ico"/>

    <% if @page_title_override 
       title = @page_title_override
    else
       title = "ZangZing - Group Photo Sharing"
    end
    if ! Rails.env.photos_production?
      title = "#{title} Version: #{Server::Application.config.zangzing_version} Controller: #{controller.controller_name} Action: #{ controller.action_name}"
    end %>
    <title><%=title%></title>


    <% if ! compatible_browser? %>
    <script>
        document.location.href = "/upgrade.html?upgrade_url=<%=upgrade_site_for_browser%>";
    </script>
    <% end %>

    <%= include_stylesheets :common %>

<% if Rails.env.development? && browser.ie? %>
    <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
<% end %>



<%  # Add in template based style tags by defining this in the template -%>
    <%= yield :page_stylesheet %>
<%   # Add in template based scripts that need to be in the head by defining this in the template -%>
    <%= yield :page_head %>



    <%= render :partial => 'layouts/zza'  %>



  </head>

  <%
      show_join_banner_class = 'show-join-banner'
      if (current_user || cookies['hide_join_banner'])
        show_join_banner_class = ''
      end


  %>


  <body id="<%= controller.controller_name + '-' + controller.action_name %>" class="<%= controller.controller_name %> <%= show_join_banner_class %>">



    <div id='join-banner'>
        <span id="banner-text">ZangZing is a new group photo sharing service. Click Join to get on the early access list. It's free!</span>
        <a  class="green-button" id="join-button"><span>Join</span></a>
        <a  class="gray-button" id="signin-button"><span>Sign In</span></a>
        <div id="close-button"></div>
    </div>

    <div id='page-wrapper'>

        <div id='article'>

          <%= yield :layout %>

        </div>

        <div id="container">
          <div id="dialog-modal" title="Basic modal dialog"></div>

          <%= render :partial => 'layouts/top_nav'  %>

          <%= render :partial => 'layouts/bottom_nav' %>

        </div>

   </div>


    <!--todo:get rid of this. move to wizard.js -->
    <div id="clones">
      <ul id="clone-indicator" class="clearfix">
        <li></li>
      </ul>
    </div>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <%= include_javascripts :lib %>
    <%= include_javascripts :zz %>
    <%= include_javascripts :zz_oauthmanager %>



    <%   # Pull in generated javascript for the page -%>
    <%= yield :page_javascript %>

    <%if session[:flash_dialog] %>
          <%= render :partial => 'pages/flash_dialog'%>
      <% session[:flash_dialog] = nil %>
    <%end%>


    <script type="text/javascript">
      /* Vars our js fns need from ruby (calls/conditionals) - NO SECURE DATA
      ----------------------------------------------------------------------- */
<%    if signed_in?  -%>
      zz.current_user_id = '<%= current_user.id %>';
      zz.current_user_name = '<%= escape_javascript current_user.username %>';
<%    end -%>

<%  if @user   %>
      zz.displayed_user_id = '<%=  @user.id %>';
<%  end -%>

<%  if @album  -%>
      zz.album_id = '<%= @album.id %>';
      zz.album_type = '<%=escape_javascript @album.type %>';
      zz.album_lastmod = '<%= @album.photos_last_updated_at.to_i %>';
      zz.album_type = zz.album_type.split('Album')[0].toLowerCase();
      zz.displayed_user_id = '<%= @album.user.id %>';
      zz.album_base_url = '/<%=escape_javascript @album.user.username%>/<%=escape_javascript @album.friendly_id%>';
      zz.user_base_url = '/<%=escape_javascript @album.user.username%>';
      zz.album_name = '<%=escape_javascript @album.name %>';
      zz.back_to_home_page_url = '<%= back_to_home_page_url @album %>';

<%    end
      # This is where we pass things on to js that we need from ruby.
      # Remember to use the zz.zang namespace.
-%>


      zz.rails_controller_name = '<%= controller.controller_name %>';
      zz.rails_action_name = '<%= controller.action_name %>';
      zz.rails_authenticity_token = '<%= form_authenticity_token %>';

      zz.win_download_url = '<%= ZangZingConfig.config[:agent_download_url_win] %>';
      zz.mac_download_url = '<%= ZangZingConfig.config[:agent_download_url_mac] %>';

      zz.rails_asset_id = '<%= ENV["RAILS_ASSET_ID"] %>';
      zz.rails_asset_host = '<%= ActionController::Base.asset_host %>';

      $(document).ready(function(){

          /* init
          ----------------------------------------------------------------------- */
          zz.init.template();




          <%if controller.controller_name == 'photos' -%>
                zz.init.album();
          <%end%>

          <%if (controller.controller_name == 'activities')  -%>
                zz.init.album_timeline_view();
          <%end%>

          <%if (controller.controller_name == 'people')  -%>
                zz.init.album_people_view();
          <%end%>

          $(window).bind("load", function() {
              setTimeout('zz.init.loaded()', 64);
          });

          $(window).bind("resize", function() {
              zz.init.resized();
          });


          <% if session[:show_welcome_dialog] %>
              zz.init.show_welcome_dialog();
              <% session[:show_welcome_dialog] = nil %>
          <% end %>


          
          Zenbox.init({
            dropboxID:   "14620",
            url:         "https://zangzing.zendesk.com",
            tabID:       "help",
            tabColor:    "black",
            tabPosition: "Left"
          });

          <%if session[:client_dialog] %>
          pages.alert_dialog.show( '<%=raw session[:client_dialog] %>' );
          <% session[:client_dialog] = nil %>
          <%end%>
      });

    </script>


  </body>
</html>
