<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="Content-Language" Content="en">
    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2011, ZangZing, LLC. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />
    <meta name="description" content="Group Photo Sharing" />

    <%= yield :meta_tags %>

    <link rel="shortcut icon" href="/favicon.ico"/>

    <title>ZangZing - Group Photo Sharing</title>


    <% if ! compatible_browser? %>
    <script>
        document.location.href = "/upgrade.html?upgrade_url=<%=upgrade_site_for_browser%>";
    </script>
    <% end %>

    <%= include_stylesheets :common %>

<% if Rails.env.development? && browser.ie? %>
    <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
<% end %>


<%  # Add in template based style tags by defining this in the template -%>
    <%= yield :page_stylesheet %>

<%   # Add in template based scripts that need to be in the head by defining this in the template -%>
    <%= yield :page_head %>

    <%= render :partial => 'layouts/zza'  %>
  </head>

  <%
      show_join_banner_class = 'show-join-banner'
      if (current_user || cookies['hide_join_banner'])
        show_join_banner_class = ''
      end
  %>


  <%
      show_system_message_class = ''
      system_message = ''
      if (SystemSetting[:system_message_enabled] && !cookies['hide_system_message_banner'])
          show_system_message_class = 'show-system-message-banner'
          system_message = SystemSetting[:system_message_text]
      end
  %>



  <body id="<%= controller.controller_name + '-' + controller.action_name %>" class="<%= controller.controller_name %> <%= show_join_banner_class %> <%= show_system_message_class %>">

    <div id='join-banner'>
        <span id="banner-text">ZangZing is a new group photo sharing service. Join today. It's free!</span>
        <a  class="green-button" id="join-button"><span>Join</span></a>
        <a  class="gray-button" id="signin-button"><span>Sign In</span></a>
        <div id="close-button"></div>
    </div>

    <div id='system-message-banner'>
        <span id="banner-text"><%=system_message%></span>
        <div id="close-button"></div>
    </div>

    <div id='page-wrapper'>

        <div id='article'>

          <%= yield :layout %>

        </div>

        <div id="container">
          <div id="dialog-modal" title="Basic modal dialog"></div>

          <%= render :partial => 'layouts/top_nav'  %>

          <%= render :partial => 'layouts/bottom_nav' %>

        </div>

   </div>


    <!--todo:get rid of this. move to wizard.js -->
    <div id="clones">
      <ul id="clone-indicator" class="clearfix">
        <li></li>
      </ul>
    </div>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <%= include_javascripts :lib %>
    <%= include_javascripts :zz %>
    <%= include_javascripts :zz_oauthmanager %>



    <%   # Pull in generated javascript for the page -%>
    <%= yield :page_javascript %>


    <% #todo: this should just call javascript function direclty. no need to pull in separate file with js and css
       if session[:flash_dialog] %>
          <%= render :partial => 'pages/flash_dialog'%>
      <% session[:flash_dialog] = nil %>
    <%end%>


    <script type="text/javascript">
      /* Vars our js fns need from ruby (calls/conditionals) - NO SECURE DATA
      ----------------------------------------------------------------------- */
<%    if signed_in?  -%>
      <% if  session[:impersonation_mode] == true %>
        $('#system-message-banner span#banner-text').text('WARNING: Impersonating "<%= "#{current_user.username} #{ current_user.name}" %>" please logout.')
                .css('color','red').css('text-decoration','blink');
        $('body').css('background-color', '#FF9999').addClass( 'show-system-message-banner');
      <%end %>
      zz.current_user_id = '<%= current_user.id %>';
      zz.current_user_name = '<%= escape_javascript current_user.username %>';
<%    end -%>

<%  if @user   %>
      zz.displayed_user_id = '<%=  @user.id %>';
      zz.displayed_user_base_url = '<%=escape_javascript user_path( @user )%>';
<%  end -%>

<%  if @album  -%>
      zz.album_id = '<%= @album.id %>';
      zz.album_type = '<%=escape_javascript @album.type %>';
      zz.album_lastmod = '<%= @album.cache_version %>';
      zz.album_type = zz.album_type.split('Album')[0].toLowerCase();
      zz.current_user_can_download = <%=( @album.can_user_download?( current_user )? 'true':'false')%>;
      zz.displayed_user_id   = '<%= @album.user.id %>';
      zz.album_base_url = '/<%=escape_javascript @album.user.username%>/<%=escape_javascript @album.friendly_id%>';
      zz.user_base_url = '/<%=escape_javascript @album.user.username%>';
      zz.album_name = '<%=escape_javascript @album.name %>';
      zz.back_to_home_page_url = '<%= back_to_home_page_url @album %>';
      zz.back_to_home_page_caption = '<%= escape_javascript back_to_home_page_caption @album %>';

      zz.current_photo_index = 0;

<%    end
      # This is where we pass things on to js that we need from ruby.
      # Remember to use the zz.zang namespace.
-%>


      zz.rails_controller_name = '<%= controller.controller_name %>';
      zz.rails_action_name = '<%= controller.action_name %>';
      zz.rails_authenticity_token = '<%= form_authenticity_token %>';

      zz.win_download_url = '<%= ZangZingConfig.config[:agent_download_url_win] %>';
      zz.mac_download_url = '<%= ZangZingConfig.config[:agent_download_url_mac] %>';
      zz.agent_port = '<%= ZangZingConfig.config[:agent_port] %>';

      zz.rails_asset_id = '<%= ENV["RAILS_ASSET_ID"] %>';
      zz.rails_asset_host = '<%= ActionController::Base.asset_host %>';


      $(document).ready(function(){

          /* init
          ----------------------------------------------------------------------- */
          <% if @album %>
              <%case controller.controller_name%>
              <%   when 'photos':%>
              zz.album.init_grid_view();
              <%   when 'activities':%>
              zz.album.init_timeline_view();
              <%   when 'people':%>
              zz.album.init_people_view();
              <%end%>
          <%end%>

          zz.init.template();

          <% if session[:show_welcome_dialog] %>
              zz.welcome.show_welcome_dialog();
              <% session[:show_welcome_dialog] = nil %>
          <% end %>


          <%if session[:client_dialog] %>
          zz.client_dialog.show( '<%=raw session[:client_dialog] %>' );
          <% session[:client_dialog] = nil %>
          <%end%>


          <% if session[:send_zza_events_from_client]
                session[:send_zza_events_from_client].each do |event| %>
          ZZAt.track('<%= escape_javascript event.to_s %>');
          <%   end
               session[:send_zza_events_from_client] = nil
          end %>


          Zenbox.init({
            dropboxID:   "14620",
            url:         "https://zangzing.zendesk.com",
            tabID:       "help",
            tabColor:    "black",
            tabPosition: "Left"
          });
      });

    </script>
  </body>
</html>
