<%= form_for(@bench_test_photo_gen) do |f| %>
  <% if @bench_test_photo_gen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bench_test_photo_gen.errors.count, "error") %> prohibited this bench_test_photo_gen from being saved:</h2>

      <ul>
      <% @bench_test_photo_gen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :iterations %><br />
    <%= f.text_field :iterations %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
