<h1>Listing bench_test_photo_gens</h1>

<table>
  <tr>
    <th>Result message</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Iterations</th>
    <th>File size</th>
    <th>Album</th>
    <th>User</th>
    <th>Error count</th>
    <th>Good count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bench_test_photo_gens.each do |bench_test_photo_gen| %>
  <tr>
    <td><%= bench_test_photo_gen.result_message %></td>
    <td><%= bench_test_photo_gen.start %></td>
    <td><%= bench_test_photo_gen.stop %></td>
    <td><%= bench_test_photo_gen.iterations %></td>
    <td><%= bench_test_photo_gen.file_size %></td>
    <td><%= bench_test_photo_gen.album_id %></td>
    <td><%= bench_test_photo_gen.user_id %></td>
    <td><%= bench_test_photo_gen.error_count %></td>
    <td><%= bench_test_photo_gen.good_count %></td>
    <td><%= link_to 'Show', bench_test_photo_gen %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo gen', new_bench_test_photo_gen_path %>
