<p id="notice"><%= notice %></p>

<p>
  <b>Result message:</b>
  <%= @bench_test_photo_gen.result_message %>
</p>

<p>
  <b>Start:</b>
  <%= @bench_test_photo_gen.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @bench_test_photo_gen.stop %>
</p>
<p>
  <b>Iterations:</b>
  <%= @bench_test_photo_gen.iterations %>
</p>

<p>
  <b>File size:</b>
  <%= @bench_test_photo_gen.file_size %>
</p>

<p>
  <b>Album:</b>
  <%= @bench_test_photo_gen.album_id %>
</p>

<p>
  <b>User:</b>
  <%= @bench_test_photo_gen.user_id %>
</p>

<p>
  <b>Error count:</b>
  <%= @bench_test_photo_gen.error_count %>
</p>

<p>
  <b>Good count:</b>
  <%= @bench_test_photo_gen.good_count %>
</p>
<p>
  <%
      if @bench_test_photo_gen.stop && @bench_test_photo_gen.start
        @duration = @bench_test_photo_gen.stop - @bench_test_photo_gen.start
        @callrate = @bench_test_photo_gen.iterations / @duration
        @byterate = (@bench_test_photo_gen.file_size * @bench_test_photo_gen.iterations) / @duration
      end
  %>
  <b>Duration:</b>
  <%=
      @duration
  %>
</p>

<p>
  <b>Calls Per Sec:</b>
   <%=
       @callrate
   %>
</p>
<p>
  <b>Bytes Per Sec:</b>
   <%=
       @byterate
   %>
</p>


<%= link_to 'Back', bench_test_photo_gens_path %>
